{% extends '_layouts/base.html' %}

{% load bootstrap4 %}
{% load querystring from django_tables2 %}
{% load title from django_tables2 %}
{% load trans blocktrans from i18n %}
{% load django_bootstrap_breadcrumbs %}
{% load static %}


{% block extra_messages %}
	<!-- set the messages -->
	<div class="container">
		<div id="id_messages_remove"></div>
	</div>
{% endblock %}


{% block breadcrumbs %}
{{block.super}}
{% breadcrumb "Project Index" "project-index" %}
{% breadcrumb "TELEVIR Projects" "PIprojects_main"  %}
{% breadcrumb project_name  "" %}
{% endblock %}

{% block content %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/televir_main_page.css' %}">

{% endblock %}

<div class="metagenomics-table-container">
    {% block table %}
    <div class="table-responsive">

        <h4 class="table-title"> Metagenomics Management </h4>
        <p class="table-description"> 
            <i class="fa fa-flask"></i> 
            Run Metagenomics workflows, and validation by mapping.
            <i class="fa fa-cog"></i>
            Change settings (workflows, validation and reporting). 
            <i class="fa fa-database">‌</i>
            Add and manage targets for validation.
            <i class="fa fa-crosshairs fa-lg" aria-hidden="true">‌</i> 
            Focus on selected targets for validation (multi-sample and INSaFLU connection). 
            </p>
        <table id="table_with_check_id" class="table table-hover table-bordered table-striped" set-check-box-values-url="{% url 'set-check-box-values' %}"  check_box_all="{{ check_box_all }}" {% if table.attrs %} 
            {{ table.attrs.as_html }}{% endif %} >
            {% block table.thead %}
            <thead>
                {% if project_owner %}
                <tr>
                    <th colspan="6">
                        {% if not demo %}
                        <div class="btn-group">
                            {% if metagenomics %}
                            <button type="button" class="btn btn-primary dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-flask"></i>
                                <a><span class="hidden-phone"> Run </span></a> 
                            </button>
                            <div class="dropdown-menu pull-right">
                                <a href="#" id="deploypi_btn" class="dropdown-item" style="text-align:left;" deploy-url="{% url deploy_url %}" user-id="{{ user_id }}" project-id= "{{ project_index }}"><span class="hidden-phone" >  Classic Workflows </span></a>
                                <a href="#" id="deploypi_mapping_btn" class="dropdown-item" style="text-align:left;" deploy-url="{% url 'deploy_Project_PIMapping' %}" ><span class="hidden-phone"> Map Combined </span></a>
                                <a href="#" id="deploypi_added_mapping_btn" class="dropdown-item" style="text-align:left;" deploy-url="{% url 'map_selected_references_project_samples' %}" ><span class="hidden-phone"> Map Added </span></a>
                                <a href="#" id="deploypi_panels_btn" class="dropdown-item" style="text-align:left;" deploy-url="{% url 'map_panels_project_samples' %}" ><span class="hidden-phone"> Map Panels </span></a>
                            </div>
                            {% else %}
                            <button type="button" class="btn btn-primary dark" id="deploypi_btn" deploy-url="{% url deploy_url %}" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-flask"></i>
                                <a><span class="hidden-phone"> Run </span></a>
                            </button>
                            {% endif %}
                        </div>
                        {% endif %}
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dark" id="sortpi_btn" deploy-url="{% url 'sort_project_reports' %}" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-align-left"></i>
                                <a><span class="hidden-phone"> Sort sample reports </span></a>
                            </button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dark" aria-haspopup="true" aria-expanded="false">
                                <a href="{% url "all_PIproject_reports" pk1=project_index %}"><span class="hidden-phone" style="color:white"><i>View Project reports</i></span></a>
                                    </button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dark" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-cog" aria-hidden="true" ></i>
                                <a href="{% url "pathogenID_pipeline" level=project_index %}"><span class="hidden-phone" style="color:white"><i>Project Settings</i></span></a>
                                    </button>
                        </div>

                        <div class="btn-group" style="float: right;">
                            <button type="button" class="kill-runs btn btn-warning btn-primary" data-toggle="modal" data-target="#id_remove_all_modal">
                                <i class="fa fa-power-off" aria-hidden="true" ></i>
                              </button>
                        </div>

                    </th>
                    <th colspan="1">
                        <div class="btn-group d-flex justify-content-center">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-database" style="margin-right: 5px;"></i> Actions
                            </button>
                            <div class="dropdown-menu">
                                <button class="dropdown-item" data-toggle="modal" data-target="#myModal">Add Targets</button>
                                <button class="dropdown-item add-panels" data-toggle="modal" data-target="#addPanelModal" href="{% url 'get_project_panel_suggestions' %}">Add Panels</button>
                                <button id="teleflu_open" class="dropdown-item" data-toggle="modal" data-target="#teleflu_ref_modal">
                                    <i class="fa fa-crosshairs fa-lg" aria-hidden="true" style="margin-right: 5px;">‌</i>  Focus
                                </button>
                            </div>
                        </div>
                    </th>

                    <th colspan="1" style="text-align: center;">
                        Sample Select
                    </th>
                    <th colspan="4" style="">

                        <form method="get" class="form-inline form-search pull-right">
                            {% csrf_token %}
                            <input id="search_form_id" name="search_projects" type="text" class="form-control col-md-8"
                                placeholder="Sample Name" {% if search_projects %}
                                value="{{ search_projects }}" {% endif %}>
                            <button type="submit" class="btn btn-small btn-dark"><i class="fa fa-search"></i>
                                Search</button>
                        </form>  

                    </th>             
                </tr>
                {% endif %}
                <tr>
                    {% for column in table.columns %}
                    {% if column.orderable %}
                        <th {{ column.attrs.th.as_html }}><a href="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}">{{ column.header|title }}</a></th>
                    {% else %}
                        <th {{ column.attrs.th.as_html }}>{{ column.header|title }}</th>
                    {% endif %}                    
                    {% endfor %}
                </tr>
            </thead>
            {% endblock table.thead %}
            {% block table.tbody %}
            <tbody>
                {% for row in table.page.object_list|default:table.rows %} {# support pagination #}
                  {% block table.tbody.row %}
                  <tr id="row_{{ row.record.id }}" class="{% cycle "odd" "even" %}">
                    {% for column, cell in row.items %}
                      <td {{ column.attrs.td.as_html }}>{{ cell }}</td>
                    {% endfor %}
                  </tr>
                  {% endblock table.tbody.row %}
                {% empty %}
                  {% if table.empty_text %}
                  {% block table.tbody.empty_text %}
                      <tr><td colspan="{{ table.columns|length }}">{{ table.empty_text }}</td></tr>
                  {% endblock table.tbody.empty_text %}
                  {% endif %}
                {% endfor %}
            </tbody>
            {% endblock table.tbody %}
            {% block table.tfoot %}
                <tfoot></tfoot>
            {% endblock table.tfoot %}
        </table>
    </div>
    {% endblock table %}

    <p class="insa-description bg-insa-fixed-top" style=""><strong>
        <i class="fa fa-info-circle"></i> 
        <span class="hidden-phone">
            Note: You can change parameters to run new workflows. Results will be integrated to the Combined Report cumulatively.
            </span>
        </strong>
    </p>

    {% if table.page and show_paginatior %}
	{% block pagination %}
	<label id="id-total-list" class="pull-right">Total samples: {{ query_set_count }}</label>
	{% bootstrap_pagination table.page url=request.get_full_path %}
	{% endblock pagination %}
    </div>
    {% else %}
    <label id="id-total-list" class="pull-right">Total samples: {{ query_set_count }}</label>
    <br>
    {% endif %}


    {% if teleflu_projects_exist %}
    <div class="teleflu-table-container">
        <h4 class="table-title"> Reference Analysis </h4>
        <p class="table-description">
            <i class="fa fa-crosshairs fa-lg" aria-hidden="true">‌</i>
            Focus on selected targets for validation. 
            Coordinate processing and mapping workflows against selected references across multiple samples. 
        </p>

        <div>
        <ul id="teleflu-list">
            {% for project in teleflu_projects %}
            <li>
                <div class="teleflu-panel-container">

                    <div class="teleflu-manage clearfix">

                        <div class="reference-item">
                            <p class="reference-description">{{ project.ref_description }}</p>
                            <p class="reference-id">Taxid: {{ project.ref_taxid }}</p>
                            <p class="reference-id">Accid: {{ project.ref_accid }}</p>
                        </div>


                        <a href="{% url 'teleflu_project' project.id %}" class="teleflu-details btn btn-primary">View Details</a>

                        <a teleflu-id="{{project.id}}" href="#" class="request-add-teleflu-sample btn btn-primary" data-toggle="modal" data-target="#add_teleflu_sample_modal">
                            <i class="fa fa-plus" aria-hidden="true" style="margin-right: 5px;"></i> Samples: {{ project.samples }} 
                        </a>    

                    </div>

                    <div class="teleflu-results ">
                        {% if project.insaflu_project == "Finished" %}
                        <span class="insaflu-exists">
                            <a>
                                <i class="fa fa-check" aria-hidden="true"></i>
                                INSaFLU Project
                            </a>
                        </span>
                        {% elif project.insaflu_project == "Processing" %}
                        <span class="insaflu-processing">
                            <a>
                                <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                                INSaFLU Project
                            </a>
                        </span>
                        {% endif %}
                    </div>

                </div>
            </li>
            {% endfor %}
        </ul>
        </div>

        {% endif %}

    </div>
    <a href="javascript:history.go(0)" class="btn btn-small btn-primary dark"><i class="fa fa-refresh"></i> Refresh</a>

</div>


<!-- The remove Modal -->
<div class="modal fade" id="id_kill_modal">
	<div class="modal-dialog">
		<div class="modal-content">

			<!-- Modal Header -->
			<div class="modal-header alert alert-warning">
				<h4 class="modal-title-kill">Terminate Sample Runs</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<!-- Modal body -->
			<div class="modal-body mx-auto mw-100">
				<div id="id-modal-body-kill-sample" csrfmiddlewaretoken="{{ csrf_token }}" kill-single-value-url="{% url 'kill_televir_project_sample' %}">
					<label id="id-label-kill" class="col-form-label">Sample Name</label>
				</div>
			</div>
			<!-- Modal footer -->
			<div class="modal-footer" id="id-modal-footer-remove">
                
				<button id="id-kill-button" type="button"  class="btn btn-primary" data-dismiss="modal">Terminate</button>
				<button id="id-cancel-button" type="button" class="btn btn-secondary" data-dismiss="modal"
					aria-hidden="true">Cancel</button>
			</div>
		</div>
	</div>
</div>

<!-- the remove all Modal -->
<div class="modal fade" id="id_remove_all_modal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header alert alert-warning">
                <h4 class="modal-title-submit">Order 66</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body mx-auto mw-100">
                <div id="id-modal-body-kill-all-sample" remove-all-value-url="{% url 'kill_all_televir_project_sample' %}">
                    <label id="id-label-remove-all" class="col-form-label">Terminate runs for all samples in project {{project_name}}?</label>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer" id="id-modal-footer-remove">
                <button id="id-kill-all-button" type="button" class="btn btn-primary" project_id="{{project_index}}" project-name="{{project_name}}" data-dismiss="modal">Terminate All</button>
                <button id="id-cancel-button" type="button" class="btn btn-secondary" data-dismiss="modal"
                    aria-hidden="true">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- The sample submit Modal -->
<div class="modal fade" id="id_remove_modal">
	<div class="modal-dialog">
		<div class="modal-content">

			<!-- Modal Header -->
			<div class="modal-header alert alert-warning">
				<h4 class="modal-title-submit">Submit sample deployment</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<!-- Modal body -->
			<div class="modal-body mx-auto mw-100">
				<div id="id-modal-body-remove-sample" remove-single-value-url="{% url 'remove_televir_project_sample' %}">
					<label id="id-label-remove" class="col-form-label">Folder Name</label>
				</div>
			</div>
			<!-- Modal footer -->
			<div class="modal-footer" id="id-modal-footer-remove">
				<button id="id-remove-button" type="button" class="btn btn-primary" data-dismiss="modal">Remove</button>
				<button id="id-cancel-button" type="button" class="btn btn-secondary" data-dismiss="modal"
					aria-hidden="true">Cancel</button>
			</div>
		</div>
	</div>
</div>


<!-- The sample metagenomics submit modal -->
<div class="modal fade" id="id_deploy_metagenomics_modal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header alert alert-warning">
                <h4 class="modal-title-submit">Submit sample deployment</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body mx-auto mw-100">
                <div id="id-modal-body-deploy-metagenomics-sample" deploy-metagenomics-single-value-url="{% url 'deploy_metagenomics_televir_project_sample' %}">
                    <label id="id-label-deploy-metagenomics" class="col-form-label">Folder Name</label>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer" id="id-modal-footer-remove">
                <button id="id-deploy-metagenomics-button" type="button" class="btn btn-primary" data-dismiss="modal">Deploy</button>
                <button id="id-cancel-button" type="button" class="btn btn-secondary" data-dismiss="modal"
                    aria-hidden="true">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- The sample set control Modal -->
<div class="modal fade" id="id_set_control_modal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header alert alert-warning">
                <h4 class="modal-title-submit">Set control sample</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body mx-auto mw-100">
                <div id="id-modal-body-set-control" set-control-url="{% url 'set_control_televir_project_sample' %}">
                    <label id="id-label-set-control" class="col-form-label">Sample Name</label>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer" id="id-modal-footer-remove">
                <button id="id-set-control-button" type="button" class="btn btn-primary" data-dismiss="modal">Set</button>
                <button id="id-cancel-button" type="button" class="btn btn-secondary" data-dismiss="modal"
                    aria-hidden="true">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- The refrence search -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Add References - All Samples</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-9">          <!-- Your search form code here -->
              <form id="reference-search-form">
                <div class="input-group">
                  <input id="search-input" type="text" class="form-control" placeholder="Description, Accid, Taxid">
                  <div class="input-group-append">
                    <button type="submit" class="load-content btn btn-primary" csrf="{{ csrf_token }}" href="{% url 'filter_reference_table' %}">Search</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div id="reference_table_div" class="table-container">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="submit-button" csrf="{{ csrf_token }}" href="{% url 'add_references_all_samples' %}" ref_index= "{{project_index}}" reload_ref= "{% url 'added_reference_table' %}">Submit</button>
        </div>
      </div>
    </div>
</div>

<!-- The add panel modal -->
<div class="modal fade" id="addPanelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Add Panels - All Samples</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="panel-list-modal" data-url="{% url 'panel_references_get' %}">
            <ul id="panel-list-modal">
            </ul> 
          </div>    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="panel-submit-button" data-csrf="{{ csrf_token }}" project-id="{{ project_index }}" href="{% url 'add_panels_to_project' %}">Submit</button>
        </div>
      </div>
    </div>
  </div>

<!-- The teleflu refrence search -->
<div class="modal fade" id="teleflu_ref_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_teleflu" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content" style="position: relative;">
        <div class="modal-header">
        <div>
            <h4 class="modal-title" id="myModalLabel_teleflu">Reference Targeted Analysis</h4>
            <p class="modal-title-description">Map selected samples and connect to an INSaFLU project. Select Televir hit below to use as reference.</p>
        </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute; top: 15px; right: 15px;">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">          <!-- Your search form code here -->
              <form id="teleflu-reference-search-form">
                <div class="input-group">
                  <input id="teleflu_search-input" type="text" class="form-control" placeholder="Description, Accid, Taxid">
                  <div class="input-group-append">
                    <button type="submit" project_id={{ project_index }} class="load-teleflu-content btn btn-primary" csrf="{{ csrf_token }}" href="{% url 'filter_reference_table' %}">Search</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div id="teleflu_reference_table_div" class="table-container">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="teleflu_create-button" csrf="{{ csrf_token }}" href="{% url 'create_teleflu_project' %}" ref_index= "{{project_index}}" reload_ref= "{% url 'added_reference_table' %}">Create Project</button>
        </div>
      </div>
    </div>
</div>


<!-- The teleflu add samples -->
<div class="modal fade" id="add_teleflu_sample_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_add_teleflu_sample" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header alert alert-warning">
                <h4 class="modal-title-submit">Submit sample deployment</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body mx-auto mw-100">
                <div id="id-modal-body-add-teleflu-sample" add-teleflu-single-value-url="{% url 'add_teleflu_sample' %}">
                    <label id="id-label-add-teleflu-sample" class="col-form-label">Folder Name</label>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer" id="id-modal-footer-add-teleflu-sample">
                <button id="id-add-teleflu-sample-button" type="button" class="btn btn-primary" data-dismiss="modal">Add</button>
                <button id="id-cancel-add-teleflu-sample-button" type="button" class="btn btn-secondary" data-dismiss="modal"
                    aria-hidden="true">Cancel</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}

<script type="text/javascript" src="{% static 'js/televir_projects/televir_kill_sample.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/televir_projects/remove_project_sample.js' %}"></script>
<script type="text/javascript" src="{% static 'js/televir_projects/set_control_sample.js' %}"></script>
<script type="text/javascript" src="{% static 'js/televir_projects/add_references.js' %}"></script>
<script type="text/javascript" src="{% static 'js/televir_projects/teleflu_prep.js' %}"></script>
<script type="text/javascript" src="{% static 'js/televir_projects/main_page_calls.js' %}"></script>
<script type="text/javascript" src="{% static 'js/check-box-general.js' %}"></script>
<script type="text/javascript" src="{% static 'js/televir_projects/main_page_panels.js' %}"></script>

{% load static from staticfiles %}
 


<script>
    window.onbeforeunload = function (e) {
        $.unblockUI();
    };
	$(document).ready(function () {
        $('#deploypi_btn').click(function () {
			$.unblockUI();
		});
		$('#id-cancel-button').click(function () {
			$.unblockUI();
		});
		$('#id-remove-button').click(function () {
			$.unblockUI();
		});
        $('#id-deploy-metagenomics-button').click(function () {
            $.unblockUI();
        });
        $('#teleflu_create-button').click(function () {
            $.unblockUI();
        });
		$('#id-kill-button').click(function () {
			$.unblockUI();
		});
        $('#id-set-control-button').click(function () {
            $.unblockUI();
        });
		$('.close').click(function () {
			$.unblockUI();
		});
        $('#id-add-teleflu-sample-button').click(function () {
            $.unblockUI();
        });
        $('#id-cancel-add-teleflu-sample-button').click(function () {
            $.unblockUI();
        });


        $('.add-panels').click(function() {
        var url= $(this).attr('href');
        load_panels_main(url, '.panel-list-modal ul', false, true);
        });
    });



</script>

{% endblock js %}
