{% extends '_layouts/base.html' %}
{% load querystring from django_tables2 %}
{% load title from django_tables2 %}
{% load trans blocktrans from i18n %}
{% load django_bootstrap_breadcrumbs %}
{% load bootstrap4 %}
{% load static %}


{% block extra_messages %}
	<!-- set the messages -->
	<div class="container">
		<div id="id_messages_terminate"></div>
	</div>
{% endblock %}

{% block breadcrumbs %}
{{block.super}}
{% breadcrumb "Project Index" "project-index" %}
{% breadcrumb "TELEVIR Projects" "PIprojects_main"  %}
{% breadcrumb project_name  "" %}
{% endblock %}


{% block content %}

<div class="table-container">
    {% block table %}
    <div class="table-responsive">
        <table class="table table-hover table-bordered table-striped" {% if table.attrs %}
            {{ table.attrs.as_html }}{% endif %}>
            {% block table.thead %}
            <thead>
                {% if project_owner %}
                <tr>
                    <th colspan="9">
                        <div class="btn-group">
                            {% if not demo %}
                        
                            <button type="button" class="btn btn-primary dark" id="deploypi_btn" deploy-url="{% url deploy_url %}" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-flask"></i>
                                <a><span class="hidden-phone"> Run </span></a>
                            </button>
                            {% endif %}
                            <button type="button" class="btn btn-primary dark" aria-haspopup="true" aria-expanded="false">
                                <a href="{% url "all_PIproject_reports" pk1=project_index %}"><span class="hidden-phone" style="color:white"><i>View Project reports</i></span></a>
                                    </button>                        
                            <button type="button" class="btn btn-primary dark" id="sortpi_btn" deploy-url="{% url 'sort_project_reports' %}" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-align-left"></i>
                                <a><span class="hidden-phone"> Sort sample reports </span></a>
                            </button>
                        </div>
                    </th>               
                </tr>
                {% endif %}
                <tr>
                    {% for column in table.columns %}
                    {% if column.orderable %}
                        <th {{ column.attrs.th.as_html }}><a href="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}">{{ column.header|title }}</a></th>
                    {% else %}
                        <th {{ column.attrs.th.as_html }}>{{ column.header|title }}</th>
                    {% endif %}                    
                    {% endfor %}
                </tr>
            </thead>
            {% endblock table.thead %}
            {% block table.tbody %}
            <tbody>
                {% for row in table.page.object_list|default:table.rows %} {# support pagination #}
                  {% block table.tbody.row %}
                  <tr id="row_{{ row.record.id }}" class="{% cycle "odd" "even" %}">
                    {% for column, cell in row.items %}
                      <td {{ column.attrs.td.as_html }}>{{ cell }}</td>
                    {% endfor %}
                  </tr>
                  {% endblock table.tbody.row %}
                {% empty %}
                  {% if table.empty_text %}
                  {% block table.tbody.empty_text %}
                      <tr><td colspan="{{ table.columns|length }}">{{ table.empty_text }}</td></tr>
                  {% endblock table.tbody.empty_text %}
                  {% endif %}
                {% endfor %}
            </tbody>
            {% endblock table.tbody %}
            {% block table.tfoot %}
                <tfoot></tfoot>
            {% endblock table.tfoot %}
        </table>
    </div>
    {% endblock table %}

    {% if table.page and show_paginatior %}
	{% block pagination %}
	<label id="id-total-list" class="pull-right">Total samples: {{ query_set_count }}</label>
	{% bootstrap_pagination table.page url=request.get_full_path %}
	{% endblock pagination %}
    </div>
    {% else %}
    <label id="id-total-list" class="pull-right">Total samples: {{ query_set_count }}</label>
    {% endif %}

    <a href="javascript:history.go(0)" class="btn btn-small btn-primary dark"><i class="fa fa-refresh"></i> Refresh</a>

</div>
</div>


<!-- The remove Modal -->
<div class="modal fade" id="id_kill_modal">
	<div class="modal-dialog">
		<div class="modal-content">

			<!-- Modal Header -->
			<div class="modal-header alert alert-warning">
				<h4 class="modal-title-kill">Terminate Sample Runs</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<!-- Modal body -->
			<div class="modal-body mx-auto mw-100">
				<div id="id-modal-body-kill-sample" csrfmiddlewaretoken="{{ csrf_token }}" kill-single-value-url="{% url 'kill_televir_project_sample' %}">
					<label id="id-label-kill" class="col-form-label">Sample Name</label>
				</div>
			</div>
			<!-- Modal footer -->
			<div class="modal-footer" id="id-modal-footer-remove">
                
				<button id="id-kill-button" type="button"  class="btn btn-primary" data-dismiss="modal">Terminate</button>
				<button id="id-cancel-button" type="button" class="btn btn-secondary" data-dismiss="modal"
					aria-hidden="true">Cancel</button>
			</div>
		</div>
	</div>
</div>



<!-- The sample submit Modal -->
<div class="modal fade" id="id_remove_modal">
	<div class="modal-dialog">
		<div class="modal-content">

			<!-- Modal Header -->
			<div class="modal-header alert alert-warning">
				<h4 class="modal-title-submit">Submit sample deployment</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<!-- Modal body -->
			<div class="modal-body mx-auto mw-100">
				<div id="id-modal-body-remove-sample" remove-single-value-url="{% url 'remove_televir_project_sample' %}">
					<label id="id-label-remove" class="col-form-label">Folder Name</label>
				</div>
			</div>
			<!-- Modal footer -->
			<div class="modal-footer" id="id-modal-footer-remove">
				<button id="id-remove-button" type="button" class="btn btn-primary" data-dismiss="modal">Remove</button>
				<button id="id-cancel-button" type="button" class="btn btn-secondary" data-dismiss="modal"
					aria-hidden="true">Cancel</button>
			</div>
		</div>
	</div>
</div>


<!-- The sample set control Modal -->
<div class="modal fade" id="id_set_control_modal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header alert alert-warning">
                <h4 class="modal-title-submit">Set control sample</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body mx-auto mw-100">
                <div id="id-modal-body-set-control" set-control-url="{% url 'set_control_televir_project_sample' %}">
                    <label id="id-label-set-control" class="col-form-label">Sample Name</label>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer" id="id-modal-footer-remove">
                <button id="id-set-control-button" type="button" class="btn btn-primary" data-dismiss="modal">Set</button>
                <button id="id-cancel-button" type="button" class="btn btn-secondary" data-dismiss="modal"
                    aria-hidden="true">Cancel</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block js %}

<script type="text/javascript" src="{% static 'js/televir_projects/televir_kill_sample.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/televir_projects/remove_project_sample.js' %}"></script>


{% load static from staticfiles %}

<script>
    $(document).on("click", "a", function (e) {
        console.log("clicked");
        if ($(this).attr("id") === "id_set_control") {
    
            console.log("set control modal");
            
            var attr = $(this).attr('id');
            var ref_name = $(this).attr('ref_name');
            var sample_pk = $(this).attr('pk');

            console.log(attr);
            console.log(ref_name);
            console.log(sample_pk);
            
            // For some browsers, `attr` is undefined; for others `attr` is false.  Check for both.
            if (attr === 'id_set_control'){
                // add show to class 
                //check if class icon is filled circle or empty circle
                var icon = $(this).find('i');
                var icon_class = icon.attr('class');
                console.log(icon_class);
                
                if (icon_class === 'fa fa-circle-o'){
                    $('#id-label-set-control').text('Set \'' + ref_name + '\' as control?');
                }
                else {
                    $('#id-label-set-control').text('Unset \'' + ref_name + '\' as control?');
                    $('#id-set-control-button').text('Unset');
                }
                
                $('#id-modal-body-set-control').attr('pk', sample_pk);
                $('#id-modal-body-set-control').attr('ref_name', ref_name);
            }
            else if (attr === 'id_add_set_control_message'){
                $('#id_messages_set_control').append('<div class="alert alert-dismissible alert-warning">' +
                        'No jobs to deploy.' +
                        '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' +
                        '</div>');
            }
        }
    });
    
    
    $('#id-set-control-button').on('click', function(){
    
        url = $('#id-modal-body-set-control').attr("set-control-url");
        sample_id = $('#id-modal-body-set-control').attr('pk');
    
        $.ajax({
            url: url,
            type: 'POST',
            data : {
                sample_id : sample_id,
                csrfmiddlewaretoken: '{{ csrf_token }}',
            }, // data sent with the post request
                    
            success: function (data) {

                if (data['is_ok'] && data['set_control']){
                  
                  /// add message with informaton
                  $('#id_messages_set_control').append('<div class="alert alert-dismissible alert-success">' +
                    'The sample \'' + $('#id-modal-body-set-control').attr('ref_name') + '\' was successfully set as control.' +
                    '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' +
                    '</div>');
                    location.reload() 
                }
                if (data['is_ok'] && data['set_control'] == false){
                    /// add message with informaton
                    $('#id_messages_set_control').append('<div class="alert alert-dismissible alert-warning">' +
                    'The sample \'' + $('#id-modal-body-set-control').attr('ref_name') + '\' was unset as control.' +
                    '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' +
                    '</div>');
                    location.reload() 
                }
                else{
                    /// add message with informaton
                    $('#id_messages_set_control').append('<div class="alert alert-dismissible alert-warning">' +
                    'The sample \'' + $('#id-modal-body-set-control').attr('ref_name') + '\' was not set as control.' +
                    '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' +
                    '</div>');
                }
            },
    
            error: function (data) {
                console.log('error');
                console.log(data);
            }
        });
    });

</script>

<script>
    window.onbeforeunload = function (e) {
        $.unblockUI();
    };
</script>

<script>

    $(document).on("click", "a", function (e) {

        if ($(this).attr("id") == "deploypi_sample_btn") {
            console.log("deploy pi sample");
            e.preventDefault();
        
            url= $(this).attr("deploy-url");
            console.log(url);
            $.ajax({
                url: $(this).attr("deploy-url"),
                type: "POST",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'sample_id': $(this).attr("sample_id"),
                },
                data_type: 'json',
                success: function(data){
                    console.log(data);
                    if (data["is_ok"] == true && data["is_deployed"] == false) { 
                        alert("No runs to deploy");
                    }
                    else if (data["is_ok"] == true && data["is_deployed"] == true) {
                        alert("Runs deployed");
                    }

                }
        
            });

        }

        if ($(this).attr("id") == "sort_sample_btn") {
            e.preventDefault();
        
            url= $(this).attr("sort-url");
            console.log(url);
            $.ajax({
                url: $(this).attr("sort-url"),
                type: "POST",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'sample_id': $(this).attr("sample_id"),
                },
                data_type: 'json',
                success: function(data){
                    console.log(data);
                    if (data["is_ok"] == true && data["is_deployed"] == false) { 
                        alert("No Results to Sort");
                    }
                    else if (data["is_ok"] == true && data["is_deployed"] == true) {
                        alert("Sort deployed");
                    }
                }

            });

        }

        /// set wait screen
		var id_ = $(this).attr('id');
		var href = $(this).attr('href');
		var onclick = $(this).attr('onclick');
        console.log(href);
        console.log(id_);
		if (href !== '#id_set_default_modal' && id_ !== "deploypi_sample_btn" && id_ !== "sort_sample_btn" && onclick !== 'return false;' && id_ !== 'sidenavToggler' &&
			!href.startsWith('/media') && !href.startsWith('http')) {
			wait_screen();
		}

    })

    $("#deploypi_btn").click(function(){
        $.ajax({
            url: $('#deploypi_btn').attr("deploy-url"),
            type: "POST",
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'id': $(this).attr('id'),
                'user_id': '{{ request.user.id }}',
                'project_id': '{{ project_index }}',
            },
            data_type: 'json',
            success: function(data){
                console.log(data);
                if (data["is_ok"] == true && data["is_deployed"] == false) { 
                    alert("No runs to deploy");
                }
                else if (data["is_ok"] == true && data["is_deployed"] == true) {
                    alert("Runs deployed");
                }
            }

        });
    })

    $("#sortpi_btn").click(function(){
        $.ajax({
            url: $('#sortpi_btn').attr("deploy-url"),
            type: "POST",
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'id': $(this).attr('id'),
                'user_id': '{{ request.user.id }}',
                'project_id': '{{ project_index }}',
            },
            data_type: 'json',
            success: function(data){
                console.log(data);
                if (data["is_ok"] == true && data["is_deployed"] == false) { 
                    alert("No sort to deploy");
                }
                else if (data["is_ok"] == true && data["is_deployed"] == true) {
                    alert("Sort deployed");
                }
            }

        });
    })
    

</script>


<script>
	$(document).ready(function () {
		$('#id-cancel-button').click(function () {
			$.unblockUI();
		});
		$('#id-remove-button').click(function () {
			$.unblockUI();
		});
		$('#id-kill-button').click(function () {
			$.unblockUI();
		});
        $('#id-set-control-button').click(function () {
            $.unblockUI();
        });
	});

	/// set wait screen

</script>

{% endblock js %}
