{% extends '_layouts/base.html' %}

{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block css %}
	{% load static from staticfiles %}
		<!-- pre-define in-house css for main page-->
		<link rel="stylesheet" href="{% static 'css/main-page.css' %}" type="text/css" />
		<link rel="stylesheet" href="{% static 'css/error_add_html.css' %}" type="text/css" />
{% endblock css %}

<!-- Breadcrumbs-->
{% block breadcrumbs %}
	{{ block.super }}
	{% breadcrumb "Datasets" "datasets" %}
	{% breadcrumb "Add Consensus to dataset" "add-consensus-dataset" pk %}
	{% breadcrumb "Upload new Consensus" "upload-new-consensus" %}
{% endblock %}

<!-- Main content-->
{% block content %}



{% endblock %}

<form action="/submit" method="post" enctype="multipart/form-data">
    <div>
        <label for="prefixName">Prefix Name:</label>
        <input type="text" id="prefixName" name="prefixName">
    </div>
    <div>
        <label for="metadata">Metadata (Tab Delimited File):</label>
        <input type="file" id="metadata" name="metadata" accept=".txt">
    </div>
    <div>
        <label for="reference_fasta">Consensus (Fasta/Multi-Fasta):</label>
        <input type="file" id="reference_fasta" name="reference_fasta" accept=".fasta">
    </div>
    <input type="submit" value="Submit">
	<button type="button" onclick="location.href='{% url 'reference_panels' %}'">Cancel</button>
</form>

{% block js %}
	<script>

		$('form').on('submit', function(e) {
			e.preventDefault();
		
			var formData = new FormData(this);
		
			$.ajax({
				url: '/submit', // Replace with your actual URL
				type: 'POST',
				data: formData,
				processData: false,  // tell jQuery not to process the data
				contentType: false,  // tell jQuery not to set contentType
				success: function(response) {
					console.log(response);
					// Handle the response from the server
				},
				error: function(jqXHR, textStatus, errorThrown) {
					console.log(textStatus, errorThrown);
					// Handle the error
				}
			});
		});

 		$("#id_consensus_fasta").click( function(){
 			$('#error_1_id_consensus_fasta').empty();
 			$.unblockUI();
 		});
 		
 		/* wait button */
 		$(document).ready(function() { 
		    $('#submit-id-save').click(function() { 
		        $.blockUI({ css: { 
		            border: 'none', 
		            padding: '15px', 
		            backgroundColor: '#000', 
		            '-webkit-border-radius': '10px', 
		            '-moz-border-radius': '10px', 
		            opacity: .5, 
		            color: '#fff' 
		        } }); 
		    }); 
		});
	</script>
	
	{% load static from staticfiles %}
		<!-- Custom scripts for all pages-->

{% endblock js %}