{% extends '_layouts/base.html' %}


{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "TELEVIR Projects" "PIprojects_main" %}
{% breadcrumb "Create a project" "project-add" %}
{% endblock %}

{% block content %}

<br>
<form method="post">
    {% csrf_token %}
	<div class="form-group">
		<label for="name">Name</label>
		<input type="text" class="form-control" id="project_name" name="name" placeholder="Name" value="{{ project.name }}">
	</div>
	<div class="form-group">
		<label for="description">Description</label>
		<textarea class="form-control" id="description" name="description"
			placeholder="Description">{{ project.description }}</textarea>
	</div>
	<div class="form-group">
		<label for="technology">Technology</label>
		<select class="form-control" id="technology" name="technology">
			<option value="ONT" {% if project.technology == 1 %}selected{% endif %}>ONT</option>
			<option value="Illumina/IonTorrent" {% if project.technology == 0 %}selected{% endif %}>Illumina</option>
		</select>
	</div>

	<input type="submit" name="save" value="Save" class="btn btn-primary btn-primary" id="submit-save" />
	<input type="button" name="cancel" value="Cancel" class="btn btn-secondary" id="button-cancel"
		onclick="window.location.href='/pathogen_identification/projects'">
</form>
{% endblock content %}

{% block js %}

{% load static from staticfiles %}
<script type="text/javascript" src="{% static 'js/televir_projects/warning_messages.js' %}"></script>

<script type="text/javascript">

    $("#project_name").keyup(function(){
        var projectname=$(this).val();
        if(projectname!=""){
          $.ajax({
            url:'{% url 'check_project_name' %}',
            type:'GET',
            data:{projectname:projectname}
    
          })
          .done(function(response){
            console.log(response);
            if(response=="exists"){
                alert("Username already taken");    }
            else if(response=="has_spaces"){
                alert("Username cannot contain spaces");
            }
          })
          .fail(function(){
            console.log("failed");
          })
        }
        else{
          $(".username_error").remove();
        }
    });
</script>

{% endblock js %}
