{% extends '_layouts/base.html' %}

{% load bootstrap4 %}
{% load querystring from django_tables2 %}

{% load trans blocktrans from i18n %}
{% load view_breadcrumbs %}

{% block extra_messages %}
<!-- set the messages -->
<div class="container">
	<div id="id_messages_remove"></div>
</div>
{% endblock %}

{% block content %}

<style>
	.table tbody tr {
		margin-bottom: 10px; /* Add space between rows */
		border-radius: 10px; /* Make rows rounder */
		border: 1px solid #ddd; /* Add a border to rows */
		overflow: hidden; /* Ensure content stays within rounded corners */
	}
	
	.table tbody tr td {
		padding: 15px; /* Add padding inside cells */
	}
	
	.table tbody tr:hover {
		background-color: #f9f9f9; /* Highlight row on hover */
	}
</style>

{% if table.page or show_paginatior %}
<div class="table-container">
	{% endif %}

	{% block table %}
	<div class="table-responsive">
		<table class="table table-hover table-bordered table-striped" {% if table.attrs %}
			{{ table.attrs.as_html }}{% endif %}>
			{% block table.thead %}
			<thead>
				<tr>
					<th colspan="11">
						<a href="{% url "PIproject-add" %}" data-title="Create a new project to process samples"
							class="btn btn-small btn-primary dark"><span class="hidden-phone"><i
									class="fa fa-plus-square"></i> Create project</span></a>
                        <form method="get" class="form-inline form-search pull-right">
                            {% csrf_token %}
                            <input id="search_form_id" name="search_projects" type="text" class="form-control col-md-8"
                                placeholder="Project Name, Sample Name" {% if search_projects %}
                                value="{{ search_projects }}" {% endif %}>
                            <button type="submit" class="btn btn-small btn-dark"><i class="fa fa-search"></i>
                                Search</button>
                        </form>

						<button class="btn btn-small btn-primary dark">
							<a href="{% url 'televir_reference_files' %}" class="text-white">
								<i class="fa fa-book"></i>  Reference Management
							</a>
						</button>
						<button class="btn btn-small btn-primary dark">
							<a href="#id_user_tags_modal" id="id_project_tags_link" class="text-white" data-toggle="modal" data-toggle="tooltip" title="User Tags">
								<i class="fa fa-tag"></i>  Project Tags
							</a>
						</button>
					</th>

				</tr>

				<tr>
					{% for column in table.columns %}
					{% if column.orderable %}
					<th {{ column.attrs.th.as_html }}><a
							href="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}">{{ column.header }}</a>
					</th>
					{% else %}
					<th {{ column.attrs.th.as_html }}>{{ column.header }}</th>
					{% endif %}
					{% endfor %}
				</tr>
			</thead>
			{% endblock table.thead %}
			{% block table.tbody %}
			<tbody>
				{% for row in table.page.object_list|default:table.rows %} {# support pagination #}
				{% block table.tbody.row %}
				<tr id="row_{{ row.record.id }}" class="{% cycle "odd" "even" %}">
					{% for column, cell in row.items %}
					<td {{ column.attrs.td.as_html }}>{{ cell }}</td>
					{% endfor %}
				</tr>
				{% endblock table.tbody.row %}
				{% empty %}
				{% if table.empty_text %}
				{% block table.tbody.empty_text %}
				<tr>
					<td colspan="{{ table.columns|length }}">{{ table.empty_text }}</td>
				</tr>
				{% endblock table.tbody.empty_text %}
				{% endif %}
				{% endfor %}
			</tbody>
			{% endblock table.tbody %}
			{% block table.tfoot %}
			<tfoot></tfoot>
			{% endblock table.tfoot %}
		</table>
	</div>
	{% endblock table %}

	{% if table.page and show_paginatior %}
	{% block pagination %}
	<label id="id-total-list" class="pull-right">Total projects: {{ query_set_count }}</label>
	{% bootstrap_pagination table.page url=request.get_full_path %}
	{% endblock pagination %}

    {% else %}
    <label id="id-total-list" class="pull-right">Total projects: {{ query_set_count }}</label>
    {% endif %}

<a href="javascript:history.go(0)" class="btn btn-small btn-primary dark"><i class="fa fa-refresh"></i> Refresh</a>

<!-- The remove Modal -->
<div class="modal fade" id="id_remove_modal">
	<div class="modal-dialog">
		<div class="modal-content">

			<!-- Modal Header -->
			<div class="modal-header alert alert-warning">
				<h4 class="modal-title-remove">Remove a project</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<!-- Modal body -->
			<div class="modal-body mx-auto mw-100">
				<div id="id-modal-body-remove-sample" remove-single-value-url="{% url 'remove_televir_project' %}">
					<label id="id-label-remove" class="col-form-label">Folder Name</label>
				</div>
			</div>
			<!-- Modal footer -->
			<div class="modal-footer" id="id-modal-footer-remove">
				<button id="id-remove-button" type="button" class="btn btn-primary" data-dismiss="modal">Remove</button>
				<button id="id-cancel-button" type="button" class="btn btn-secondary" data-dismiss="modal"
					aria-hidden="true">Cancel</button>
			</div>
		</div>
	</div>
</div>

<!-- The reset settings modal -->
<div class="modal fade" id="id_reset_modal">
	<div class="modal-dialog">
		<div class="modal-content">

			<!-- Modal Header -->
			<div class="modal-header alert alert-warning">
				<h4 class="modal-title-remove">Reset Settings</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<!-- Modal body -->
			<div class="modal-body mx-auto mw-100">
				<div id="id-modal-body-reset-parameters" remove-single-value-url="{% url 'reset_project_parameters' %}">
					<label id="id-settings-reset" class="col-form-label">Folder Name</label>
				</div>
			</div>
			<!-- Modal footer -->
			<div class="modal-footer" id="id-modal-footer-remove">
				<button id="id-reset-button" type="button" class="btn btn-primary" data-dismiss="modal">Reset</button>
				<button id="id-cancel-button" type="button" class="btn btn-secondary" data-dismiss="modal"
					aria-hidden="true">Cancel</button>
			</div>
		</div>
	</div>
</div>

<!-- The user tags modal -->
<div class="modal fade" id="id_user_tags_modal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

			<!-- Modal Header -->
			<div class="modal-header alert alert-warning">
				<h4 class="modal-title-remove">Project Tags</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<!-- Modal body -->
			<div class="modal-body mw-100">
				<div id="id-modal-body-project-tags" user-tags-url="{% url 'get_user_tags' %}">
					<div class="row">
						<div class="col-12">
							<!-- Tags will be dynamically loaded here -->
						</div>
					</div>
				</div>
			</div>
			<!-- Modal footer -->
			<div class="modal-footer" id="id-modal-footer-remove">
				<button id="id-new-tag-button" type="button" class="btn btn-primary">Create new tag</button>
			</div>
		</div>
	</div>
</div>

<!-- The add tags to project modal -->
<div class="modal fade" id="id_add_tags_modal">
	<div class="modal-dialog">
		<div class="modal-content">

			<!-- Modal Header -->
			<div class="modal-header alert alert-warning">
				<h4 class="modal-title-remove">Add Tags to Project</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<!-- Modal body -->
			<div class="modal-body mw-100">
				<div id="id-modal-body-add-tags" tag_candidates_url="{% url 'project_tag_candidates' %}">
					<div class="row">
						<div class="col-12">
							<!-- Tags will be dynamically loaded here -->
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<!-- The display project tags modal -->
<div class="modal fade" id="id_manage_tags_modal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

			<!-- Modal Header -->
			<div class="modal-header alert alert-warning">
				<h4 class="modal-title-remove">Project Tags</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<!-- Modal body -->
			<div class="modal-body mw-100">
				<div id="id-modal-body-display-project-tags" project-tags-url="{% url 'get_project_tags' %}">
					<div class="row">
						<div class="col-12">
							<!-- Tags will be dynamically loaded here -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}


{% block js %}

{% load static %}
<script type="text/javascript" src="{% static 'js/televir_projects/remove_projects.js' %}"></script>

<script>
	$(document).ready(function () {
		$('#id-cancel-button').click(function () {
			$.unblockUI();
		});
		$('#id-reset-button').click(function () {
			$.unblockUI();
		});
		$('#id-remove-button').click(function () {
			$.unblockUI();
		});
		$('#id-deploy-explify-button').click(function () {
			$.unblockUI();
		});
		// unblock when click in button class close
		$('.close').click(function () {
			$.unblockUI();
		});
	});

	$(document).on("click", "#id_manage_tags", function () {
		url = $('#id-modal-body-display-project-tags').attr('project-tags-url');
		project_id = $(this).attr('project_pk');
		$.ajax({
			url: url,
			method: "POST",
			data: {
				project_id: project_id,
				csrfmiddlewaretoken: '{{ csrf_token }}'
			},
			success: function (data) {
				let tagsHtml = '';
				data.tags.forEach(tag => {
					tagsHtml += `
						<div class="col-12 mb-3">
							<div class="card">
								<div class="card-body d-flex align-items-center justify-content-between p-3">
									<div>
										<h6 class="card-title mb-1">${tag.name}</h6>
										<p class="card-text small text-muted mb-0">${tag.description || 'No description'}</p>
									</div>
									<button class="btn btn-danger btn-sm" data-tag-id="${tag.id}" onclick="removeTag(${tag.id})">x</button>
								</div>
							</div>
						</div>
					`;
				});
				$('#id-modal-body-display-project-tags .row .col-12').html(tagsHtml);
			},
			error: function (xhr, errmsg, err) {
				alert(errmsg);
				console.log(xhr.status + ": " + xhr.responseText);
			}
		});
	});


	$(document).on("click", "#id_add_tags", function () {
		url = $('#id-modal-body-add-tags').attr('tag_candidates_url');
		project_id = $(this).attr('project_pk');
		$.ajax({
			url: url,
			method: "POST",
            data : {
				project_id : project_id,
				csrfmiddlewaretoken: '{{ csrf_token }}'
			},
			success: function (data) {
				let tagsHtml = '';
				data.tags.forEach(tag => {
					tagsHtml += `
						<div class="col-12 mb-3">
							<div class="card">
								<div class="card-body d-flex align-items-center justify-content-between p-3">
									<div>
										<h6 class="card-title mb-1">${tag.name}</h6>
									</div>
									<button  class="btn btn-small btn-primary" ">
									<a id="add_tag_to_project" href="#" tag_id="${tag.id}" class="add_tag text-white" data-toggle="tooltip" title="Add tag to project">
										<i class="fa fa-plus"></i>
									</a>
									</button>
								</div>
							</div>
						</div>
					`;
				});
				$('#id-modal-body-add-tags .row .col-12').html(tagsHtml);
				$('.add_tag').click(function () {

					let tagId = $(this).attr('tag_id');
					let tagCard = $(this).closest('.col-12.mb-3');
					$.ajax({
						url: "{% url 'assign_tag_to_project' %}",
						method: "POST",
						data: {
							project_id: project_id,
							tag_id: tagId,
							csrfmiddlewaretoken: '{{ csrf_token }}'
						},
						success: function (data) {
							if (data['is_ok']) {
								alert("Tag added to project successfully!");
								// Optionally, refresh the tags list
								tagCard.remove();
							} else {
								alert("Error adding tag to project: " + data.error);
							}
						},
						error: function (xhr, errmsg, err) {
							alert(errmsg);
							console.log(xhr.status + ": " + xhr.responseText);
						}
					});
				});
			},
			error: function (xhr, errmsg, err) {
				alert(errmsg);
				console.log(xhr.status + ": " + xhr.responseText);
			}
		});
	});

	$(document).on("click", "#id_project_tags_link", function () {
		url = $('#id-modal-body-project-tags').attr('user-tags-url');
		$.ajax({
			url: url,
			method: "POST",
			data: {
				csrfmiddlewaretoken: '{{ csrf_token }}'
			},
			success: function (data) {
				let tagsHtml = '';
				data.tags.forEach(tag => {
					tagsHtml += `
						<div class="col-12 mb-3">
							<div class="card">
								<div class="card-body d-flex align-items-center justify-content-between p-3">
									<div>
										<h6 class="card-title mb-1">${tag.name}</h6>
										<p class="card-text small text-muted mb-0">${tag.description || 'No description'}</p>
									</div>
									<button class="btn btn-danger btn-sm" data-tag-id="${tag.id}" onclick="removeTag(${tag.id})">x</button>
								</div>
							</div>
						</div>
					`;
				});
				$('#id-modal-body-project-tags .row .col-12').html(tagsHtml);
			},
			error: function (xhr, errmsg, err) {
				alert(errmsg);
				console.log(xhr.status + ": " + xhr.responseText);
			}
		});
	});


	$(document).on("click", "#id-new-tag-button", function () {
		let tagName = prompt("Enter the name of the new tag:");
		if (tagName) {
			let tagDescription = prompt("Enter a description for the new tag (optional):");
			$.ajax({
				url: "{% url 'create_user_project_tag' %}",
				method: "POST",
				data: {
					name: tagName,
					description: tagDescription,
					csrfmiddlewaretoken: '{{ csrf_token }}'
				},
				success: function (data) {
					if (data['is_ok']) {
						alert("Tag created successfully!");
						// Optionally, refresh the tags list
						$("#id_project_tags_link").click();
					} else {
						alert("Error creating tag: " + data.error);
					}
				},
				error: function (xhr, errmsg, err) {
					alert(errmsg);
					console.log(xhr.status + ": " + xhr.responseText);
				}
			});
		}
	});


	/// set wait screen
	$(document).on("click", "a", function (e) {
		var id_ = $(this).attr('id');
		var href = $(this).attr('href');
		var onclick = $(this).attr('onclick');
		if (href !== '#id_set_default_modal' && onclick !== 'return false;' && id_ !== 'sidenavToggler' &&
			!href.startsWith('/media') && !href.startsWith('http')) {
			wait_screen();
		}
	});

</script>

<script type="text/javascript">
    $(document).on("click", "a", function(e){
        var attr = $(this).attr('id');
        var ref_name = $(this).attr('ref_name');
        var tr_to_remove = e.target.parentNode.parentNode.parentNode.id;
        // For some browsers, `attr` is undefined; for others `attr` is false.  Check for both.
        if (attr === 'id_reset_parameters_modal'){
            $('#id-settings-reset').text('Do you want to reset parameters for \'' + ref_name + '\'?');
            $('#id-modal-body-reset-parameters').attr('pk', $(this).attr('pk'));
            $('#id-modal-body-reset-parameters').attr('ref_name', ref_name);
            $('#id-modal-body-reset-parameters').attr('tr_to_remove', tr_to_remove);
        }
        else if (attr === 'id_add_sample_message'){
            $('#id_messages_remove').append('<div class="alert alert-dismissible alert-warning">' +
                    'It is not possible for now to add samples to the projects because there is a big backlog. We are solving this problem right now.' +
                    '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' +
                    '</div>');
        }
		else if (attr === "merge_explify_modal"){

			// change text in modal body div
			$('#id-modal-body-deploy-merge-explify').text('Do you want to merge explify files for \'' + ref_name + '\'?');
			$('#id-modal-body-deploy-merge-explify').attr('pk', $(this).attr('project_id'));
			$('#id-modal-body-deploy-merge-explify').attr('project_name', ref_name);
			$('#id-modal-body-deploy-merge-explify').attr('tr_to_remove', tr_to_remove);
		}
    });


    $('#id-reset-button').on('click', function(){

        $.ajax({
            url: $('#id-modal-body-reset-parameters').attr("remove-single-value-url"),
            data : {
                project_id : $('#id-modal-body-reset-parameters').attr('pk'),
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }, // data sent with the post request
                    
            success: function (data) {
            if (data['is_ok']) {
                
                /// remove line
                document.getElementById($('#id-modal-body-reset-parameters').attr('tr_to_remove')).remove();
                document.location.reload();
                /// add message with informaton

            }
            else{
                /// add message with informaton
                $('#id_messages_remove').append('<div class="alert alert-dismissible alert-warning">' +
                    'Project \'' + $('#id-modal-body-reset-parameters').attr('ref_name') + '\' settings were not reset.' +
                    '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' +
                    '</div>');
            }
            },
            
            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                alert(errmsg);
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
    });


</script>

<script>
    window.onbeforeunload = function (e) {
        $.unblockUI();
    };
</script>

{% endblock js %}

