{% extends '_layouts/base.html' %}


{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "TELEVIR Projects" "PIprojects_main" %}
{% breadcrumb "Create a project" "project-add" %}
{% endblock %}

{% block content %}

<br>
<form  id="id_form_table_project_reference" action=""
    data-validate-project-reference-url="{% url 'check_project_name' %}" method="post">{% csrf_token %}
    <div class="form-group">
        <label for="name">Name</label>
        
        <input type="text" {% if project.name %} value="{{ project.name }}" {% endif %} name="name"
                        class="textinput textInput form-control js-validate-project-reference-name" id="id_project_name"
                        required="" maxlength="100" placeholder="Project name">
        <div id='id_project_name_error'>
            {% if error_project_name %} <span id="error_1_id_name" class="fields_error">
                {{ error_project_name }} </span> {% endif %}
        </div>
	</div>
	<div class="form-group">
		<label for="description">Description</label>
		<textarea class="form-control" id="description" name="description"
			placeholder="Description">{{ project.description }}</textarea>
	</div>
	<div class="form-group">
		<label for="technology">Technology</label>
		<select class="form-control" id="technology" name="technology">
			<option value="ONT" {% if project.technology == 1 %}selected{% endif %}>ONT</option>
			<option value="Illumina/IonTorrent" {% if project.technology == 0 %}selected{% endif %}>Illumina</option>
		</select>
	</div>

	<input type="submit" name="save" value="Save" class="btn btn-primary btn-primary" id="submit-save" />
	<input type="button" name="cancel" value="Cancel" class="btn btn-secondary" id="button-cancel"
		onclick="window.location.href='/pathogen_identification/projects'">
</form>
{% endblock content %}

{% block js %}

{% load static from staticfiles %}
<script type="text/javascript" src="{% static 'js/televir_projects/warning_messages.js' %}"></script>
<script type="text/javascript" src="{% static 'js/pathogen_identification/PIProject-add.js' %}"></script>


<script type="text/javascript">
    $("#id_project_name").on("change paste keyup", function () {
        $.ajax({
          url: $("#id_form_table_project_reference").attr("data-validate-project-reference-url"),
         // data: form.serialize(),
          // dataType: 'json',
          data : { 
              project_name : $('#id_project_name').val(),
              csrfmiddlewaretoken: '{{ csrf_token }}' }, // data sent with the post request
          success: function (data) {
            $(document).find('#error_1_id_name').remove();
            if (data.is_taken || data.has_special_characters || data.has_spaces) {
              var error_message = "<strong>" + data.error_message + "</strong>";
               $("#id_project_name_error").append(
                  $('<span/>', { 										// creates a dynamic div element on the fly
                  id: 'error_1_id_name',
                  class: 'fields_error',
                  html: error_message,
               }));
            }
          },
          
          // handle a non-successful response
          error : function(xhr,errmsg,err) {
              console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
          }
     });
    });
</script>

{% endblock js %}
