{% extends '_layouts/base.html' %}

{% load bootstrap4 %}
{% load querystring from django_tables2 %}
{% load title from django_tables2 %}
{% load trans blocktrans from i18n %}
{% load django_bootstrap_breadcrumbs %}
{% load static %}

{% block extra_messages %}
<!-- set the messages -->
<div class="container">
	<div id="id_messages_remove"></div>
</div>
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Project Index" "project-index" %}
{% breadcrumb "TELEVIR Projects" "PIprojects_main" %}
{% breadcrumb "Manage Reference Panels" "manage-panels" %}
{% endblock %}


{% block content %}


{% block extra_head %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/televir_reference_panels.css' %}">
{% endblock %}

<style>
    #referenceSearch {
        width: 100%; /* Full-width */
        font-size: 16px; /* Increase font-size */
        padding: 12px 20px; /* Add some padding */
        margin: 8px 0; /* Add some margin */
        box-sizing: border-box; /* Make sure that width includes padding */
        border: none; /* Remove border */
        border-radius: 4px; /* Slightly rounded corners */
        background-color: #f1f1f1; /* Light-grey background */
    }
    
    #referenceSearch:focus {
        outline: none; /* Remove outline when focused */
        background-color: #ddd; /* Light-grey background when focused */
    }
</style>

<div class="container-panels">
    <div class="panels-container">
        <div class="panel-list" data-url="{% url 'panel_references_get' %}">
            <!-- Button trigger modal -->
            <button type="button"  id="new-panel-button" class="btn btn-primary" data-toggle="modal" data-target="#newPanelModal">
                Create New Panel
            </button>
            <div> 
                <ul id="panel-list">
                    {% for panel in panels %}
                    <li>
                        <div class="panel-container clearfix" data-panel-id="{{ panel.id }}">
                            <a data-panel-id="{{ panel.id }}">{{ panel.name }}</a>

                            <button class="remove-panel-button btn btn-danger" data-panel-id="{{ panel.id }}" title="Remove Panel" data-toggle="modal" data-target="#removePanelModal">
                                <i class="fa fa-trash"></i>
                            </button>
                            
                            <button class="add-reference-button btn btn-primary" data-panel-id="{{ panel.id }}" data-toggle="modal" data-target="#myModal" title="Add References">
                                <i class="fa fa-plus"></i>
                            </button>

                            <span class="reference-note " data-panel-id="{{ panel.id }}">{{ panel.references_count }} </span>

                        </div>
                    </li>
                    {% empty %}
                    <li>No panels available.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="reference-list">
            <div class="reference-list-header">
                <h3 class="reference-title">Panel References</h3>
                <input type="search" id="referenceSearch" placeholder="Search references...">
            </div>
            <ul>
                <p> no panel selected </p>
            </ul>
        </div>
    </div>
</div>

<!-- The reference search -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Add References - All Samples</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-9">          <!-- Your search form code here -->
              <form id="reference-search-form">
                <div class="input-group">
                  <input id="search-input" type="text" class="form-control" placeholder="Description, Accid, Taxid">
                  <div class="input-group-append">
                    <button type="submit" class="load-content btn btn-primary" csrf="{{ csrf_token }}" href="{% url 'filter_reference_table' %}">Search</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div id="reference_table_div" class="table-container">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="submit-button" csrf="{{ csrf_token }}" href="{% url 'add_references_to_panel' %}" reload_ref= "{% url 'added_reference_table' %}">Submit</button>
        </div>
      </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="newPanelModal" tabindex="-1" role="dialog" aria-labelledby="newPanelModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newPanelModalLabel">New Panel</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="new-panel-form" url="{% url 'create_reference_panel' %}">
            {% csrf_token %}
            <label for="panel-name">Panel Name:</label>
            <input type="text" id="panel-name" name="panel-name">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="create-panel-button">Create</button>
        </div>
      </div>
    </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="removePanelModal" tabindex="-1" role="dialog" aria-labelledby="removePanelModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="removePanelModalLabel">Remove Panel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to remove this panel?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="remove-panel-button" url= "{% url 'delete_reference_panel' %}" csrf="{{ csrf_token }}">Remove</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div id="removeReferenceModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="removeReferenceModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="removeReferenceModalLabel">Remove Reference</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to remove this reference from the panel?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger">Remove</button>
        </div>
      </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{% static 'js/check-box-general.js' %}"></script>
<script type="text/javascript" src="{% static 'js/televir_projects/panel_functions.js' %}"></script>

<script>
    // Get the modal
    var modal = document.getElementById("newPanelModal");

    // Get the button that opens the modal
    var btn = document.getElementById("new-panel-button");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal 
    btn.onclick = function() {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    document.querySelector('#new-panel-button').addEventListener('click', function() {
        document.querySelector('#newPanelModal').style.display = 'grid';
    });

    document.querySelector('#new-panel-form').addEventListener('submit', function() {
        document.querySelector('#newPanelModal').style.display = 'none';
    });


    // Stop event propagation when the buttons are clicked

    $('#referenceSearch').on('input', function() {
        var searchValue = $(this).val().toLowerCase();
        $('.reference-item').each(function() {
            var referenceText = $(this).text().toLowerCase();
            if (referenceText.indexOf(searchValue) > -1) {
                $(this).show();
            } else {
                $(this).hide();
            }
        });
    });


    $('#removeReferenceModal').on('click', '.btn-danger', function() {
        var ref_id = $('#removeReferenceModal').attr('ref_id');
        var panel_id = $('#removeReferenceModal').attr('panel_id');
        var url = '{% url "remove_panel_reference" %}';
        var reload_url = '{% url "added_reference_table" %}';
        console.log("removing ref id: " + ref_id + " from panel id: " + panel_id)
        $.ajax({
            url: url,
            method: 'POST',
            data: {
                'reference_id': ref_id,
                'panel_id': panel_id,
                'csrfmiddlewaretoken': document.querySelector('[name=csrfmiddlewaretoken]').value
            },
            success: function(data) {
                $('#removeReferenceModal').modal('hide');
                load_panel_refs(panel_id);
                $('.modal-backdrop').remove();

            },
            error: function(error) {
                console.error('Error:', error);
            }
        });
    });

    // AJAX to submit the form
    document.getElementById('create-panel-button').addEventListener('click', function(e) {
        e.preventDefault();
        var name = document.getElementById('panel-name').value;
        var url = document.getElementById('new-panel-form').getAttribute('url');
        var reload_url = '{% url "panel_list" %}';
        $.ajax({
            url: url,  // Replace with the actual URL of your view
            method: 'POST',
            data: {
                'name': name,
                'csrfmiddlewaretoken': document.querySelector('[name=csrfmiddlewaretoken]').value
            },
            success: function(data) {

                modal.style.display = "none";
                // unblock the UI
                $('.modal-backdrop').remove();
                // Reload the panel list
                reload_panels("{{ user.id }}", reload_url);
                
            },
            error: function(error) {
                console.error('Error:', error);
            }
            
        });
    });


	$(document).ready(function () {
        // Load the reference table
        $('#submit-button').click(function () {
            $.unblockUI();
        });
		$('.close').click(function () {
			$.unblockUI();
		});
        $('.submit-button').click(function () {
            $.unblockUI();
        });

        reload_connects();

	});

    window.onbeforeunload = function (e) {
        $.unblockUI();
    };


    $(document).ready(ready_document("{{ user_id }}", "{% url 'panel_list' %}"));
    

    $('.load-content').on('click', loadThisContent);
</script>

{% endblock %}