{% extends '_layouts/base.html' %}


{% load bootstrap4 %}
{% load querystring from django_tables2 %}
{% load title from django_tables2 %}
{% load trans blocktrans from i18n %}
{% load django_bootstrap_breadcrumbs %}

{% load static %}

{% block extra_messages %}
	<!-- set the messages -->
	<div class="container">
		<div id="id_messages_remove"></div>
	</div>
{% endblock %}


{% block css %}
	{% load static from staticfiles %}
		<link rel="stylesheet" href="{% static 'css/flu-web-site.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/televir_software_graph/collapsibleTree-0.1.6/collapsibleTree.css' %}" />
    <link rel="stylesheet" href="{% static 'css/reference_management.css' %}">
    <link rel="stylesheet" href="{% static 'css/televir_reference_management_panels.css' %}">

{% endblock css %}

{% block breadcrumbs %}
{{block.super}}
{% if owner %}
{% breadcrumb "Project Index" "project-index" %}
{% breadcrumb "TELEVIR Projects" "PIprojects_main"  %}
{% breadcrumb project_name "PIproject_samples" pk=project_index %}
{% breadcrumb sample_name "sample_main" pk1=project_index pk2=sample_index  %}
{% breadcrumb "References Management" "sample_references_management" pk1=sample_index %}
{% else %}
{% breadcrumb "Project Index" "project-index" %}

{% endif %}
{% endblock %}

{% block content %}


<div id="accordion1" role="tablist" aria-multiselectable="true">
  <div class="card">
      <div class="card">
          <div class="card-header" role="tab" id="headingsample" sample-id= "{{sample_index}}" data-csrf= "{{ csrf_token }}">
              <div class="row">
                  <div class="col-sm" >
                      <h5 class="mb-0" >
                          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsehead" aria-expanded="false" aria-controls="headinghead">
                              <strong>Workflows sample: {{sample_name}}</strong>
                          </a>
                      </h5>
                  </div>
                  <div class="col-sm">
                      <div class="float-right">
                          <a href={% url 'televir_sample_compound_report' pk1=project_index pk2=sample_index %} class="btn btn-primary dark"> 
                              <span class="hidden-phone"></span>Combined Report</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      {% if runs_number %}
      <div id="collapsehead" class="collapse" role="tabpanel" aria-labelledby="headingsample">
          <div class="card-block">
              <div style="padding: 20px">
                  
                  <div class="row">
                      <div class="col-sm-2 workflow-link-panel centered-links">
                        <ul>
                            {% for run in runs %}
                            <li><a href="{% url 'sample_detail' pk1=run.project.pk pk2=run.sample.pk pk3=run.pk %}">Workflow report {{run.parameter_set.leaf.software_tree.global_index}}.{{run.parameter_set.leaf.index}}</a></li>
                            {% endfor %}
                        </ul>
                      </div>
                      {% if graph_json %}
                      <div class="col-sm-9">
                              <div id="{{graph_id}}" style="width:95%;height:250px;position:center;margin-left: 100px;margin-top: 50px;" class="collapsibleTree html-widget"></div>
                              <script type="application/json" data-for="{{graph_id}}">{{graph_json|safe}}</script>
                      </div>
                  </div>
                  <div>
                      <br>
                      <div class="col-sm-2">
                        <div class="info-icon">
                          <img src="{% static "img/pipeline_steps_classification.jpg" %}" alt="Graph Information">
                          <i class="fa fa-info-circle"></i>
                        </div>
                      </div>
                      {% endif %}
                  </div>
                  
              </div>
          </div>
      </div>
      {% endif %}
  </div>
</div>

<div id="accordion2" role="tablist" aria-multiselectable="true">
  <div class="card">
      <div class="card">
          <div class="card-header" role="tab" id="headingsample2">
              <div class="row">
                  <div class="col-sm" >
                      <h5 class="mb-0" >
                          <a class="collapsed" id="add_references_title" data-toggle="collapse" data-parent="#accordion2" href="#collapsehead2" aria-expanded="false" aria-controls="headingsample2">
                              <strong> {{ added_references_count }} Added References </strong>
                          </a>
                      </h5>
                  </div>
                  <div class="col-sm">
                    <div class="float-right">
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                        Add References
                      </button>
                    </div>
                </div>
              </div>
          </div>
      </div>
      <div id="collapsehead2" class="collapse" role="tabpanel" aria-labelledby="headingsample2">
        <div class="reference-list" id="reference-table-panel">
        </div>
      </div>

  </div>
</div>

<div id="accordion3" role="tablist" aria-multiselectable="true">
  <div class="card">
      <div class="card">
          <div class="card-header" role="tab" id="headingPanel">
              <div class="row">
                  <div class="col-sm" >
                      <h5 class="mb-0" >
                          <a class="collapsed" id="add_panels_title" data-toggle="collapse" data-parent="#accordion3" href="#collapsePanel" aria-expanded="false" aria-controls="headingPanel">
                              <strong> {{ added_panels_count }} Added Panels </strong>
                          </a>
                      </h5>
                  </div>
                  <div class="col-sm">
                    <div class="float-right">
                      <button type="button" class="add-panels btn btn-primary" data-toggle="modal" data-target="#addPanelModal" href="{% url 'get_sample_panel_suggestions' %}" sample-id="{{ sample_index }}">
                        Add Panels
                      </button>
                    </div>
                </div>
              </div>
          </div>
      </div>
      <div id="collapsePanel" class="collapse" role="tabpanel" aria-labelledby="headingPanel">
        <div class="panel-list" id="panel-list-section" data-url="{% url 'get_sample_panels' %}">
          <ul id="panel-list">
            {% for panel in panels %}
            <li>
                <div class="panel-container clearfix" data-panel-id="{{ panel.id }}">
                    <a data-panel-id="{{ panel.id }}">{{ panel.name }}</a>

                    <button class="remove-panel-button btn btn-danger" data-panel-id="{{ panel.id }}" title="Remove Panel" data-toggle="modal" data-target="#removePanelModal">
                        <i class="fa fa-trash"></i>
                    </button>
                    
                    <button class="add-reference-button btn btn-primary" data-panel-id="{{ panel.id }}" data-toggle="modal" data-target="#myModal" title="Add References">
                        <i class="fa fa-plus"></i>
                    </button>

                    <span class="reference-note " data-panel-id="{{ panel.id }}">{{ panel.references_count }} </span>

                </div>
            </li>
            {% empty %}
            <li>No panels available.</li>
            {% endfor %}
        </ul>
      </div>
      </div>
  </div>
</div>

<div class="table-container">

  <div class="sidebar">
      <div class="sidebar-actions">
        <div class="sidebar-header">
          <h3> Actions </h3>
        </div>
        <div class="button-group-casing">
          <button class="btn btn-primary first-button">
            {{ deploy_metagenomics }} 
          </button>

          <button class="btn btn-primary">
            <a id="request_map_selected" href="#id_map_selected_modal" data-toggle="modal" data-target="#id_map_selected_modal" style="color: #fff;">
              Map Selected
            </a>
          </button>
          <button class="btn btn-primary">
            <a id="request-map-panels" sample-name="{{ sample_name }}" sample-id="{{ sample_index}}" href="#MapPanelModal" data-toggle="modal" data-target="#MapPanelModal" style="color: #fff;">
              Map Panels
            </a>
          </button>
          <!--
          <button class="btn btn-primary">
            <a id="request_screening" href="#id_screening_modal" data-toggle="modal" data-target="#id_screening_modal" style="color: #fff;">
              Deploy Screening
            </a>
          </button>
          -->
          <button class="btn btn-primary parameters-button">
            {{ meta_parameters  }}  
          </button>
        </div>
  
      </div>
  </div>

  <div class="table-content">
    {% block table %}
    <div class="table-responsive">
        <table id="table_with_check_id" check_box_all="{{ check_box_all }}" class="table table-hover table-bordered table-striped" set-check-box-values-url="{% url 'set-check-box-values' %}" {% if table.attrs %} {{ table.attrs.as_html }}{% endif %}>
          
          {% block table.thead %}
            <thead>                 
            <tr>
                <tr>
                    <th colspan="7">
                        <form method="get" action="" class="form-inline form-search pull-right">
                          {% csrf_token %}
                            <div class="pull-right form-search">
                              <input id="search_form_id" name="search_add_project_sample" type="text" class="form-control col-sm-9" placeholder="Description, Accession, Taxid"{% if search_add_project_sample %} value="{{ search_add_project_sample }}"{% endif %}>
                                <button type="submit" name="search_in_table" class="btn btn-small btn-dark"><i class="fa fa-search"></i> Search</button> 
                            </div>              
                        </form>
                    </th>                  
                </tr>
              <tr>
                {% for column in table.columns %}
                  {% if column.name == "select_ref" %}
                    <th>
                      <button id="clearSelections" class="clear-selections-btn" title="Clear selection">x</button>                    </th>
                  {% elif column.orderable %}
                      <th {{ column.attrs.th.as_html }}><a href="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}">{{ column.header|title }}</a></th>
                  {% else %}
                    <th {{ column.attrs.th.as_html }}>{{ column.header|title }}</th>
                  {% endif %}
                {% endfor %}
              </tr>
            </thead>
            {% endblock table.thead %}
            {% block table.tbody %}
            <tbody>
                {% for row in table.page.object_list|default:table.rows %} {# support pagination #}
                  {% block table.tbody.row %}
                  <tr class="{% cycle 'odd' 'even' %}">
                      {% for column, cell in row.items %}
                          <td {{ column.attrs.td.as_html }}>{{ cell }}</td>
                      {% endfor %}
                  </tr>
                  {% endblock table.tbody.row %}
                {% empty %}
                  {% if table.empty_text %}
                  {% block table.tbody.empty_text %}
                    <tr><td colspan="{{ table.columns|length }}">{{ table.empty_text }}</td></tr>
                  {% endblock table.tbody.empty_text %}
                  {% endif %}
                {% endfor %}
            </tbody>
            {% endblock table.tbody %}
            {% block table.tfoot %}
              <tfoot></tfoot>
            {% endblock table.tfoot %}
        </table>
    </div>
    {% endblock table %}

    {% if table.page and show_paginatior %}
    <div class="paginator">
    {% block pagination %}
      <label id="id-total-list" class="pull-right">Total references: {{ query_set_count }}</label>
        {% bootstrap_pagination table.page url=request.get_full_path %}
    {% endblock pagination %}
    </div>

    {% else %}
    <label id="id-total-list" class="pull-right">Total samples: {{ query_set_count }}</label>
    {% endif %}

    </div>

</div>

<a id="id_go_back_button" onClick="javascript:history.go(-1);"
  class="btn btn-small btn-primary dark" style="color: #fff;"><span class="hidden-phone"><i class="fa fa-arrow-left"></i> Go back</span></a>


<!-- Modals -->
<!-- The sample metagenomics submit modal -->
<div class="modal fade" id="id_deploy_metagenomics_modal">
  <div class="modal-dialog">
      <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header alert alert-warning">
              <h4 class="modal-title-submit">Submit sample deployment</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body mx-auto mw-100">
              <div id="id-modal-body-deploy-metagenomics-sample" deploy-metagenomics-single-value-url="{% url 'deploy_metagenomics_televir_project_sample' %}">
                  <label id="id-label-deploy-metagenomics" class="col-form-label">Folder Name</label>
              </div>
          </div>
          <!-- Modal footer -->
          <div class="modal-footer" id="id-modal-footer-remove">
              <button id="id-deploy-metagenomics-button" type="button" class="btn btn-primary" data-dismiss="modal">Deploy</button>
              <button id="id-cancel-button" type="button" class="btn btn-secondary" data-dismiss="modal"
                  aria-hidden="true">Cancel</button>
          </div>
      </div>
  </div>
</div>

<!-- The map panel modal -->
<div class="modal fade" id="MapPanelModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title-map-panel">Map Panel</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="id-modal-body-map-panel" map-panel-single-value-url="{% url 'map_selected_panels' %}" data-csrf= "{{ csrf_token }}">
          <label id="id-label-map-panel" class="col-form-label">Folder Name</label>
        </div>
      </div>
      <div class="modal-footer">
        <button id="id-map-panel-button" type="button" class="btn btn-primary" data-dismiss="modal">Map</button>
        <button id="id-cancel-button" type="button" class="btn btn-secondary" data-dismiss="modal"
          aria-hidden="true">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- The refrence search -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Add References</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-9">          <!-- Your search form code here -->
            <form id="reference-search-form">
              <div class="input-group">
                <input id="search-input" type="text" class="form-control" placeholder="Description, Accid, Taxid">
                <div class="input-group-append">
                  <button type="submit" class="load-content btn btn-primary" href="{% url 'filter_reference_table' %}">Search</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div id="reference_table_div" class="table-container">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="submit-button" href="{% url 'add_references_to_sample' %}" reload_ref= "{% url 'added_reference_table' %}">Submit</button>
      </div>
    </div>
  </div>
</div>

<!-- The add panel modal -->
<div class="modal fade" id="addPanelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Add Panels</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="panel-list-modal" data-url="{% url 'panel_references_get' %}">
          <ul id="panel-list-modal">
          </ul> 
        </div>    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="panel-submit-button" href="{% url 'add_panels_to_sample' %}">Submit</button>
      </div>
    </div>
  </div>
</div>

<!-- The remove panel modal -->
<div class="modal fade" id="removePanelModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Remove Panel</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="id-modal-body-remove-panel" remove-panel-single-value-url="{% url 'remove_added_panel' %}" data-csrf= "{{ csrf_token }}">
          <label id="id-label-remove-panel" class="col-form-label">Folder Name</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="remove-panel-submit-button" href="{% url 'remove_added_panel' %}">Remove</button>
      </div>
    </div>
  </div>
</div>

<!-- The remove modal -->
<div class="modal fade" id="id_remove_modal">
	<div class="modal-dialog">
		<div class="modal-content">

			<!-- Modal Header -->
			<div class="modal-header alert alert-warning">
				<h4 class="modal-title-remove">Remove a Reference</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<!-- Modal body -->
			<div class="modal-body mx-auto mw-100">
				<div id="id-modal-body-remove-sample" sample_id="{{ sample_index }}" remove-single-value-url="{% url 'remove_added_reference' %}" data-csrf= "{{ csrf_token }}">
					<label id="id-label-remove" class="col-form-label">Folder Name</label>
				</div>
			</div>
			<!-- Modal footer -->
			<div class="modal-footer" id="id-modal-footer-remove">
				<button id="id-remove-button" type="button" class="btn btn-primary" data-dismiss="modal">Remove</button>
				<button id="id-cancel-button" type="button" class="btn btn-secondary" data-dismiss="modal"
					aria-hidden="true">Cancel</button>
			</div>
		</div>
	</div>
</div>


<!-- The map selected modal -->
<div class="modal fade" id="id_map_selected_modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header alert alert-warning">
        <h4 class="modal-title-map">Map selected references</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body mx-auto mw-100">
        <div id="id-modal-body-map-selected" sample_id="{{ sample_index }}" map-selected-single-value-url="{% url 'map_selected_references' %}" data-csrf= "{{ csrf_token }}">
          <label id="id-label-map-selected" class="col-form-label">Folder Name</label>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer" id="id-modal-footer-map-selected">
        <button id="id-map-selected-button" type="button" class="btn btn-primary" data-dismiss="modal">Map</button>
        <button id="id-cancel-button" type="button" class="btn btn-secondary" data-dismiss="modal"
          aria-hidden="true">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- The screening modal -->
<div class="modal fade" id="id_screening_modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header alert alert-warning">
        <h4 class="modal-title-screening">Deploy screening</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body mx-auto mw-100">
        <div id="id-modal-body-screening" sample_id="{{ sample_index }}" screening-single-value-url="{% url 'deploy_screening_televir_project_sample' %}" data-csrf= "{{ csrf_token }}">
          <label id="id-label-screening" class="col-form-label">Folder Name</label>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer" id="id-modal-footer-screening">
        <button id="id-screening-button" type="button" class="btn btn-primary" data-dismiss="modal">Deploy</button>
        <button id="id-cancel-button" type="button" class="btn btn-secondary" data-dismiss="modal"
          aria-hidden="true">Cancel</button>
      </div>
    </div>
</div>


{% endblock content %}

{% block js %}

{% load static from staticfiles %}
<!-- Custom scripts for all pages-->
<script type="text/javascript" src="{% static 'js/check-box-general.js' %}"></script>
<script type="text/javascript" src="{% static 'js/graph_televir/htmlwidgets-1.6.2/htmlwidgets.js' %}"></script>
<script type="text/javascript" src="{% static 'js/graph_televir/d3-4.10.2/d3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/graph_televir/collapsibleTree-binding-0.1.7/collapsibleTree.js' %}"></script>
<script type="text/javascript" src="{% static 'js/televir_projects/remove_added_reference.js' %}"></script>
<script type="text/javascript" src="{% static 'js/televir_projects/televir_reference_mapping.js' %}"></script>
<script type="text/javascript" src="{% static 'js/televir_projects/reference_panel_functions.js' %}"></script>



<script>

  $(document).ready(function() {

    // load panels
    load_panels('{{ sample_index }}', '{% url "get_sample_panels" %}', '.panel-list ul', true, false);
    prep_loads();

    update_ref_table();

    $('.add-panels').click(function() {
      var url= $(this).attr('href');
      var sample_id = $(this).attr('sample-id');
      load_panels(sample_id, url, '.panel-list-modal ul', false, true);
    });
  });

  $(document).on("click", "a", function (e) {

    if ($(this).attr("id") === 'deploy_metagenomics_modal'){
        var ref_name = $(this).attr('ref_name');
        var sample_pk = $(this).attr('pk');
  
        $('#id-label-deploy-metagenomics').text('Deploy metagenomics combined analysis for sample \'' + ref_name + '\'?');
        $('#id-modal-body-deploy-metagenomics-sample').attr('sample_id', sample_pk);
        $('#id-modal-body-deploy-metagenomics-sample').attr('ref_name', ref_name);
    }
    
  });


</script>

{% endblock %}


