{% extends '_layouts/base.html' %}


{% load bootstrap4 %}
{% load querystring from django_tables2 %}
{% load title from django_tables2 %}
{% load trans blocktrans from i18n %}
{% load django_bootstrap_breadcrumbs %}

{%load html_tags %}

{% load static %}
{%load report_colors %}


{% block css %}
	{% load static from staticfiles %}
        <link rel="stylesheet" href="{% static 'css/result_table.css' %}" />
        <link rel="stylesheet" href="{% static 'css/result_detail.css' %}" />
        <link rel="stylesheet" href="{% static 'css/result_detail_buttons.css' %}" />
        <link rel="stylesheet" href="{% static 'css/televir_software_graph/collapsibleTree-0.1.6/collapsibleTree.css' %}" />
{% endblock css %}


{% block breadcrumbs %}
{{block.super}}
{% if owner %}
{% breadcrumb "Project Index" "project-index" %}
{% breadcrumb "TELEVIR Projects" "PIprojects_main"  %}
{% breadcrumb project "PIproject_samples"  pk=project_index  %}
{% breadcrumb sample "sample_main" pk1=project_index pk2=sample_index  %}
{% else %}
{% breadcrumb "Project Index" "project-index" %}

{% endif %}
{% endblock %}

{% block content %}

<style>
    /* Sidebar styles */
    .sidebar {
      width: 250px; /* Increase the width of the sidebar */
      background-color: #f1f1f1;
      padding: 20px;
      float: left;
    }

    /* Table styles */
    .table-container {
      margin-left: 280px; /* Adjust the margin to accommodate the sidebar width */
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color: #f2f2f2;
    }

    tr:hover {
      background-color: #f5f5f5;
    }

    /* Search bar styles */
    .search-bar {
      margin-bottom: 10px;
    }

    /* Button styles */
    .button-container {
      margin-top: 10px; /* Add margin between the buttons */
    }

    .button-container button {
      margin-right: 5px; /* Add margin between the buttons */
    }
    .paginator {
        margin-top: 10px;
    }

</style>


{% if owner %}


<div class="sidebar">
<div class="search-bar">
    <input type="text" id="searchInput" placeholder="Search...">
</div>
<button id="selectAllBtn">Select All</button>
<button id="deselectAllBtn">Deselect All</button>
<!-- Add more buttons as needed -->
</div>

<div class="table-container">
<table>
    <thead>
    <tr>
        <th>Select</th>
        <th>Description</th>
        <th>Accid</th>
        <th>Taxid</th>
        <th>Runs</th>
        <th>Mapped</th>
        <!-- Add more column headers as needed -->
    </tr>
    </thead>
    <tbody id="tableBody">
    <!-- Table rows will be dynamically added here -->
    </tbody>
</table>

<div class="paginator" id="pagination-button">
    <button id="prevBtn" disabled>Prev</button>
    <button id="nextBtn">Next</button>
</div>

</div>

{% endif %}
{% endblock content %}


{% block js %}
<script>
var data = [
    {% for reference in references %}
    {
        "description": "{{ reference.description }}",
        "accid": "{{ reference.accid }}",
        "taxid": "{{ reference.taxid }}",
        "run_count": "{{ reference.run_count }}",
        "mapped_html": "{{ reference.mapped_html }}"
        // Add more columns as needed
    },
    {% endfor %}
];

var checkboxStates = {}; // Store the state of checkboxes
var itemsPerPage = 10; // Number of items to display per page
var currentPage = 1;
var totalPages = 1;

function renderTable() {
    var tableBody = document.getElementById("tableBody");
    tableBody.innerHTML = "";

    var startIndex = (currentPage - 1) * itemsPerPage;
    var endIndex = startIndex + itemsPerPage;

    var searchInput = document.getElementById("searchInput");
    var searchText = searchInput.value.toLowerCase();

    console.log(searchText);

    for (var i = startIndex; i < endIndex && i < data.length; i++) {
        var row = document.createElement("tr");

        var selectCell = document.createElement("td");
        var selectCheckbox = document.createElement("input");
        selectCheckbox.type = "checkbox";
        selectCheckbox.id = "checkbox_" + i;
        selectCheckbox.checked = checkboxStates[i] || false; // Retrieve checkbox state
        selectCheckbox.addEventListener("change", function(event) {
            var checkboxId = event.target.id;
            var checkboxIndex = parseInt(checkboxId.split("_")[1]);
            checkboxStates[checkboxIndex] = event.target.checked; // Store checkbox state
        });

        selectCell.appendChild(selectCheckbox);
        row.appendChild(selectCell);

        var descriptionCell = document.createElement("td");
        descriptionCell.textContent = data[i].description;

        var accidCell = document.createElement("td");
        accidCell.textContent = data[i].accid;

        var taxidCell = document.createElement("td");
        taxidCell.textContent = data[i].taxid.toLowerCase();

        var runcountCell = document.createElement("td");
        runcountCell.textContent = data[i].run_count.toLowerCase();

        var linkCell = document.createElement("td");
        if (data[i].mapped_html === "False") {
            linkCell.textContent = "False";
        } else {
            var link = document.createElement("a");
            link.href = data[i].mapped_html
            link.textContent = "Run";
            linkCell.appendChild(link);
        }
        // Add more cells and data as needed
        // ...

        row.appendChild(descriptionCell);
        row.appendChild(accidCell);
        row.appendChild(taxidCell);
        row.appendChild(runcountCell);
        row.appendChild(linkCell);

        if (
          descriptionCell.textContent.includes(searchText) ||
          accidCell.textContent.includes(searchText) ||
          taxidCell.textContent.includes(searchText)
        ) {
          tableBody.appendChild(row);
        }

        // Add more rows as needed
        
    }

    updatePaginator();
}

function updatePaginator() {
    var totalItems = data.length;
    totalPages = Math.ceil(totalItems / itemsPerPage);

    var prevBtn = document.getElementById("prevBtn");
    var nextBtn = document.getElementById("nextBtn");

    if (currentPage === 1) {
        prevBtn.disabled = true;
    } else {
        prevBtn.disabled = false;
    }

    if (currentPage === totalPages) {
        nextBtn.disabled = true;
    } else {
        nextBtn.disabled = false;
    }
}

function goToPrevPage() {
    if (currentPage > 1) {
        currentPage--;
        renderTable();
    }
}

function goToNextPage() {
    if (currentPage < totalPages) {
        currentPage++;
        renderTable();
    }
}

function searchTable() {
    renderTable();
}

function selectAll() {
    for (var i = 0; i < data.length; i++) {
        checkboxStates[i] = true;
    }
    renderTable();
}

function deselectAll() {
    checkboxStates = {};
    renderTable();
}

renderTable();

var prevBtn = document.getElementById("prevBtn");
prevBtn.addEventListener("click", goToPrevPage);

var nextBtn = document.getElementById("nextBtn");
nextBtn.addEventListener("click", goToNextPage);

var searchInput = document.getElementById("searchInput");
searchInput.addEventListener("input", function() {
    console.log("searchInput");
    renderTable();
});

var selectAllBtn = document.getElementById("selectAllBtn");
selectAllBtn.addEventListener("click", function() {
  var checkboxes = document.querySelectorAll("#tableBody input[type='checkbox']");
  checkboxes.forEach(function(checkbox, index) {
    checkbox.checked = true;
    checkboxStates[index] = true; // Update checkbox state
  });

  // If pagination is enabled, update checkbox states for all pages
  var paginationButtons = document.querySelectorAll(".pagination-button");
  paginationButtons.forEach(function(button) {
    button.addEventListener("click", function() {
      checkboxes.forEach(function(checkbox, index) {
        checkboxStates[index] = checkbox.checked; // Update checkbox state
      });
    });
  });
});

var deselectAllBtn = document.getElementById("deselectAllBtn");
deselectAllBtn.addEventListener("click", function() {
  var checkboxes = document.querySelectorAll("#tableBody input[type='checkbox']");
  checkboxes.forEach(function(checkbox, index) {
    checkbox.checked = false;
    checkboxStates[index] = false; // Update checkbox state
  });
});
</script>

{% endblock js %}





</body>
</html>