{% extends '_layouts/base.html' %}


{% load bootstrap4 %}
{% load querystring from django_tables2 %}
{% load title from django_tables2 %}
{% load trans blocktrans from i18n %}
{% load django_bootstrap_breadcrumbs %}

{%load html_tags %}

{% load static %}
{%load report_colors %}


{% block css %}
	{% load static from staticfiles %}
        <link rel="stylesheet" href="{% static 'css/result_table.css' %}" />
        <link rel="stylesheet" href="{% static 'css/result_detail.css' %}" />
        <link rel="stylesheet" href="{% static 'css/result_detail_buttons.css' %}" />
{% endblock css %}

{% block breadcrumbs %}
{{block.super}}
{% if owner %}
{% breadcrumb "Project Index" "project-index" %}
{% breadcrumb "TELEVIR Projects" "PIprojects_main"  %}
{% breadcrumb project "PIproject_samples"  pk=project_index  %}
{% breadcrumb sample "sample_main" pk1=project_index pk2=sample_index  %}
{% breadcrumb run_name "sample_detail" pk1=project_index pk2=sample_index pk3=run_index %}
{% else %}
{% breadcrumb "Project Index" "project-index" %}

{% endif %}
{% endblock %}


{% block content %}

<style>

    .table tr.igv_tab.open .card-block {
        max-height: 2001px;
        transition: max-height .5s;
        transition-timing-function: ease-in;
    }

    .table tr.igv_tab .card-block {
        max-height: 0px;
        transition: max-height .7s;
        transition-timing-function: ease-out;
    }

    .table tr.igv_tab.open .igv-root-div {
        max-height: 2001px;
        transition: max-height .8s;
        transition-timing-function: ease-in;
    }

    .table tr.igv_tab .igv-root-div {
        max-height: 0px;
        transition: max-height .5s;
        transition-timing-function: ease-out;
    }

    .table tr.igv_tab.open .igv-navbar {
        max-height: 2001px;
        transition: max-height .3s;
        transition-timing-function: ease-in;
    }

    .table tr.igv_tab .igv-navbar {
        max-height: 0px;
        transition: max-height .3s;
        transition-timing-function: ease-out;
    }

    .table tr.igv_tab.open .igv-loader {
        max-height: 2001px;
        transition: max-height .3s;
        transition-timing-function: ease-in;
    }

    .table tr.igv_tab .igv-loader {
        max-height: 0px;
        transition: max-height .3s;
        transition-timing-function: ease-out;
    }

    .parent {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
        height: 80px;
    }

    .parent:hover {
        background-color: #ddd;
    }
    

    a:link {
        color: #2b2bcf;
        background-color: transparent;
        text-decoration: none;
    }
    
    a:visited {
        color: blueviolet;
        background-color: transparent;
        text-decoration: none;
    }
    
    a:hover {
        color: blue;
        background-color: transparent;
        text-decoration: underline;
    }
    
    a:active {
        color: cornflowerblue;
        background-color: transparent;
        text-decoration: underline;
    }
    
    .column {
        float: left;
        padding: 10px;
    }


    .left {
        width: 70%;
    }

    .right {
        width: 30%;
        postion: absolute;

    }

    .left_small {

        width: 30%;
    }

    .center {
        width: 40%;
    }

    form {
        padding: 12px;
        position: relative;
    }

    .modebar {
        display: none !important;
    }
    
    .row {
        border: none;
        border-radius: 8px;
        padding: 1px;
        border-color: #b0b0b07d;
    }
    
    #cov_div {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .table td, .table th {
        vertical-align: middle;
        
    }
      

    
    .header {
    background: #3498db;
    color: #fff;
    }
    
    .collapse-report span {
    cursor: pointer;
    background: #2cc16a;
    transition: background .5s;
    }
    
    .active span {
    background: #fff;
    }
    
    .table tr.collapse-report .table__wrapper {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .8s;
    }
    
    .table tr.active .table__wrapper {
    max-height: 2000px;
    transition: max-height .8s;
    }
    

    .table-inner td p {
    margin: 0;
    }
    
    .table tr.igv_tab.open {
    max-height: 2001px;
    transition: max-height 1s;
    }

    .table tr.igv_tab {
    max-height: 0px;
    transition: max-height 1s;
    }

    .table td {
    padding-top: 0rem;
    padding-bottom: 0rem;
    border-top: 0px;
    }

    .table tr.head {
    height: 1rem;
    border-top: 1px;
    }

</style>

{% if owner %}

<div id="accordion1" role="tablist" aria-multiselectable="true">
    <div class="card">
        <div class="card-header" role="tab" id="headinghead">
            <h5 class="mb-0">
                <a class="collapsed"  data-toggle="collapse" data-parent="#accordion" href="#collapsehead" aria-expanded="false" aria-controls="headinghead">
                    <strong>Run</strong>
                </a>
                </h5>
        </div>
        <div id="collapsehead" class="collapse show" role="tabpanel" aria-labelledby="headinghead">
            <div class="card-block">
                <div style="padding: 20px">
                    <div class="row">
                        <div class= "col-sm">
                            <p style="margin: 0;"> <strong>Sample name: </strong> {{sample}}</p>
                            <p style="margin: 0;"> <strong>Run: </strong> {{run_name}}</p>
                        </div>
                        <div class="col-sm">
                            {% if run_main.enrichment_performed %}
                            <p style="margin: 0;"> <strong>Viral enrichment:</strong> {{run_main.enrichment}} </p>
                            {% endif %}
                            {% if run_main.host_depletion_performed %}
                            <p style="margin: 0;"> <strong>Host depletion:</strong> {{run_main.host_depletion}} </p>
                            {% endif %}
                            {% if read_classification.performed %}
                            <p style="margin: 0;"> <strong>Read classification:</strong> {{read_classification.method}} </p>
                            {% endif %}
                            {% if contig_classification.performed %}       
                            <p style="margin: 0;"> <strong>Contig classification:</strong> {{run_main.contig_classification}}</p>
                            {% endif %}
                            {% if assembly.performed %} 
                            <p style="margin: 0;"> <strong>Assembly:</strong> {{assembly.method}} </p>
                            {% endif %}
                            <p style="margin: 0;"> <strong>Remapping:</strong> {{run_main.remap}} </p>                        
                        </div>
                        <div class= "col-sm">
                            <form  id="download_params" action="{% url 'download_file' %}" method="POST">
                                {% csrf_token %}
                                <input type=submit value="parameters (.tsv)" name="btn1"
                                    style="border=1px solid border-color:black padding:2px">
                                <input type="hidden" name="file_path" value="{{run_main.params_file_path}}">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
                <a class="collapsed"  data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    <strong>Pre-Processing</strong>
                </a>
                </h5>
        </div>
        <div id="collapseOne" class="collapse hide" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
                <div style="padding: 20px">
                    <div class="row">
                    <div class= "col-sm">
                    <p> Input reads: <strong>{{ run_detail.input }}</strong> </p>
                    {% if run_main.enrichment_performed or run_main.host_depletion_performed %}
                        {% if run_main.enrichment_performed %}
                        {% if run_detail.enriched_reads == 0 %}
                        <p> Viral enrichment ({{ run_main.enrichment }}) did not remove any reads </p>
                        {% else %}
                        <p> Viral enrichment ({{ run_main.enrichment }}) removed <strong>{% difference_str_to_str run_detail.input run_detail.enriched_reads %}</strong> reads ({% difference_str_to_percent run_detail.input run_detail.enriched_reads %} %).</p>
                        {% endif %}
                        {% endif %}
                        {% if run_main.host_depletion_performed %}
                        {% if run_detail.depleted_reads == 0 %}
                        <p> Host depletion ({{ run_main.host_depletion }}) did not remove any reads </p>
                        {% else %}
                        <p> Host depletion ({{ run_main.host_depletion }}) removed <strong>{{run_detail.depleted_reads|convert_int_to_str_format}}</strong> reads ({{run_detail.depleted_reads_percent|round_to_percent}} %)</p>
                        {% endif %}
                        {% endif %}
                        {% if run_detail.processed != "0" %}
                        <p>Output reads: <strong>{{ run_detail.processed }} </strong> ({{run_detail.processed_percent}} %) </p>
                        {% endif %}
                    {% else %}
                        <p> No pre-processing step was performed </p>
                    {% endif %}
                    </div>
                    
                    {% if run_main.enrichment_performed or run_main.host_depletion_performed and run_detail.processed != "0" %}
                    <div class="col-sm">
                        <div id="piechart"></div>
                    </div>
                    {% endif %}
                    
                    <div class="column-sm">
                        {% if run_main.enrichment_performed or run_main.host_depletion_performed %}
                        <form id="download_processed_reads_r1" action="{% url 'download_file' %}" method="POST">
                            {% csrf_token %}
                            <input type=submit value="processed R1 (.gz)" name="btn1">
                            <input type="hidden" name="file_path" value="{{run_main.processed_reads_r1}}">
                        </form>
                        {% if run_main.sample.sample.is_valid_2 %}
                        <form id="download_processed_reads_r2" action="{% url 'download_file' %}" method="POST">
                            {% csrf_token %}
                            <input type=submit value="processed R2 (.gz)" name="btn2">
                            <input type="hidden" name="file_path" value="{{run_main.processed_reads_r2}}">
                        </form>
                        {% endif %}
                        {% endif %}
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingAssembly">
            <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseAssembly" aria-expanded="false" aria-controls="collapseAssembly">
                    <strong>Assembly</strong>
                </a>
                </h5>
        </div>
        <div id="collapseAssembly" class="collapse hide" role="tabpanel" aria-labelledby="headingAssembly">
            <div class="card-block">
                <div style="padding: 20px;">
                    <div class="row">
                    <div class="col-sm">
                        {% if assembly.performed %}
                        <p> Assembly was run using the software <strong>{{ assembly.method }}</strong>. </p>
                        <p> Assembled contigs were filtered for a minimum size of {{assembly.contig_trim}} bp. </p>
                        <p> After filtering, {{assembly.contig_number}} contigs remained. </p>
                        {% if assembly.contig_number > 0 %}
                        </p> Contig sizes range between
                            {{assembly.contig_min}} bp and {{assembly.contig_max}} bp (mean {{assembly.contig_mean}}) 
                        </p>
                        {% endif %}
                        {% else %}
                            <p> Assembly not performed </p>
                        {% endif %}
                    </div>  
                    <div class="col-sm">
                        {% if assembly.contig_number > 0 %}
                        <form id="download_assembly" action="{% url 'download_file' %}" method="POST">
                            {% csrf_token %}
                            <input type=submit value="assembly (.gz)" name="btn1">
                            <input type="hidden" name="file_path" value="{{assembly.assembly_contigs}}">
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" role="tab" id="headingRefId">
            <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseRefId" aria-expanded="false" aria-controls="collapseRefId">
                    <strong>Reads and Contigs Classification</strong>
                </a>
                </h5>
        </div>
        <div id="collapseRefId" class="collapse hide" role="tabpanel" aria-labelledby="headingRefId">
            <div class="card-block">
                <div style="padding: 20px">
                    <div class="row">
                        <div class="col-sm">
                            {% if contig_classification.performed  %}
                            <p> Assembled contigs were classified using the software
                                <strong>{{contig_classification.method}}</strong>. </p>
                            {% if contig_classification.classification_number > 0 %}
                                {% if contig_classification.classification_number == 1 %}
                                <p style=padding-left:3em> &bull; {{contig_classification.classification_number}} accession was
                                    identified
                                    with
                                    {{contig_classification.classification_minhit}} hit(s).</p>
                                {% else %}
                                <p style=padding-left:3em> &bull; {{contig_classification.classification_number}} accessions were
                                    identified
                                    with
                                    at least
                                    {{contig_classification.classification_minhit}} hit(s).</p>
                                {% endif %}
                            {% else %}
                            <p style=padding-left:3em> &bull; {{contig_classification.classification_number}} accessions were
                                identified. </p>
                            {% endif %}
                            {% endif %}
                            {% if read_classification.performed %}
                            <p> Reads were classified using the software <strong>{{read_classification.method}}</strong> </p>
                            {% if read_classification.classification_number > 0 %}
                                {% if read_classification.classification_number == 1 %}
                                <p style=padding-left:3em> &bull; {{read_classification.classification_number}} accessions was
                                    identified
                                    with
                                    {{read_classification.classification_minhit}} hit(s). </p>
                                {% else %}
                                <p style=padding-left:3em> &bull; {{read_classification.classification_number}} accessions were
                                    identified
                                    with at
                                    least
                                    {{read_classification.classification_minhit}} hit(s). </p>
                                {% endif %}
                            {% else %}
                            <p style=padding-left:3em> &bull; {{read_classification.classification_number}} accessions were
                                identified.
                            </p>
                            {% endif %}
                            {% endif %}
                            {% if contig_classification.classification_number > 0 and read_classification.classification_number > 0 %}
                            <p> After merging, a total of {{run_detail.merged_number}} taxids found in our databases and were selected
                                for remapping against.
                            </p>
                            <p style=padding-left:3em> References were collected from the data bases:
                                <em>{{run_detail.merged_files}}</em>. </p>
                            {% endif %}
                        </div>
                        <div class="col-sm">
                            {% if contig_classification.classification_number > 0 %}
                            <form id="download_contig_class_report" action="{% url 'download_file' %}" method="POST">
                                {% csrf_token %}
                                <input type=submit value="contig classification report" name="btn1">
                                <input type="hidden" name="file_path" value="{{contig_classification.contig_classification_report}}">
                            </form>
                            {% endif %}
                            {% if read_classification.classification_number > 0 %}
                            <form id="download_read_class_report" action="{% url 'download_file' %}" method="POST">
                                {% csrf_token %}
                                <input type=submit value="read classification report" name="btn2">
                                <input type="hidden" name="file_path" value="{{read_classification.read_classification_report}}">
                            </form>
                            {% endif %}
                            {% if read_classification.classification_number > 0 and contig_classification.classification_number > 0 %}
                            <form id="merged_report_download" action="{% url 'download_file' %}" method="POST">
                                {% csrf_token %}
                                <input type=submit value="merged classification report" name="btn3">
                                <input type="hidden" name="file_path" value="{{run_remap.merged_log}}">
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingRemap">
            <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseRemap" aria-expanded="false" aria-controls="collapseRemap">
                    <strong>Remapping</strong>
                </a>
                </h5>
        </div>
        <div id="collapseRemap" class="collapse hide" role="tabpanel" aria-labelledby="headingRemap">
            <div class="card-block">
                <div style="padding: 20px">
                    <div class="row">
                        <div class= "col-sm">
                            <p> Remapping was performed using the software <strong>{{run_remap.method}}</strong>. </p>
                            <p> Of the references identified, {{run_detail.merged_number}} corresponding accession id(s) were found in
                                our
                                databases. </p>
                            <p style=padding-left:4em> from these, {{number_validated}} successful alignments were produced.
                            </p>
                            <p> The following table shows the results of the remapping onto identified references. </p>
                            <p> Results are shown for a minimum coverage of {{run_remap.coverage_minimum}}X and a maximum coverage
                                of
                                {{run_remap.coverage_maximum}}X. </p>                    
                        </div>
                        <div class="col-sm">
                            <form id="download_remap_plan" action="{% url 'download_file' %}" method="POST">
                                {% csrf_token %}
                                <input type=submit value="database matches" name="btn1">
                                <input type="hidden" name="file_path" value="{{run_remap.remap_plan}}">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="accordion2" role="tablist" aria-multiselectable="true">
    <div class="card">
        <div class="card-header" role="tab" id="headingReport">
            <div class="row">
                <div class="col-sm" >
                    <h5 class="mb-0" >
                        <a class="collapsed"   data-toggle="collapse" data-parent="#accordion" href="#collapseReport" aria-expanded="false" aria-controls="collapseReport">
                            <strong>Pathogen Identification</strong>
                        </a>
                    </h5>
                </div>
                <div class="col-sm">
                    <div class="float-right">
                    <a href="#" id="report_download" class="btn btn-primary dark"> 
                        <span class="hidden-phone"></span>Download as TSV </a>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="collapseReport" class="collapse show" role="tabpanel" aria-labelledby="headingReport">
            <div class="card-block">
                <div style="padding: 2px; overflow-x:auto;">    
                    <table class="table" width="100%" id="report_table">
                    <thead>
                        <tr class="header">
                            <th>Description</th>
                            <th>Taxid</th>
                            <th>accID</th>
                            <th>Cov (%)</th>
                            <th>Depth</th>
                            <th>DepthC</th>
                            <th>Mapped reads</th>
                            <th>start prop (%)</th>
                            <th>mapped_prop (%)</th>
                            <th>Gaps</th>
                            <th>Windows Covered</th>
                            <th>class. success</th>
                            <th>mapping success</th>                
                            <th>Warning</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for value in final_report %}
                        <tr class="parent">
                            <td data-title="Description"><a href="#" id="plot_show" >{{value.description}}</a></td>
                            <td data-title="Taxid">{{value.taxid}}</td>
                            <td data-title="accID">
                                <a href={{value.accid|link_ncbi}}>{{value.accid}}</a>
                            </td>
                            <td data-title="Cov" style="{{ value.coverage|color_code }}">
                                {{value.coverage|round}}</td>
                            <td data-title="Depth" style="{% depth_color value.depth run_detail.max_depth %}">
                                {{value.depth|round}}</td>
                            <td data-title="DepthC" style="{% depth_color value.depthR run_detail.max_depthR %}">
                                {{value.depthR|round}}</td>
                            <td data-title="Mapped reads" style="{% depth_color value.mapped_reads run_detail.max_mapped %}">
                                {{value.mapped_reads|round}}</td>
                            <td data-title="start prop" style="{% depth_color value.ref_proportion run_detail.max_prop %}">
                                {{value.ref_proportion|round_to_int}}</td>
                            <td data-title="mapped_prop" style="{% depth_color value.mapped_proportion run_detail.max_prop %}">
                                {{value.mapped_proportion|round_to_int}}</td>
                            <td data-title="Gaps" style="{% depth_color value.ngaps run_detail.max_gaps %}">
                                {{value.ngaps}}</td>
                            <td data-title="Windows Covered">
                                {% windows_safe value.windows_covered %}</td>
                            <td data-title="class. success" style="{% success_count_color value.classification_success %}">
                                {{value.classification_success}}</td>
                            <td data-title="mapping success" style="{% success_count_color value.mapping_success %}">
                                {{value.mapping_success}}</td>
                            <td data-title="Warning" style="{% flag_false_positive_color value.depth value.depthR value.coverage value.mapped_reads %}">
                                {% flag_false_positive value.depth value.depthR value.coverage value.mapped_reads %}</td>

                        </tr>
                        <tr class="collapse-report">
                        <td colspan="14">
                            <div class="table__wrapper">
                            <table class="table table-inner">
                                <tbody>
                                    <tr class="detail">
                                        <td colspan="5" align="center">
                                            <p>Database: {{value.ref_db|strip_ext}}</p>
                                        </td>
                                        <td colspan="2" align="center">
                                            <a href={{value.accid|link_ncbi}}>NCBI</a>
                                        </td>
                                        <td colspan="2" align="center">
                                            <p>length: {{value.reference_length}}</p>
                                        </td>
                                        <td colspan="3" align="center">
                                            <p>contig string: {{value.reference_contig_str}}</p>
                                        </td>
                                        <td colspan="1" align="center">
                                            <div>
                                                <form id="download_reference_{{value.accid}}" action="{% url 'download_file_igv' %}"
                                                    method="POST">
                                                    {% csrf_token %}
                                                    <input type=submit value=".fa" name="btn1">
                                                    <input type="hidden" name="file_path" value="{{value.reference_path}}">
                                                </form>
                                            </div>
                                        </td>
                        
                                        <td colspan="1" align="center">
                        
                                            <div>
                                                <form id="download_reference_index_{{value.accid}}" action="{% url 'download_file_igv' %}"
                                                    method="POST">
                                                    {% csrf_token %}
                                                    <input type=submit value=".fai" name="btn2">
                                                    <input type="hidden" name="file_path" value="{{value.reference_index_path}}">
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
        
                                    {% if value.covplot_exists == True %}
                                    <tr class="igv_tab" id="igv_display_{{value.accid}}">
                                        <td colspan="14" align="center">
                                            <div class="card-block">
                                                <div class="container-fluid">
                                                    <div class="igv-loader" id="loader_igv_{{value.accid}}"><img src="{{ spinner_url }}"/></div>
                                                    <div id="show_igv_{{value.accid}}"  show-igv-url="{% url 'show_igv' %}"></div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="detail">
                                        <td colspan="1" align="center">
                                            <p>Mapping Coverage</p>
                                        </td>
                                        <td colspan="11" align="center">
                                            <img src="{% static run_main.static_dir %}/{{ value.covplot }}"="200"="250" alt="">
                                        </td>
                                        <td colspan="1" align="center">
                        
                                            <div style="position:relative height=100%" >
                                                <button class="btn btn-primary" id="igv_browse" type="button" project_pk="{{project_index}}" sample_pk="{{sample_index}}" 
                                                run_pk="{{run_index}}" accid="{{value.accid}}" reference_id="{{value.unique_id}}" >IGV</button>
                                            </div>
                                            
                                            <div id="cov_div" >
                                                <br>
                                                <form id="download_bam_{{value.accid}}" action="{% url 'download_file_igv' %}"
                                                    method="POST">
                                                    {% csrf_token %}
                                                    <input type=submit value=".bam" name="btn1">
                                                    <input type="hidden" name="file_path" value="{{value.bam_path}}">
                                                </form>
                                                <br>
                                                <form id="download_bai_{{value.accid}}" action="{% url 'download_file_igv' %}"
                                                    method="POST">
                                                    {% csrf_token %}
                                                    <input type=submit value=".bai" name="btn2">
                                                    <input type="hidden" name="file_path" value="{{value.bai_path}}">
                                                </form>
                                            </div>
                        
                                        </td>
                                        <td colspan="1" align="center">
                        
                                            <div id="cov_div" style="position:relative height=100%">
                                                <br>
                                                <form id="download_mapped_r1_{{value.accid}}" action="{% url 'download_refmap_files' %}"
                                                    method="POST">
                                                    {% csrf_token %}
                                                    <input type=submit value="mapped reads r1 (.fa)" name="btn3">
                                                    <input type="hidden" name="file" value="mapped_subset_r1">
                                                    <input type="hidden" name="taxid" value="{{value.taxid}}">
                                                    <input type="hidden" name="run" value="{{value.run.pk}}">
                                                    <input type="hidden" name="accid" value="{{value.accid}}">
                                                    
                                                </form>
                                                {% if run_main.sample.sample.is_valid_2 %}
                                                <br>
                                                <form id="download_mapped_r2_{{value.accid}}" action="{% url 'download_refmap_files' %}"
                                                method="POST">
                                                {% csrf_token %}
                                                <input type=submit value="mapped reads r2 (.fa)" name="btn3">
                                                <input type="hidden" name="file" value="mapped_subset_r2">
                                                <input type="hidden" name="taxid" value="{{value.taxid}}">
                                                <input type="hidden" name="run" value="{{value.run.pk}}">
                                                <input type="hidden" name="accid" value="{{value.accid}}">
                                                </form>
                                                {% endif %}
                                            </div>
                                        </td>
                                    </tr>
        
                                    {% endif %}
                                    {% if value.refa_dotplot_exists == True %}
                                    <tr class="detail">
                                        <td colspan="1" align="center">
                                            <p>Assembly to reference dotplot</p>
                                        </td>
                        
                                        <td colspan="11" align="center">
                                            <img src="{% static run_main.static_dir %}/{{ value.refa_dotplot }}"="200"="250" alt="">
                                        </td>
                                        <td colspan="1" align="center" style="position:relative">
                                            <div>
                                                <a style="position:relative"
                                                    href={% url 'scaffold_remap' pk1=project_index pk2=sample_index pk3=run_index reference=value.simple_id %}>Sample
                                                    remap</a>
                                            </div>
                                            <br>
                                            <form id="remap_paf_{{value.accid}}" action="{% url 'download_file_igv' %}" method="POST">
                                                {% csrf_token %}
                                                <input type=submit value=".paf" name="btn1">
                                                <input type="hidden" name="file_path" value="{{value.reference_assembly_paf}}">
                                            </form>
                                            <br>
                                            <form id="mapped_scaffolds_{{value.accid}}" action="{% url 'download_file_igv' %}"
                                                method="POST">
                                                {% csrf_token %}
                                                <input type=submit value=".fa" name="btn2">
                                                <input type="hidden" name="file_path" value="{{value.mapped_scaffolds_path}}">
                                            </form>
                                            <br>
                                            <form id="mapped_scaffolds_index_{{value.accid}}" action="{% url 'download_file_igv' %}"
                                                method="POST">
                                                {% csrf_token %}
                                                <input type=submit value=".fai" name="btn3">
                                                <input type="hidden" name="file_path" value="{{value.mapped_scaffolds_index_path}}">
                                            </form>
                        
                                        </td>
                                    </tr>
                                    {% endif %}
          
                                </tbody>
                            </table>
                            </div>
                        </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingMapExtra">
            <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseMapExtra" aria-expanded="false" aria-controls="collapseMapExtra">
                    <strong>Raw Classification and Mapping Summary</strong>
                </a>
                </h5>
        </div>
        <div id="collapseMapExtra" class="collapse show" role="tabpanel" aria-labelledby="headingMapExtra">
            <div class="table-responsive">
                <table class="table table-hover table-bordered table-striped" id="map_summary" {% if reference_table.attrs %}
                    {{ reference_table.attrs.as_html }}{% endif %}>
                    {% block table.thead %}
                    <thead>
                        <tr>
                            {% for column in reference_table.columns %}
                            {% if column.orderable %}
                                <th {{ column.attrs.th.as_html }}><a href="{% querystring reference_table.prefixed_order_by_field=column.order_by_alias.next %}">{{ column.header|title }}</a></th>
                            {% else %}
                                <th {{ column.attrs.th.as_html }}>{{ column.header|title }}</th>
                            {% endif %}                    
                            {% endfor %}
                        </tr>
                    </thead>
                    {% endblock table.thead %}
                    {% block table.tbody %}
                    <tbody>
                        {% for row in reference_table.page.object_list|default:reference_table.rows %} {# support pagination #}
                        {% block table.tbody.row %}
                        <tr id="row_{{ row.record.id }}" class="{% cycle "odd" "even" %}">
                            {% for column, cell in row.items %}
                            <td {{ column.attrs.td.as_html }}>{{ cell }}</td>
                            {% endfor %}
                        </tr>
                        {% endblock table.tbody.row %}
                        {% empty %}
                        {% if reference_table.empty_text %}
                        {% block table.tbody.empty_text %}
                            <tr><td colspan="{{ reference_table.columns|length }}">{{ reference_table.empty_text }}</td></tr>
                        {% endblock table.tbody.empty_text %}
                        {% endif %}
                        {% endfor %}
                    </tbody>
                    {% endblock table.tbody %}
                    {% block table.tfoot %}
                        <tfoot></tfoot>
                    {% endblock table.tfoot %}
                </table>
            </div>
        </div>
    </div>
</div>

{% endif %}

{%endblock content %}

{% block js %}

<script type="text/javascript">

    $("tr.parent").find("A#plot_show").click(function(e) {

        if (e.target.tagName === "A" && e.target.id === "plot_show") {
            e.preventDefault();
            var parent_tr = e.target.parentNode.parentNode;
            var child_tr = nextTr(parent_tr);
            $(child_tr).toggleClass("active");
            
        }   

      });
      
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script type="text/javascript" src="https://igv.org/web/release/2.3.3/dist/igv.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.7/es5-shim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.3/es6-shim.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


<script type="text/javascript">
    // Load google charts
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    
    // Draw the chart and set the chart values
    function drawChart() {
        var raw_data= [['Input', "Number"]];
        raw_data.push(["Kept", parseFloat("{{run_detail.processed|reconvert_string_to_int}}")]);
        if ("{{run_main.enrichment_performed}}" == "True" ) {
            if ("{{run_detail.enriched_reads}}" != "0" ) {
                raw_data.push(['Enrichment', parseFloat("{% difference_str_to_int run_detail.input run_detail.enriched_reads %}")]);
            };
        };
        if ("{{run_main.host_depletion_performed}}" == "True" ) {
            if ("{{run_detail.depleted_reads}}" != "0" ) {
                raw_data.push(['Host Depletion', parseFloat("{{run_detail.depleted_reads}}")]);
            };
        };
        
        var data = google.visualization.arrayToDataTable(raw_data);
    
      // Optional; add a title and set the width and height of the chart
      var options = {'title':'Summary', 'width':500, 'height':300};
    
      // Display the chart inside the <div> element with id="piechart"
      var chart = new google.visualization.PieChart(document.getElementById('piechart'));
      chart.draw(data, options);
    }
</script>

<script type="text/javascript">

    //document.getElementById("igv_browse").addEventListener("click", function (e) {
    $(document).on('click', '.btn', function (e) {
        if (e.target.id == "igv_browse") 
            var accid=$(this).attr('accid');
            var igv_display = document.getElementById('igv_display_' + accid);
            var igv_display_status= igv_display.style.display;
            var igv_display_className= igv_display.className;
            
            if (/\bopen\b/.test(igv_display_className)){
                igv_display.className= igv_display.className.replace(" open",'');
                setTimeout(function() {
                    var show_igv_div = document.getElementById('show_igv_' + accid);
                    show_igv_div.innerHTML = "";
                }, 300);

            }else{
                igv_display.className += " open";
                show_igv($(this));
            }
    });

    function replace_igv_div(accid) {
        var show_igv_div = document.getElementById('show_igv_' + accid);
        var igv_display = document.getElementById('igv_display_' + accid);
        
        show_igv_div.innerHTML = "";
    }

</script>


<script type="text/javascript">

    function show_igv(item) {
        var accid=item.attr('accid');
        var project_pk= item.attr('project_pk');
        var sample_pk= item.attr('sample_pk');
        var run_pk = item.attr('run_pk');
        var unique_id = item.attr('reference_id');
        var url = "{% url 'igv_browser' %}";

        $.ajax({
            /// spin 
            beforeSend: function() {
                $('#igv_display_' + accid).show();
            },
            complete: function(){
                $('#igv_display_' + accid).hide();
            },
            
            data : { 
                'project_pk': project_pk,
                'sample_pk': sample_pk,
                'run_pk': run_pk,
                'unique_id': unique_id,
                'accid': accid,
            }, // data sent with the get request
            
            url: url,

            success: function (data) {
                if (data['is_ok']) {
                    
                    /// set the files names
                    $('#bam_file_id').empty()
                    $('#bam_file_id').append(data['bam_file_id'])
                    $('#bai_file_id').empty()
                    $('#bai_file_id').append(data['bai_file_id'])
                    $('#vcf_file_id').empty()
                    $('#vcf_file_id').append(data['vcf_file_id'])
                    $('#reference_id').empty()
                    $('#reference_id').append(data['reference_id'])
                    $('#reference_index_id').empty()
                    $('#reference_index_id').append(data['reference_index_id'])
                    
                    /// set options 
                    options = {
                            showNavigation: true,
                            showRuler: true,
                            showChromosomeWidget: true,
                            reference: {
                            id: data['reference_name'],
                            fastaURL: data['path_reference'],
                            indexURL: data['path_reference_index'],
                        },
                        trackDefaults: {
                            bam: {
                                coverageThreshold: 0.2,
                                coverageQualityWeight: true
                            }
                        },
                            tracks: [
                            {
                                type: "bam",
                                url: data['path_bam'],
                                height: 500,
                                autoHeight: false,
                                viewAsPairs: false,
                                name: data['sample_name'],
                                colorBy: "firstOfPairStrand",
                            },                        
                        ]
                    }

                    browser = igv.createBrowser(document.getElementById('show_igv_' + accid), options);
                }
                else{
                    $('#show_igv_' + accid).append('<div class="alert alert-warning alert-dismissable"><strong>Fail</strong> to load bam file.</div>')
                }
            },
            
            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                $('#show_igv_' + accid).append('<div class="alert alert-warning alert-dismissable"><strong>Fail</strong> to load bam file.</div>')
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
    }


</script>
 
<script>
    var my_form = document.forms["igv_display_{{value.accid}}"];
    my_form.elements["sample_pk"].value = "{{sample_index}}";
    my_form.elements["run_pk"].value = "{{run_index}}";
    my_form.elements["reference"].value = "{{value.simple_id}}";
    my_form.elements["unique_id"].value = "{{value.unique_id}}";
    my_form.elements["project_pk"].value = "{{project_index}}";
    document.getElementById("my_form").submit();
</script>


<script>
    var my_form = document.forms["download_params"];
    var static_dir = "{% static 'classification_reports/' %}";
    my_form.elements["file_path"].value = static_dir + "{{run_main.params_file_path}}";
    document.getElementById("my_form").submit();
</script>

<script>
    var my_form = document.forms["download_processed_reads_r1"];
    var static_dir = "{% static 'depleted_reads/' %}";
    my_form.elements["file_path"].value = static_dir + "{{run_main.processed_reads_r1}}";
    document.getElementById("my_form").submit();
</script>
<script>
    var my_form = document.forms["download_processed_reads_r2"];
    var static_dir = "{% static 'depleted_reads/' %}";
    my_form.elements["file_path"].value = static_dir + "{{run_main.processed_reads_r2}}";
    document.getElementById("my_form").submit();
</script>
<script>
    var my_form = document.forms["download_assembly"];
    var static_dir = "{% static 'assemblies/' %}";
    my_form.elements["file_path"].value = static_dir + "{{assembly.assembly_contigs}}";
    document.getElementById("my_form").submit();
</script>
<script>
    var my_form = document.forms["download_contig_class_report"];
    var static_dir = "{% static 'classification_reports/' %}";
    my_form.elements["file_path"].value = static_dir + "{{contig_classification.contig_classification_report}}";
    document.getElementById("my_form").submit();
</script>
<script>
    var my_form = document.forms["download_read_class_report"];
    var static_dir = "{% static 'classification_reports/' %}";
    my_form.elements["file_path"].value = static_dir + "{{read_classification.read_classification_report}}";
    document.getElementById("my_form").submit();
</script>
<script>
    var my_form = document.forms["merged_report_download"];
    var static_dir = "{% static 'classification_reports/' %}";
    my_form.elements["file_path"].value = static_dir + "{{run_remap.merged_log}}";
    document.getElementById("my_form").submit();
</script>
<script>
    var my_form = document.forms["download_remap_plan"];
    var static_dir = "{% static 'classification_reports/' %}";
    my_form.elements["file_path"].value = static_dir + "{{run_remap.remap_plan}}";
    document.getElementById("my_form").submit();
</script>

<script>
    var my_form = document.forms["download_bam_{{value.accid}}"];
    var static_dir = "{% static 'classification_reports/' %}";
    my_form.elements["file_path"].value = static_dir + "{{value.path_bam}}";
    document.getElementById("my_form").submit();
</script>
<script>
    var my_form = document.forms["download_bai_{{value.accid}}"];
    var static_dir = "{% static 'igv_files/' %}";
    my_form.elements["file_path"].value = static_dir + "{{value.path_bai}}";
    document.getElementById("my_form").submit();
</script>
<script>
    var my_form = document.forms["download_mapped_r1_{{value.accid}}"];
    var static_dir = "{% static 'igv_files/' %}";
    document.getElementById("my_form").submit();
</script>
<script>
    var my_form = document.forms["download_mapped_r2_{{value.accid}}"];
    var static_dir = "{% static 'igv_files/' %}";
    document.getElementById("my_form").submit();
</script>
<script>
    var my_form = document.forms["download_reference_{{value.accid}}"];
    var static_dir = "{% static 'igv_files/' %}";
    my_form.elements["file_path"].value = static_dir + "{{value.reference_path}}";
    document.getElementById("my_form").submit();
</script>
<script>
    var my_form = document.forms["download_reference_index_{{value.accid}}"];
    var static_dir = "{% static 'igv_files/' %}";
    my_form.elements["file_path"].value = static_dir + "{{value.reference_index_path}}";
    document.getElementById("my_form").submit();
</script>
<script>
    var my_form = document.forms["remap_paf_{{value.accid}}"];
    var static_dir = "{% static 'igv_files/' %}";
    my_form.elements["file_path"].value = static_dir + "{{value.reference_assembly_paf}}";
    document.getElementById("my_form").submit();
</script>
<script>
    var my_form = document.forms["mapped_scaffolds_{{value.accid}}"];
    var static_dir = "{% static 'igv_files/' %}";
    my_form.elements["file_path"].value = static_dir + "{{value.mapped_scaffolds_path}}";
    document.getElementById("my_form").submit();
</script>
<script>
    var my_form = document.forms["mapped_scaffolds_index_{{value.accid}}"];
    var static_dir = "{% static 'igv_files/' %}";
    my_form.elements["file_path"].value = static_dir + "{{value.mapped_scaffolds_index_path}}";
    document.getElementById("my_form").submit();
</script>



<script type="text/javascript">

    $(document).on("click", "a", function (e) {
        
        var id= $(this).attr("id");
        var ref_id= $(this).attr("ref_id");
        if (id === "remap_reference") {
            e.preventDefault();
            $.ajax({
                url: "{% url 'deploy_televir_map' %}",
                type: "POST",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'reference_id': ref_id
                },
                success: function (data) {
                    if (data["is_ok"] === true) {
                        alert("Reference remap deployed");
                    } else {
                        alert("Reference remapping failed");
                    }
                },
                error: function (data) {
                    alert("Reference remapping failed");
                }
            });
        }
    });


    function nextTr(row) {
    while ((row = row.nextSibling) && row.nodeType != 1);
    return row;
    }

</script>


<script>
    document.getElementById("report_download").addEventListener("click", function(e){
        console.log("download");
        e.preventDefault();
        download_table_as_csv("report_table")
    })

    function download_table_as_csv(table_id, separator = '\t') {
        // Select rows from table_id
        var rows = document.querySelectorAll('table#' + table_id + ' tr');
        // Construct csv
        var csv = [];
        for (var i = 0; i < rows.length; i++) {
            var row = [],
                cols = rows[i].querySelectorAll('td, th');
                        
            if ( rows[i].className == "header" ) {
            
                for (var j = 0; j < cols.length; j++) {
                    // Clean innertext to remove multiple spaces and jumpline (break csv)
                    var data = cols[j].innerText.replace(/(\r\n|\n|\r)/gm, '').replace(/(\s\s)/gm, ' ')
                    // Escape double-quote with double-double-quote (see https://stackoverflow.com/questions/17808511/properly-escape-a-double-quote-in-csv)
                    data = data.replace(/"/g, '""');
                    // Push escaped string
                    row.push(data);
                }
                csv.push(row.join(separator));
            }

            if ( rows[i].className == "parent" ) {
            
                for (var j = 0; j < cols.length; j++) {
                    // Clean innertext to remove multiple spaces and jumpline (break csv)
                    var data = cols[j].innerText.replace(/(\r\n|\n|\r)/gm, '').replace(/(\s\s)/gm, ' ')
                    // Escape double-quote with double-double-quote (see https://stackoverflow.com/questions/17808511/properly-escape-a-double-quote-in-csv)
                    data = data.replace(/"/g, '""');
                    // Push escaped string
                    row.push(data);
                }
                csv.push(row.join(separator));
            }
        }
        var csv_string = csv.join('\n');
        // Download it
        var filename = 'export_' + table_id + '_' + new Date().toLocaleDateString() + '.tsv';
        var link = document.createElement('a');
        //link.style.display = 'none';
        link.setAttribute('target', '_blank');
        link.setAttribute('href', 'data:text/csv;charset=utf-8,' + encodeURIComponent(csv_string));
        link.setAttribute('download', filename);
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    }
</script>

<script>	
  $('#id_go_back_button').on('click', function(){
      wait_screen();
  });
</script>	
{% endblock %}



