{% extends '_layouts/base.html' %}


{% load bootstrap4 %}
{% load querystring from django_tables2 %}
{% load title from django_tables2 %}
{% load trans blocktrans from i18n %}
{% load django_bootstrap_breadcrumbs %}

{%load html_tags %}

{% load static %}
{%load report_colors %}


{% block css %}
	{% load static from staticfiles %}
        <link rel="stylesheet" href="{% static 'css/result_table.css' %}" />
        <link rel="stylesheet" href="{% static 'css/result_detail.css' %}" />
        <link rel="stylesheet" href="{% static 'css/result_detail_buttons.css' %}" />
        <link rel="stylesheet" href="{% static 'css/televir_sample_detail.css' %}" />
{% endblock css %}

{% block breadcrumbs %}
{{block.super}}
{% if owner %}
{% breadcrumb "Project Index" "project-index" %}
{% breadcrumb "TELEVIR Projects" "PIprojects_main"  %}
{% breadcrumb project "PIproject_samples"  pk=project_index  %}
{% breadcrumb sample "sample_main" pk1=project_index pk2=sample_index  %}
{% breadcrumb run_name "sample_detail" pk1=project_index pk2=sample_index pk3=run_index %}
{% else %}
{% breadcrumb "Project Index" "project-index" %}

{% endif %}
{% endblock %}

{% block content %}

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript" src="{% static 'js/televir_projects/heatmap_clades.js' %}"></script>

{% if owner %}

<div id="accordion1" role="tablist" aria-multiselectable="true">
    <div class="card">
        <div class="card-header" role="tab" id="headinghead">
            <h5 class="mb-0">
                <a class="collapsed"  data-toggle="collapse" data-parent="#accordion" href="#collapsehead" aria-expanded="false" aria-controls="headinghead">
                    <strong>Run</strong>
                </a>
                </h5>
        </div>
        <div id="collapsehead" class="collapse show" role="tabpanel" aria-labelledby="headinghead">
            <div class="card-block">
                <div style="padding: 20px">
                    <div class="row">
                        <div class= "col-sm">
                            <p style="margin: 0;"> <strong>Sample name: </strong> {{sample}}</p>
                            <p style="margin: 0;"> <strong>Run: </strong> {{run_name}}</p>
                        </div>
                        <div class="col-sm" style="align-items: center;  justify-content: center; border: 1px solid #e9ecef; padding: 10px; margin: 0;">
                            {% if run_main.enrichment_performed %}
                            <p style="margin: 0;"> <strong>Viral enrichment:</strong> {{run_main.enrichment}} </p>
                            {% endif %}
                            {% if run_main.host_depletion_performed %}
                            <p style="margin: 0;"> <strong>Host depletion:</strong> {{run_main.host_depletion}} </p>
                            {% endif %}
                            {% if read_classification.performed %}
                            <p style="margin: 0;"> <strong>Read classification:</strong> {{read_classification.method}} </p>
                            {% endif %}
                            {% if contig_classification.performed %}       
                            <p style="margin: 0;"> <strong>Contig classification:</strong> {{run_main.contig_classification}}</p>
                            {% endif %}
                            {% if assembly.performed %} 
                            <p style="margin: 0;"> <strong>Assembly:</strong> {{assembly.method}} </p>
                            {% endif %}
                            <p style="margin: 0;"> <strong>Remapping:</strong> {{run_main.remap}} </p>                        
                        </div>
                        <div class= "col-sm">
                            <div class="btn-group" style="float: right;" >
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Summary Downloads
                                </button>
                                <div class="dropdown-menu pull-right">
                                    {% if files.parameters %} {{ files.parameters }} {% endif %}
                                    {% if files.intermediate_reports_zip %} {{ files.intermediate_reports_zip }} {% endif %}
                                    {% if files.final_reports_csv %} {{ files.final_reports_csv }} {% endif %}
                                </div>
                            </div>     
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
                <a class="collapsed"  data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    <strong>Pre-Processing</strong>
                </a>
                </h5>
        </div>
        <div id="collapseOne" class="collapse hide" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
                <div style="padding: 20px">
                    <div class="row">
                    <div class= "col-sm">
                    {% if qc_report.performed %}
                    <p> Input reads: <strong>{{ qc_report.input_reads }}</strong> </p>
                    <p> Low complexity filtering (printseq) removed: <strong>{% difference_str_to_str_format qc_report.input_reads qc_report.output_reads %}</strong> ({{qc_report.output_reads_percent|round_str_perc_invert}} %) </p>
                    {% else %}
                    <p> Input reads: <strong>{{ run_detail.input }}</strong> </p>
                    {% endif %}
                    {% if run_main.enrichment_performed or run_main.host_depletion_performed %}
                        {% if run_main.enrichment_performed %}
                        {% if run_detail.enriched_reads == 0 %}
                        <p> Viral enrichment ({{ run_main.enrichment }}) did not remove any reads </p>
                        {% else %}
                        <p> Viral enrichment ({{ run_main.enrichment }}) removed <strong>{% difference_str_int_to_str qc_report.output_reads run_detail.enriched_reads %}</strong> reads ({% difference_str_to_percent qc_report.input_reads qc_report.output_reads run_detail.enriched_reads %} %).</p>
                        {% endif %}
                        {% endif %}
                        {% if run_main.host_depletion_performed %}
                        {% if run_detail.depleted_reads == 0 %}
                        <p> Host depletion ({{ run_main.host_depletion }}) did not remove any reads </p>
                        {% else %}
                        <p> Host depletion ({{ run_main.host_depletion }}) removed <strong>{{run_detail.depleted_reads|convert_int_to_str_format}}</strong> reads ({{run_detail.depleted_reads_percent|round_to_percent}} %)</p>
                        {% endif %}
                        {% endif %}
                        {% if run_detail.processed != "0" %}
                        <p>Output reads: <strong>{{ run_detail.processing_final }} </strong> ({{run_detail.processing_final_percent}} %) </p>
                        {% endif %}
                    {% else %}
                        <p> No pre-processing step was performed </p>
                    {% endif %}
                    </div>
                    
                    {% if run_main.enrichment_performed or run_main.host_depletion_performed and run_detail.processed != "0" %}
                    <div class="col-sm">
                        <div id="piechart"></div>
                    </div>
                    {% endif %}
                    {% if data_exists %}
                    <div class="column-sm">
                        {% if run_main.enrichment_performed or run_main.host_depletion_performed %}
                        <form id="download_processed_reads_r1" action="{% url 'download_file' %}" method="POST">
                            {% csrf_token %}
                            <input type=submit value="processed R1 (.gz)" name="btn1" style= "font-size: 13px;">
                            <input type="hidden" name="file_path" value="{{run_main.processed_reads_r1}}">
                        </form>
                        {% if run_main.sample.sample.is_valid_2 %}
                        <form id="download_processed_reads_r2" action="{% url 'download_file' %}" method="POST">
                            {% csrf_token %}
                            <input type=submit value="processed R2 (.gz)" name="btn2">
                            <input type="hidden" name="file_path" value="{{run_main.processed_reads_r2}}">
                        </form>
                        {% endif %}
                        {% endif %}
                    </div>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if is_classification %}
    <div class="card">
        <div class="card-header" role="tab" id="headingAssembly">
            <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseAssembly" aria-expanded="false" aria-controls="collapseAssembly">
                    <strong>Assembly</strong>
                </a>
                </h5>
        </div>
        <div id="collapseAssembly" class="collapse hide" role="tabpanel" aria-labelledby="headingAssembly">
            <div class="card-block">
                <div style="padding: 20px;">
                    <div class="row">
                    <div class="col-sm">
                        {% if assembly.performed %}
                        <p> Assembly was run using the software <strong>{{ assembly.method }}</strong>. </p>
                        <p> Assembled contigs were filtered for a minimum size of {{assembly.contig_trim}} bp. </p>
                        <p> After filtering, {{assembly.contig_number}} contigs remained. </p>
                        {% if assembly.contig_number > 0 %}
                        </p> Contig sizes range between
                            {{assembly.contig_min}} bp and {{assembly.contig_max}} bp (mean {{assembly.contig_mean}}) 
                        </p>
                        {% endif %}
                        {% else %}
                            <p> Assembly not performed </p>
                        {% endif %}
                    </div>  
                    {% if data_exists %}
                    <div class="col-sm">
                        {% if assembly.contig_number > 0 %}
                        <form id="download_assembly" action="{% url 'download_file' %}" method="POST" style="padding-right: 0px; width: 50%; float: right;">
                            {% csrf_token %}
                            <input type=submit value="assembly (.gz)" name="btn1" style= "font-size: 13px;">
                            <input type="hidden" name="file_path" value="{{assembly.assembly_contigs}}">
                        </form>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" role="tab" id="headingRefId">
            <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseRefId" aria-expanded="false" aria-controls="collapseRefId">
                    <strong>Reads and Contigs Classification</strong>
                </a>
                </h5>
        </div>
        <div id="collapseRefId" class="collapse hide" role="tabpanel" aria-labelledby="headingRefId">
            <div class="card-block">
                <div style="padding: 20px">
                    <div class="row">
                        <div class="col-sm">
                            {% if contig_classification.performed  %}
                            <p> Assembled contigs were classified using the software
                                <strong>{{contig_classification.method}}</strong>. </p>
                            {% if contig_classification.classification_number > 0 %}
                                {% if contig_classification.classification_number == 1 %}
                                <p style=padding-left:3em> &bull; {{contig_classification.classification_number}} accession was
                                    identified
                                    with
                                    {{contig_classification.classification_minhit}} hit(s).</p>
                                {% else %}
                                <p style=padding-left:3em> &bull; {{contig_classification.classification_number}} accessions were
                                    identified
                                    with
                                    at least
                                    {{contig_classification.classification_minhit}} hit(s).</p>
                                {% endif %}
                            {% else %}
                            <p style=padding-left:3em> &bull; {{contig_classification.classification_number}} accessions were
                                identified. </p>
                            {% endif %}
                            {% endif %}
                            {% if read_classification.performed %}
                            <p> Reads were classified using the software <strong>{{read_classification.method}}</strong> </p>
                            {% if read_classification.classification_number > 0 %}
                                {% if read_classification.classification_number == 1 %}
                                <p style=padding-left:3em> &bull; {{read_classification.classification_number}} accession was
                                    identified
                                    with
                                    {{read_classification.classification_minhit}} hit(s). </p>
                                {% else %}
                                <p style=padding-left:3em> &bull; {{read_classification.classification_number}} accessions were
                                    identified
                                    with at
                                    least
                                    {{read_classification.classification_minhit}} hit(s). </p>
                                {% endif %}
                            {% else %}
                            <p style=padding-left:3em> &bull; {{read_classification.classification_number}} accessions were
                                identified.
                            </p>
                            {% endif %}
                            {% endif %}
                            {% if remapping_performed %}
                            {% if contig_classification.classification_number > 0 and read_classification.classification_number > 0 %}
                            <p> After merging, a total of {{run_detail.merged_number}} taxids found in our databases were selected
                                for remapping against.
                            </p>
                            <p style=padding-left:3em> References were collected from the databases:
                                <em>{{run_detail.merged_files}}</em>. </p>
                            {% endif %}
                            
                            {% endif %}
                        </div>
                        {% if data_exists %}
                        <div class="col-sm">
                            {% if contig_classification.classification_number > 0 %}
                            <form id="download_contig_class_report" action="{% url 'download_file' %}" method="POST" style="padding-right: 0px; width: 50%; float: right; "> 
                                {% csrf_token %}
                                <input type=submit value="contig classification report" name="btn1" style= "font-size: 13px;">
                                <input type="hidden" name="file_path" value="{{contig_classification.contig_classification_report}}">
                            </form>
                            {% endif %}
                            {% if read_classification.classification_number > 0 %}
                            <form id="download_read_class_report" action="{% url 'download_file' %}" method="POST" style="padding-right: 0px; width: 50%; float: right;">
                                {% csrf_token %}
                                <input type=submit value="read classification report" name="btn2" style= "font-size: 13px;">
                                <input type="hidden" name="file_path" value="{{read_classification.read_classification_report}}">
                            </form>
                            {% endif %}
                            {% if read_classification.classification_number > 0 and contig_classification.classification_number > 0 %}
                            {% if run_remap.merged_log %}
                            <form id="merged_report_download" action="{% url 'download_file' %}" method="POST" style="padding-right: 0px; width: 50%; float: right;">
                                {% csrf_token %}
                                <input type=submit value="merged classification report" name="btn3" style= "font-size: 13px;">
                                <input type="hidden" name="file_path" value="{{run_remap.merged_log}}">
                            </form>
                            {% endif %}
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if remap_available %}
    <div class="card">
        <div class="card-header" role="tab" id="headingRemap">
            <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseRemap" aria-expanded="false" aria-controls="collapseRemap">
                    <strong>Remapping</strong>
                </a>
                </h5>
        </div>
        <div id="collapseRemap" class="collapse hide" role="tabpanel" aria-labelledby="headingRemap">
            <div class="card-block">
                <div style="padding: 20px">
                    <div class="row">
                        <div class= "col-sm">
                            <p> Remapping was performed using the software <strong>{{run_remap.method}}</strong>. </p>
                            <p> Of the references identified, {{run_detail.merged_number}} corresponding accession id(s) were found in
                                our
                                databases. References tagged as phages in local databases were excluded. </p>
                            <p style=padding-left:4em> Of these, {{number_validated}} successful alignments were produced.
                            </p>
                            <p> The following <strong>Pathogen identification</strong> table shows the results of the remapping onto identified references. Below, in the <strong>Raw Classification and Mapping Summary</strong> table, you can select extra hits for remapping. </p>
                            <p> Results are shown for a minimum coverage of {{run_remap.coverage_minimum}}X and a maximum coverage
                                of
                                {{run_remap.coverage_maximum}}X. </p>                    
                        </div>
                        {% if data_exists %}
                        <div class="col-sm">
                            <form id="download_remap_plan" action="{% url 'download_file' %}" method="POST" style="width: 50%; float: right;">
                                {% csrf_token %}
                                <input type=submit value="database matches" name="btn1">
                                <input type="hidden" name="file_path" value="{{run_remap.remap_plan}}">
                            </form>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>


<div id="accordion2" role="tablist" aria-multiselectable="true">
    <div class="card">
        <div class="card-header" role="tab" id="headingReport">
            <div class="row">
                <div class="col-sm" >
                    <h5 class="mb-0" >
                        <a class="collapsed"   data-toggle="collapse" data-parent="#accordion" href="#collapseReport" aria-expanded="false" aria-controls="collapseReport">
                            <strong>Validation Mapping Results</strong>
                        </a>
                        <a href="https://insaflu.readthedocs.io/en/latest/metagenomics_virus_detection.html#televir-output-visualization-and-download" target="_blank">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                    </h5>
                </div>

                <div class="col-sm">
                    <div class="float-right">
                    <a href="#" id="report_download" class="btn btn-primary dark">
                        <span class="hidden-phone"></span> Download as TSV </a>
                    </div>

                    {% if sort_performed %}
                    <div class="float-right overlap-button">
                        <a href="#" class="summary-header btn btn-primary dark"> 
                            <span>Read Overlap Summary</span>
                        </a>
                    </div> 

                    {% endif %}
                </div>
            </div>
        </div>
        {% if sort_performed %}
        <div id="summary" class="collapsible">
            <div class="card-block collapsible-summary" style="display: none;">
                <div style="padding: 20px">
                    <div class="row">
                        <div class="col-sm">
                            <p> 
                            <p> 
                                Shared read analysis recovered <strong>{{ groups_count }} groups of references</strong>.
                            </p> 
                            <p> 
                                The shared heatmap displays the proportion of reads of one group (column) that are shared with another group (row). 
                                Groups are sorted by maximum coverage. 
                            </p>
                        </div>
                    </div>
                </div>
                {% if clade_heatmap_json_exists %}
                <div id="clade-heatmap" class="plot-container">
                
                </div>
                <script>
                    createHeatmapClades('{{ clade_heatmap_json|safe }}', "clade-heatmap");
                </script>
                {% if overlap_heatmap_available %} 
                <div id="plot" class="plot-container">
                    <img src={{overlap_heatmap_path}} alt="Image">
                </div>
                {% endif %}
                {% endif %}
                <div style="padding: 20px">
                    <div class="row">
                        <div class="col-sm">
                            <p> 
                                <i class="fa fa-exclamation-circle"></i> <strong>
                                    We recommend manual inspection of the results
                                    using the within-group <strong>Read Overlap</strong> heatmaps. 
                                    Group sorting aims at identifying cross-hits and false positives. While robust, this method may mask similar true positive hits. </strong>
                            </p>
                            <p>
                                <i class="fa fa-exclamation-circle"></i> <strong>
                                This sorting algorith is taxonomy-blind. Groups are constructed according to a minimum shared mapped read threshold of <strong>{{ min_shared_reads }} % </strong> between between remapped hits. </strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div id="collapseReport" class="collapse show" role="tabpanel" aria-labelledby="headingReport">
            <div class="card-block">
                <div style="padding: 2px; overflow-x:auto;">    
                    <table class="table" width="100%" id="report_table">
                    <thead>
                        <tr class="header">
                            <th class="description-column">Description</th>
                            <th>Taxid</th>
                            <th>accID</th>
                            <th>Cov (%)</th>
                            <th>Depth</th>
                            <th>DepthC</th>
                            <th>Mapped reads</th>
                            <th>start prop (%)</th>
                            <th>mapped_prop (%)</th>
                            <th>Gaps</th>
                            <th>Windows Covered</th>
                            {% if private_reads_available %}
                            <th>Private reads</th>
                            {% endif %}  
                            {% if error_rate_available %}
                            <th>Mismatch rate</th>
                            {% endif %}
                            {% if is_classification %}
                            <th>class. success</th>
                            <th>mapping success</th>
                            {% endif %}      
                            <th>Warning</th>
                            {% if in_control %}
                            <th>Control</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>

                        {% for final_report in report_list %}
                        {% if sort_performed %}
                        <tr>
                            <td colspan="100%">
                                <div class="custom-section-container" >
                                    {% if final_report.has_multiple %}
                                    <div class="primary-row" style= "margin-top: 2px;">
                                        <button class="showSecondaryRows" type="button" group-name="{{final_report.name}}" title="Toggle Secondary Rows">
                                            <i class="fa fa-toggle-off toggle-icon"></i>
                                        </button>                                        
                                    </div>
                                    {% else %}
                                    <div class="primary-row" style="visibility: hidden; ">
                                       <button class="showSecondaryRows" type="button" style="visibility: hidden;">
                                           <i class="fa fa-toggle-off toggle-icon"></i>
                                       </button>                                        
                                   </div>
                                    {% endif %}
                                    <!-- First section -->
                                    <div class="custom-section" id="info_{{ final_report.name }}">
                                        {{final_report.name}}
                                    </div>
                                    {% if final_report.private_counts_exist %}
                                    <!-- Second section -->
                                    <div class="custom-section">
                                        private reads: {{final_report.private_counts}}
                                    </div>
                                    {% endif %}
                                    <!-- Third section -->
                                    <div class="custom-section">
                                        private reads proportion: {{final_report.private_proportion}}
                                    </div>
                                    <!-- Forth section -->
                                    <div class="custom-section">
                                        Group size {{final_report.group_list|length}}
                                    </div>
                                    <div class="custom-section">
                                        {% if final_report.js_heatmap_ready %}
                                        <a href="#" id="showButton" class="custom-link">Read Overlap</a>
                                        {% elif final_report.heatmap_exists %}
                                        <a href="#" id="showButton" class="custom-link">Read Overlap</a>
                                        {% else %}
                                        <a href="#" id="showButton" class="custom-link">Read Overlap</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endif %}
                        {% if final_report.js_heatmap_ready %}
                        <tr class="row-to-toggle" id="rowToToggle" style="display: none;">
                            <td colspan="16">
                                <div id="plot-{{final_report.name}}" class="plot-container">
                                   
                                </div>
                                <script>
                                    createHeatmap('{{ final_report.js_heatmap_data|safe }}', "plot-{{final_report.name}}");
                                </script>

                            </td>
                        </tr>
                        {% elif final_report.heatmap_exists %}
                        <tr class="row-to-toggle" id="rowToToggle" style="display: none;">
                            <td colspan="100%">
                                <div id="plot" class="plot-container">
                                    <img src={{final_report.heatmap_path}} alt="Image">
                                </div>
                            </td>
                        </tr>
                        {% endif %}
                        {% for value in final_report.group_list %}
                        <tr class="parent {{value.row_class_name}}" style="display: {{value.display}}" id="row_{{value.accid}}" group-name="{{final_report.name}}" first="{{value.first_in_group}}">

                            <td data-title="Description" style="text-align: left;">

                                <a href="#" id="plot_show" >{{value.description}}</a>
                            </td>
                            <td data-title="Taxid">{{value.taxid}}</td>
                            <td data-title="accID">
                                <a href={{value.accid|link_ncbi}}>{{value.accid}}</a>
                            </td>
                            <td data-title="Cov" style="{% depth_color value.coverage max_coverage %}">
                                {{value.coverage|round}}</td>
                            <td data-title="Depth" style="{% depth_color value.depth run_detail.max_depth %}">
                                {{value.depth|round}}</td>
                            <td data-title="DepthC" style="{% depth_color value.depthR run_detail.max_depthR %}">
                                {{value.depthR|round}}</td>
                            <td data-title="Mapped reads" style="{% depth_color value.mapped_reads run_detail.max_mapped %}">
                                {{value.mapped_reads|round}}</td>
                            <td data-title="start prop" style="{% depth_color value.ref_proportion run_detail.max_prop %}">
                                {{value.ref_proportion|round_to_int}}</td>
                            <td data-title="mapped_prop" style="{% depth_color value.mapped_proportion max_mapped_prop %}">
                                {{value.mapped_proportion|round_to_int}}</td>
                            <td data-title="Gaps" style="{% depth_color_gaps value.ngaps run_detail.max_gaps %}">
                                {{value.ngaps}}</td>
                            <td data-title="Windows Covered" style="{% depth_color_windows value.windows_covered max_windows_covered %}">
                                {% windows_safe value.windows_covered %}</td>
                            {% if private_reads_available %}
                            <td data-title="Private reads" style="{% depth_color value.private_reads final_report.max_private_reads %}">
                                {{value.private_reads}}</td>
                            {% endif %}
                            {% if error_rate_available %}
                            <td data-title="Error rate" style="{% depth_color_error value.error_rate max_error_rate %}">
                                {{value.error_rate}}</td>
                            {% endif %}
                            {% if is_classification %}
                            <td data-title="class. success" style="{% success_count_color value.classification_success %}">
                                {{value.classification_success}}</td>
                            <td data-title="mapping success" style="{% success_count_color value.mapping_success %}">
                                {{value.mapping_success}}</td>
                            {% endif %}
                            <td data-title="Warning" style="{% flag_false_positive_color value.depth value.depthR value.coverage value.mapped_reads value.windows_covered project_index %}">
                                {% flag_false_positive value.depth value.depthR value.coverage value.mapped_reads value.windows_covered project_index %}</td>
                            {% if in_control %}
                            <td data-title="Control" style="{% flag_control_color value.control_flag %}">
                                {{ value.control_flag_str }}</td>
                            {% endif %}

                        </tr>
                        <tr class="collapse-report" group-name="{{final_report.name}}">
                        <td colspan="16">
                            <div class="table__wrapper">
                            <table class="table table-inner">
                                <tbody>
                                    <tr class="detail">
                                        <td colspan="5" align="center">
                                            <p>Database: {{value.ref_db|strip_ext}}</p>
                                        </td>
                                        <td colspan="2" align="center">
                                            <a href={{value.accid|link_ncbi}}>NCBI</a>
                                        </td>
                                        <td colspan="2" align="center">
                                            <p>length: {{value.reference_length}}</p>
                                        </td>
                                        <td colspan="3" align="center">
                                            <p>contig string: {{value.reference_contig_str}}</p>
                                        </td>
                                        <td colspan="1" align="center">
                                            <div>
                                                <form id="download_reference_{{value.accid}}" action="{% url 'download_file_igv' %}"
                                                    method="POST">
                                                    {% csrf_token %}
                                                    <input type=submit value=".fa" name="btn1">
                                                    <input type="hidden" name="file_path" value="{{value.reference_path}}">
                                                </form>
                                            </div>
                                        </td>
                        
                                        <td colspan="1" align="center">
                        
                                            <div>
                                                <form id="download_reference_index_{{value.accid}}" action="{% url 'download_file_igv' %}"
                                                    method="POST">
                                                    {% csrf_token %}
                                                    <input type=submit value=".fai" name="btn2">
                                                    <input type="hidden" name="file_path" value="{{value.reference_index_path}}">
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
        
                                    {% if value.coverage > 0 %}
                                    <tr class="igv_tab" id="igv_display_{{value.accid}}">
                                        <td colspan="16" align="center">
                                            <div class="card-block">
                                                <div class="container-fluid">
                                                    <div class="igv-loader" id="loader_igv_{{value.accid}}"><img src="{{ spinner_url }}"/></div>
                                                    <div id="show_igv_{{value.accid}}"  show-igv-url="{% url 'show_igv' %}"></div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="detail">
                                        <td colspan="1" align="center">
                                            <p>Mapping Coverage</p>
                                        </td>
                                        <td colspan="11" align="center">
                                            <img src="{% static run_main.static_dir %}/{{ value.covplot }}"="200"="250" alt="">
                                        </td>
                                        <td colspan="1" align="center">
                        
                                            <div style="position:relative height=100%" >
                                                <button class="igv_browse btn btn-primary" id="igv_browse" type="button" show-igv-url="{% url 'igv_browser' %}" project_pk="{{project_index}}" sample_pk="{{sample_index}}" sample_name="{{ sample }}"
                                                run_pk="{{run_index}}" accid="{{value.accid}}" reference_id="{{value.unique_id}}">IGV</button>
                                            </div>
                                            {% if data_exists %}
                                            <div id="cov_div" >
                                                <br>
                                                <form id="download_bam_{{value.accid}}" action="{% url 'download_file_igv' %}"
                                                    method="POST">
                                                    {% csrf_token %}
                                                    <input type=submit value=".bam" name="btn1">
                                                    <input type="hidden" name="file_path" value="{{value.bam_path}}">
                                                </form>
                                                <br>
                                                <form id="download_bai_{{value.accid}}" action="{% url 'download_file_igv' %}"
                                                    method="POST">
                                                    {% csrf_token %}
                                                    <input type=submit value=".bai" name="btn2">
                                                    <input type="hidden" name="file_path" value="{{value.bai_path}}">
                                                </form>
                                            </div>
                                            {% endif %}
                        
                                        </td>
                                        <td colspan="1" align="center">
                                            {% if data_exists %}
                                            <div id="cov_div" style="position:relative height=100%">
                                                <br>
                                                <form id="download_mapped_r1_{{value.accid}}" action="{% url 'download_refmap_files' %}"
                                                    method="POST">
                                                    {% csrf_token %}
                                                    <input type=submit value="mapped reads r1 (.fa)" name="btn3">
                                                    <input type="hidden" name="file" value="mapped_subset_r1">
                                                    <input type="hidden" name="taxid" value="{{value.taxid}}">
                                                    <input type="hidden" name="run" value="{{value.run.pk}}">
                                                    <input type="hidden" name="accid" value="{{value.accid}}">
                                                    
                                                </form>
                                                {% if run_main.sample.sample.is_valid_2 %}
                                                <br>
                                                <form id="download_mapped_r2_{{value.accid}}" action="{% url 'download_refmap_files' %}"
                                                method="POST">
                                                {% csrf_token %}
                                                <input type=submit value="mapped reads r2 (.fa)" name="btn3">
                                                <input type="hidden" name="file" value="mapped_subset_r2">
                                                <input type="hidden" name="taxid" value="{{value.taxid}}">
                                                <input type="hidden" name="run" value="{{value.run.pk}}">
                                                <input type="hidden" name="accid" value="{{value.accid}}">
                                                </form>
                                                {% endif %}
                                            </div>
                                            {% endif %}
                                        </td>
                                    </tr>
        
                                    {% endif %}
                                    {% if value.refa_dotplot_exists == True %}
                                    <tr class="detail">
                                        <td colspan="1" align="center">
                                            <p>Assembly to reference dotplot</p>
                                        </td>
                        
                                        <td colspan="11" align="center">
                                            <img src="{% static run_main.static_dir %}/{{ value.refa_dotplot }}"="200"="250" alt="">
                                        </td>
                                        <td colspan="1" align="center" style="position:relative">
                                            {% if data_exists %}
                                            <div>
                                                <a style="position:relative"
                                                    href={% url 'scaffold_remap' pk1=project_index pk2=sample_index pk3=run_index reference=value.simple_id %}>Sample
                                                    remap</a>
                                            </div>
                                            <br>
                                            <form id="remap_paf_{{value.accid}}" action="{% url 'download_file_igv' %}" method="POST">
                                                {% csrf_token %}
                                                <input type=submit value=".paf" name="btn1">
                                                <input type="hidden" name="file_path" value="{{value.reference_assembly_paf}}">
                                            </form>
                                            <br>
                                            <form id="mapped_scaffolds_{{value.accid}}" action="{% url 'download_file_igv' %}"
                                                method="POST">
                                                {% csrf_token %}
                                                <input type=submit value=".fa" name="btn2">
                                                <input type="hidden" name="file_path" value="{{value.mapped_scaffolds_path}}">
                                            </form>
                                            <br>
                                            <form id="mapped_scaffolds_index_{{value.accid}}" action="{% url 'download_file_igv' %}"
                                                method="POST">
                                                {% csrf_token %}
                                                <input type=submit value=".fai" name="btn3">
                                                <input type="hidden" name="file_path" value="{{value.mapped_scaffolds_index_path}}">
                                            </form>
                                            {% endif %}
                        
                                        </td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                            </div>
                        </td>
                        </tr>
                    {% endfor %}

                    <tr class="detail" style="background-color: #f2f2f2; padding: 0px; margin: 0px; border: 0px;">
                        <td colspan="17" align="center" style="padding: 0px; margin: 0px">
                            <hr class="solid" style="height: 1px; background-color: #000000; margin: 0px;">
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingMapExtra" url-remap="{% url 'deploy_televir_map' %}" csrf-token= '{{csrf_token}}'>
            <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseMapExtra" aria-expanded="false" aria-controls="collapseMapExtra">
                    <strong>Raw Classification and Mapping Summary</strong>
                </a>
                </h5>
        </div>
        <div id="collapseMapExtra" class="collapse show" role="tabpanel" aria-labelledby="headingMapExtra">
            <div class="table-responsive">
                <table class="table table-hover table-bordered table-striped" id="map_summary" {% if reference_table.attrs %}
                    {{ reference_table.attrs.as_html }}{% endif %}> 
                    {% block table.thead %}
                    <thead>
                        <tr>
                            {% for column in reference_table.columns %}
                            {% if column.orderable %}
                                <th {{ column.attrs.th.as_html }}><a href="{% querystring reference_table.prefixed_order_by_field=column.order_by_alias.next %}">{{ column.header|title }}</a></th>
                            {% else %}
                                <th {{ column.attrs.th.as_html }}>{{ column.header|title }}</th>
                            {% endif %}                    
                            {% endfor %}
                        </tr>
                    </thead>
                    {% endblock table.thead %}
                    {% block table.tbody %}
                    <tbody>
                        {% for row in reference_table.page.object_list|default:reference_table.rows %} {# support pagination #}
                        {% block table.tbody.row %}
                        <tr id="row_{{ row.record.id }}" class="{% cycle "odd" "even" %}">
                            {% for column, cell in row.items %}
                            <td {{ column.attrs.td.as_html }}>{{ cell }}</td>
                            {% endfor %}
                        </tr>
                        {% endblock table.tbody.row %}
                        {% empty %}
                        {% if reference_table.empty_text %}
                        {% block table.tbody.empty_text %}
                            <tr><td colspan="{{ reference_table.columns|length }}">{{ reference_table.empty_text }}</td></tr>
                        {% endblock table.tbody.empty_text %}
                        {% endif %}
                        {% endfor %}
                    </tbody>
                    {% endblock table.tbody %}
                    {% block table.tfoot %}
                        <tfoot></tfoot>
                    {% endblock table.tfoot %}
                </table>
            </div>
        </div>
    </div>
</div>

{% endif %}

{%endblock content %}

{% block js %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script type="text/javascript" src="https://igv.org/web/release/2.3.3/dist/igv.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.7/es5-shim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.3/es6-shim.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="{% static 'js/televir_projects/sample_detail.js' %}"></script>
<script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-heatmap.min.js"></script> 




<script type="text/javascript">

    var buttons = document.querySelectorAll('.showSecondaryRows, .showSecondaryRows i');
    for (var b = 0; b < buttons.length; b++) {
        buttons[b].addEventListener('click', function(event) {
            event.stopPropagation();
            var button = event.target.closest('.showSecondaryRows');
            var groupName = button.getAttribute('group-name');
            var allRows = document.querySelectorAll('.secondary-row[group-name="' + groupName + '"]');
            var icon = button.querySelector('.toggle-icon');
            
            for (var i = 0; i < allRows.length; i++) {
                if (allRows[i].classList.contains('parent')) {
                    if (allRows[i].style.display === 'none') {
                        allRows[i].style.display = 'table-row';
                        icon.classList.remove('fa-toggle-off');
                        icon.classList.add('fa-toggle-on');
                    } else {

                        inner_row= nextTr(allRows[i]);
                        if ($(inner_row).hasClass("active")) {
                            $(inner_row).toggleClass("active");
                        }       

                        allRows[i].style.display = 'none';
                        icon.classList.remove('fa-toggle-on');
                        icon.classList.add('fa-toggle-off');
             
                    }
                }
            }
        });
    }


    // Load google charts
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    
    // Draw the chart and set the chart values
    function drawChart() {
        var raw_data= [['Input', "Number"]];
        raw_data.push(["Kept", parseFloat("{{run_detail.processing_final|reconvert_string_to_int}}")]);

        if ("{{qc_report.performed}}" == "True" ) {
            if ("{{qc_report.input_reads}}" != "0" ) {
                raw_data.push(['Extra filtering', parseFloat("{% difference_str_to_str qc_report.input_reads qc_report.output_reads %}")]);
            };
        };
        if ("{{run_main.enrichment_performed}}" == "True" ) {
            if ("{{run_detail.enriched_reads}}" != "0" ) {
                raw_data.push(['Enrichment', parseFloat("{% difference_str_to_int qc_report.output_reads run_detail.enriched_reads %}")]);
            };
        };
        if ("{{run_main.host_depletion_performed}}" == "True" ) {
            if ("{{run_detail.depleted_reads}}" != "0" ) {
                raw_data.push(['Host Depletion', parseFloat("{{run_detail.depleted_reads}}")]);
            };
        };
        
        var data = google.visualization.arrayToDataTable(raw_data);
    
      // Optional; add a title and set the width and height of the chart
      var options = {'title':'Summary', 'width':500, 'height':300};
    
      // Display the chart inside the <div> element with id="piechart"
      var chart = new google.visualization.PieChart(document.getElementById('piechart'));
      chart.draw(data, options);
    }
</script>


{% endblock %}



