{% extends '_layouts/base.html' %}


{% load bootstrap4 %}
{% load querystring from django_tables2 %}
{% load title from django_tables2 %}
{% load trans blocktrans from i18n %}
{% load django_bootstrap_breadcrumbs %}

{%load html_tags %}

{% load static %}
{%load report_colors %}


{% block css %}
	{% load static from staticfiles %}
        <link rel="stylesheet" href="{% static 'css/result_table.css' %}" />
        <link rel="stylesheet" href="{% static 'css/result_detail.css' %}" />
        <link rel="stylesheet" href="{% static 'css/result_detail_buttons.css' %}" />
        <link rel="stylesheet" href="{% static 'css/televir_sample_compound.css' %}" />
        <link rel="stylesheet" href="{% static 'css/televir_software_graph/collapsibleTree-0.1.6/collapsibleTree.css' %}" />
{% endblock css %}


{% block breadcrumbs %}
{{block.super}}
{% if owner %}
{% breadcrumb "Project Index" "project-index" %}
{% breadcrumb "TELEVIR Projects" "PIprojects_main"  %}
{% breadcrumb project "PIproject_samples"  pk=project_index  %}
{% breadcrumb sample "sample_main" pk1=project_index pk2=sample_index  %}
{% else %}
{% breadcrumb "Project Index" "project-index" %}

{% endif %}
{% endblock %}


{% block content %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript" src="{% static 'js/televir_projects/heatmap_clades.js' %}"></script>

<style>
    .collapsible-summary {
        position: fixed;
        top: 60px; /* Add space at the top */
        right: -100%; /* Start off-screen */
        width: 1000px; /* Default width */
        height: calc(100% - 20px); /* Adjust height to account for the top space */
        background-color: white;
        box-shadow: -2px 0 5px rgba(0,0,0,0.5);
        transition: right 0.3s ease, width 0.3s ease; /* Smooth transition */
        z-index: 1000; /* Ensure it appears above other content */
        overflow-y: auto; /* Enable scrolling if content overflows */
        padding: 20px; /* Add padding around the content */
    }

    .collapsible-summary.show {
        right: 0; /* Slide in */
    }

    .slider-container {
        position: fixed;
        top: 30px; /* Adjust based on the top space */
        right: 320px; /* Adjust based on the default width */
        z-index: 1001; /* Ensure it appears above other content */
    }

    .js-plotly-plot .plotly {
        margin-bottom: 50px;
    }

    .main-svg {
        height: 500px;
    }

    #close-summary {
        margin-top: 10px;
    }

</style>


{% if owner %}

<div id="accordion1" role="tablist" aria-multiselectable="true">
    <div class="card">
        <div class="card">
            <div class="card-header" role="tab" id="headingsample">
                <div class="row">
                    <div class="col-sm" >
                        <h5 class="mb-0" >
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsehead" aria-expanded="false" aria-controls="headinghead">
                                <strong>Sample: {{sample}}</strong>
                            </a>
                        </h5>
                    </div>
                    <div class="col-sm">
                        <div class="float-right">
                            <a href={% url 'sample_main' pk1=project_index pk2=sample_index %} class="btn btn-primary dark"> 
                                <span class="hidden-phone"></span>Workflow panel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if runs_number %} 
        <div id="collapsehead" class="collapse show" role="tabpanel" aria-labelledby="headingsample">
            <div class="card-block">
                <div style="padding: 20px">
                    
                    <div class="row">
                        <div class="col-sm-2 link-container">
                            {% for run in runs_pipeline %}
                            <a href={% url 'sample_detail' pk1=run.project.pk pk2=run.sample.pk pk3=run.pk %}> Workflow report {{run.parameter_set.leaf.software_tree.global_index}}-{{run.parameter_set.leaf.index}} </a>

                            {% endfor %}
                            {% for run in runs_mapping %}
                            <a href={% url 'sample_detail' pk1=run.project.pk pk2=run.sample.pk pk3=run.pk %}> Mapping report r{{run.parameter_set.leaf.software_tree.global_index}}-{{run.parameter_set.leaf.index}}  </a>
                            {% endfor %}
                        </div>
                        {% if graph_json %}

                        <div class="col-sm-9">
                                <div id="{{graph_id}}" style="width:95%;height:{{graph_height}}px;position:center;" class="collapsibleTree html-widget"></div>
                                <script type="application/json" data-for="{{graph_id}}">{{graph_json|safe}}</script>
                        </div>
                        <div class="col-sm-12">
                            <div class="info-icon">
                              <img src="{% static "img/pipeline_steps_classification.jpg" %}" alt="Graph Information">
                              <i class="fa fa-info-circle"></i>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<div class="slider-container">
    <label for="width-slider">Adjust Width:</label>
    <input type="range" id="width-slider" min="300" max="800" value="300">
</div>

<div id="accordion2" role="tablist" aria-multiselectable="true">
    <div class="card">
        <div class="card-header" role="tab" id="headingReport">
            <div class="row">
                <div class="col-sm" >
                    <h5 class="mb-0" >
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseReport" aria-expanded="false" aria-controls="collapseReport">
                            <strong>Pathogen Identification</strong>
                        </a>
                        <a href="https://insaflu.readthedocs.io/en/latest/metagenomics_virus_detection.html#televir-output-visualization-and-download" target="_blank">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                    </h5>
                </div>
                
                <div class="col-sm">
                    <div class="float-right">
                    <a href="#" id="report_download" class="btn btn-primary dark"> 
                        <span class="hidden-phone"></span>Download as TSV </a>
                    </div>

                    {% if sort_performed %}
                    <div class="float-right overlap-button">
                        <button id="toggle-summary" class="btn btn-primary">Read Overlap Summary</button>
                    </div>  
                    {% endif %}
                </div>
            </div>
        </div>
        {% if sort_performed %}
        <div id="summary" class="collapsible">
            <div class="card-block collapsible-summary">
                <button id="close-summary" class="btn btn-secondary">Close</button>
                <div style="padding: 20px; padding-bottom: 0px; padding-top: 50px">
                    <div class="row">
                        <div class="col-sm">
                            <p> 
                            <p> 
                                Shared read analysis recovered <strong>{{ groups_count }} groups of references</strong>.
                            </p> 
                        </div>
                    </div>
                </div>
                {% if clade_heatmap_json_exists %}
                <div style="padding: 20px; padding-top: 0px">
                    <div class="row">
                        <div class="col-sm">
                            <p> 
                                The shared heatmap displays the proportion of reads of one group (column) that are shared with another group (row).
                                Groups are sorted by maximum coverage. If the heatmap is not visible, please re-run sorting for this sample. 
                            </p>
                        </div>
                    </div>
                </div>
                <div id="clade-heatmap" class="plot-container">
                </div>
                <script>
                    createHeatmapClades('{{ clade_heatmap_json|safe }}', "clade-heatmap");
                </script>
                {% if overlap_heatmap_available %} 
                <div id="plot" class="plot-container">
                    <img src={{overlap_heatmap_path}} alt="Image">
                </div>
                {% endif %}
                {% endif %}
                <div style="padding: 20px">
                    <div class="row">
                        <div class="col-sm">
                            <p> 
                                <i class="fa fa-exclamation-circle"></i> <strong>
                                    We recommend manual inspection of the results
                                    using the within-group <strong>Read Overlap</strong> heatmaps. 
                                    Group sorting aims at identifying cross-hits and false positives. While robust, this method may mask similar true positive hits. </strong>
                            </p>
                            <p>
                                <i class="fa fa-exclamation-circle"></i> <strong>
                                This sorting algorithm is taxonomy-blind. Groups are constructed according to a minimum shared mapped read threshold of <strong>{{ min_shared_reads }} % </strong> between remapped hits. </strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        <div id="collapseReport" class="collapse show" role="tabpanel" aria-labelledby="headingReport">
            <div class="card-block">
                <div style="padding: 2px; overflow-x:auto;">    
                    <table class="table" width="100%" id="report_table">
                    <thead>
                        <tr class="header">
                            <th class="description-column">Description</th>
                            <th>Taxid</th>
                            <th>accID</th>
                            <th>Workflows</th>
                            <th>Cov (%)</th>
                            <th>Depth</th>
                            <th>DepthC</th>
                            <th>Mapped reads</th>
                            <th>start prop (%)</th>
                            <th>mapped_prop (%)</th>
                            <th>Gaps</th>
                            <th>Windows Covered</th>
                            {% if private_reads_available %}
                            <th>Private reads</th>
                            {% endif %}
                            {% if error_rate_available %}
                            <th>Mismatch rate</th>
                            {% endif %}
                            <th>class. success</th>
                            <th>mapping success</th>                
                            <th>Warning</th>
                            {% if in_control %}
                            <th>Control</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for final_report in report_list %}
                        <tr>
                            <td colspan="100%">
                                <div class="custom-section-container">
                                    {% if final_report.has_multiple %}
                                    <div class="primary-row" style= "margin-top: 2px;">
                                        <button class="showSecondaryRows" type="button" group-name="{{final_report.name}}" title="Toggle Secondary Rows">
                                            <i class="fa fa-toggle-off toggle-icon"></i>
                                        </button>                                        
                                    </div>
                                     {% else %}
                                     <div class="primary-row" style="visibility: hidden; ">
                                        <button class="showSecondaryRows" type="button" style="visibility: hidden;">
                                            <i class="fa fa-toggle-off toggle-icon"></i>
                                        </button>                                        
                                    </div>
                                    {% endif %}
                                    <!-- First section -->
                                    <div class="custom-section" id="info_{{ final_report.name }}">
                                        {{final_report.name}}
                                    </div>
                                    {% if final_report.private_counts_exist %}
                                    <!-- Second section -->
                                    <div class="custom-section">
                                        private reads: {{final_report.private_counts}}
                                    </div>
                                    {% endif %}
                                    <!-- Third section -->
                                    <div class="custom-section">
                                        private reads proportion: {{final_report.private_proportion}}
                                    </div>
                                    <!-- Forth section -->
                                    <div class="custom-section">
                                        Group size {{final_report.group_list|length}}
                                    </div>
                                    <div class="custom-section">
                                        <a href="#" id="showButton" class="custom-link">Read Overlap</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% if final_report.js_heatmap_ready %}
                        <tr class="row-to-toggle" id="rowToToggle" style="display: none;">
                            <td colspan="16">
                                <div id="plot-{{final_report.name}}" class="plot-container">
                                   
                                </div>
                                <script>
                                    createHeatmap('{{ final_report.js_heatmap_data|safe }}', "plot-{{final_report.name}}");
                                </script>

                            </td>
                        </tr>
                        {% elif final_report.heatmap_exists %}
                        <tr class="row-to-toggle" id="rowToToggle" style="display: none;">
                            <td colspan="100%">
                                <div id="plot" class="plot-container">
                                    <img src={{final_report.heatmap_path}} alt="Image">
                                </div>
                            </td>
                        </tr>
                        {% endif %}
                        {% for value in final_report.group_list %}
                        <tr class="parent {{value.row_class_name}}"  style="display: {{value.display}}" id="row_{{value.accid}}" group-name="{{final_report.name}}" first="{{value.first_in_group}}" accid>
                            <td data-title="Description" style="text-align: left;">
                                {% if value.first_in_group %}
                                {% if final_report.has_multiple %}
                                        <i class="fa fa-empty sort-icon"  title="Best Coverage"></i>
                                {% else %}
                                        <i class="fa fa-empty sort-icon"  title="Best Coverage"></i>
                                
                                {% endif %}
                                
                                {% endif %}
                                <a href="#" id="plot_show" >{{value.description}}</a>
                            </td>                         
                            <td data-title="Taxid">{{value.taxid}}</td>
                            <td data-title="accID">
                                <a href={{value.accid|link_ncbi}}>{{value.accid}}</a>
                            </td>
                            <td data-title="Support" {% if value.found_in == "M" %} class="map-only-cell" {% endif %} >{{value.found_in |safe}}</td>                                
                            <td data-title="Cov" style="{% depth_color value.coverage max_coverage %}">
                                {{value.coverage|round}}</td>
                            <td data-title="Depth" style="{% depth_color value.depth value.run_detail.max_depth %}">
                                {{value.depth|round}}</td>
                            <td data-title="DepthC" style="{% depth_color value.depthR value.run_detail.max_depthR %}">
                                {{value.depthR|round}}</td>
                            <td data-title="Mapped reads" style="{% depth_color value.mapped_reads value.run_detail.max_mapped %}">
                                {{value.mapped_reads|round}}</td>
                            <td data-title="start prop" style="{% depth_color value.ref_proportion value.run_detail.max_prop %}">
                                {{value.ref_proportion|round_to_int}}</td>
                            <td data-title="mapped_prop" style="{% depth_color value.mapped_proportion value.run_detail.max_prop %}">
                                {{value.mapped_proportion|round_to_int}}</td>
                            <td data-title="Gaps" style="{% depth_color value.ngaps value.run_detail.max_gaps %}">
                                {{value.ngaps}}</td>
                            <td data-title="Windows Covered" style="{% depth_color_windows value.windows_covered max_windows_covered %}">
                                {% windows_safe value.windows_covered %}</td>
                            {% if private_reads_available %}
                            <td data-title="Private reads" style="{% depth_color value.private_reads final_report.max_private_reads %}">
                                {{value.private_reads}}</td>
                            {% endif %}
                            {% if error_rate_available %}
                            <td data-title="Error rate" style="{% depth_color_error value.error_rate max_error_rate %}">
                                {{value.error_rate}}</td>
                            {% endif %}
                            <td data-title="class. success" style="{% success_count_color value.classification_success %}">
                                {{value.classification_success}}</td>
                            <td data-title="mapping success" style="{% success_count_color value.mapping_success %}">
                                {{value.mapping_success}}</td>
                            <td data-title="Warning" style="{% flag_false_positive_color value.depth value.depthR value.coverage value.mapped_reads value.windows_covered project_index %}">
                                {% flag_false_positive value.depth value.depthR value.coverage value.mapped_reads value.windows_covered project_index %}</td>
                            {% if in_control %}
                            <td data-title="Control" style="{% flag_control_color value.control_flag %}">
                                {{ value.control_flag_str }}</td>
                            {% endif %}
                        </tr>
                        <tr class="collapse-report" group-name="{{final_report.name}}">
                        <td colspan="18">
                            <div class="table__wrapper">
                            <table class="table table-inner">
                                <tbody>
                                    <tr class="detail">
                                        <td colspan="5" align="center">
                                            <p>Database: {{value.ref_db|strip_ext}}</p>
                                        </td>
                                        <td colspan="2" align="center">
                                            <a href={{value.accid|link_ncbi}}>NCBI</a>
                                        </td>
                                        <td colspan="2" align="center">
                                            <p>length: {{value.reference_length}}</p>
                                        </td>
                                        <td colspan="3" align="center">
                                            <p>contig string: {{value.reference_contig_str}}</p>
                                        </td>
                                        <td colspan="1" align="center">
                                            <div>
                                                <form id="download_reference_{{value.accid}}" action="{% url 'download_file_igv' %}"
                                                    method="POST">
                                                    {% csrf_token %}
                                                    <input type=submit value=".fa" name="btn1">
                                                    <input type="hidden" name="file_path" value="{{value.reference_path}}">
                                                </form>
                                            </div>
                                        </td>
                        
                                        <td colspan="1" align="center">
                        
                                            <div>
                                                <form id="download_reference_index_{{value.accid}}" action="{% url 'download_file_igv' %}"
                                                    method="POST">
                                                    {% csrf_token %}
                                                    <input type=submit value=".fai" name="btn2">
                                                    <input type="hidden" name="file_path" value="{{value.reference_index_path}}">
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
        
                                    {% if value.coverage > 0 %}
                                    <tr class="igv_tab" id="igv_display_{{value.accid}}">
                                        <td colspan="18" align="center">
                                            <div class="card-block">
                                                <div class="container-fluid">
                                                    <div class="igv-loader" id="loader_igv_{{value.accid}}"><img src="{{ spinner_url }}"/></div>
                                                    <div id="show_igv_{{value.accid}}"  show-igv-url="{% url 'show_igv' %}"></div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="detail">
                                        <td colspan="1" align="center">
                                            <p>Mapping Coverage</p>
                                        </td>
                                        <td colspan="11" align="center">
                                            <img src="{% static value.run_main.static_dir %}/{{ value.covplot }}"="200"="250" alt="">
                                        </td>
                                        <td colspan="1" align="center">
                        
                                            <div style="position:relative height=100%" >
                                                <button class="igv_browse btn btn-primary" id="igv_browse" type="button" project_pk="{{project_index}}" sample_pk="{{sample_index}}" sample_name="{{ sample }}"
                                                run_pk="{{value.run_index}}" accid="{{value.accid}}" show-igv-url="{% url 'igv_browser' %}" reference_id="{{value.unique_id}}" >IGV</button>
                                            </div>
                                            {% if value.data_exists %}
                                            <div id="cov_div" >
                                                <br>
                                                <form id="download_bam_{{value.accid}}" action="{% url 'download_file_igv' %}"
                                                    method="POST">
                                                    {% csrf_token %}
                                                    <input type=submit value=".bam" name="btn1">
                                                    <input type="hidden" name="file_path" value="{{value.bam_path}}">
                                                </form>
                                                <br>
                                                <form id="download_bai_{{value.accid}}" action="{% url 'download_file_igv' %}"
                                                    method="POST">
                                                    {% csrf_token %}
                                                    <input type=submit value=".bai" name="btn2">
                                                    <input type="hidden" name="file_path" value="{{value.bai_path}}">
                                                </form>
                                            </div>
                                            {% endif %}
                        
                                        </td>
                                        <td colspan="1" align="center">
                                            {% if value.data_exists %}
                                            <div id="cov_div" style="position:relative height=100%">
                                                <br>
                                                <form id="download_mapped_r1_{{value.accid}}" action="{% url 'download_refmap_files' %}"
                                                    method="POST">
                                                    {% csrf_token %}
                                                    <input type=submit value="mapped reads r1 (.fa)" name="btn3">
                                                    <input type="hidden" name="file" value="mapped_subset_r1">
                                                    <input type="hidden" name="taxid" value="{{value.taxid}}">
                                                    <input type="hidden" name="run" value="{{value.run.pk}}">
                                                    <input type="hidden" name="accid" value="{{value.accid}}">
                                                    
                                                </form>
                                                {% if value.run_main.sample.sample.is_valid_2 %}
                                                <br>
                                                <form id="download_mapped_r2_{{value.accid}}" action="{% url 'download_refmap_files' %}"
                                                method="POST">
                                                {% csrf_token %}
                                                <input type=submit value="mapped reads r2 (.fa)" name="btn3">
                                                <input type="hidden" name="file" value="mapped_subset_r2">
                                                <input type="hidden" name="taxid" value="{{value.taxid}}">
                                                <input type="hidden" name="run" value="{{value.run.pk}}">
                                                <input type="hidden" name="accid" value="{{value.accid}}">
                                                </form>
                                                {% endif %}
                                            </div>
                                            {% endif %}
                                        </td>
                                    </tr>
        
                                    {% endif %}
                                    {% if value.refa_dotplot_exists == True %}
                                    <tr class="detail ">
                                        <td colspan="1" align="center">
                                            <p>Assembly to reference dotplot</p>
                                        </td>
                        
                                        <td colspan="11" align="center">
                                            <img src="{% static value.run_main.static_dir %}/{{ value.refa_dotplot }}"="200"="250" alt="">
                                        </td>
                                        <td colspan="1" align="center" style="position:relative">
                                            {% if value.data_exists %}
                                            <div>
                                                <a style="position:relative"
                                                    href={% url 'scaffold_remap' pk1=project_index pk2=sample_index pk3=value.run_index reference=value.simple_id %}>Sample
                                                    remap</a>
                                            </div>
                                            <br>
                                            <form id="remap_paf_{{value.accid}}" action="{% url 'download_file_igv' %}" method="POST">
                                                {% csrf_token %}
                                                <input type=submit value=".paf" name="btn1">
                                                <input type="hidden" name="file_path" value="{{value.reference_assembly_paf}}">
                                            </form>
                                            <br>
                                            <form id="mapped_scaffolds_{{value.accid}}" action="{% url 'download_file_igv' %}"
                                                method="POST">
                                                {% csrf_token %}
                                                <input type=submit value=".fa" name="btn2">
                                                <input type="hidden" name="file_path" value="{{value.mapped_scaffolds_path}}">
                                            </form>
                                            <br>
                                            <form id="mapped_scaffolds_index_{{value.accid}}" action="{% url 'download_file_igv' %}"
                                                method="POST">
                                                {% csrf_token %}
                                                <input type=submit value=".fai" name="btn3">
                                                <input type="hidden" name="file_path" value="{{value.mapped_scaffolds_index_path}}">
                                            </form>
                                            {% endif %}
                        
                                        </td>
                                    </tr>
                                    {% endif %}
          
                                </tbody>
                            </table>
                            </div>
                        </td>
                        </tr>
                    {% endfor %}

                    <tr class="detail" style="background-color: #f2f2f2; padding: 0px; margin: 0px; border: 0px;">
                        <td colspan="18" align="center" style="padding: 0px; margin: 0px">
                            <hr class="solid" style="height: 1px; background-color: #000000; margin: 0px;">
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endif %}

{%endblock content %}
{% load static from staticfiles%}
{% block js %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script type="text/javascript" src="https://igv.org/web/release/2.3.3/dist/igv.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.7/es5-shim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.3/es6-shim.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript" src="{% static 'js/graph_televir/htmlwidgets-1.6.2/htmlwidgets.js' %}"></script>
<script type="text/javascript" src="{% static 'js/graph_televir/d3-4.10.2/d3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/graph_televir/collapsibleTree-binding-0.1.7/collapsibleTree.js' %}"></script>
<script type="text/javascript" src="{% static 'js/televir_projects/sample_detail.js' %}"></script>

<script>
    document.getElementById('toggle-summary').addEventListener('click', function() {
        var summaryDiv = document.querySelector('.collapsible-summary');
        summaryDiv.classList.toggle('show');
    });

    document.getElementById('close-summary').addEventListener('click', function() {
        var summaryDiv = document.querySelector('.collapsible-summary');
        summaryDiv.classList.remove('show');
    });

    document.getElementById('width-slider').addEventListener('input', function() {
        var summaryDiv = document.querySelector('.collapsible-summary');
        var newWidth = this.value + 'px';
        summaryDiv.style.width = newWidth;

        // Adjust the position of the slider container
        var sliderContainer = document.querySelector('.slider-container');
        sliderContainer.style.right = (parseInt(newWidth) + 20) + 'px';
    });

    var buttons = document.querySelectorAll('.showSecondaryRows, .showSecondaryRows i');
    for (var b = 0; b < buttons.length; b++) {
        buttons[b].addEventListener('click', function(event) {
            event.stopPropagation();
            var button = event.target.closest('.showSecondaryRows');
            var groupName = button.getAttribute('group-name');
            var allRows = document.querySelectorAll('.secondary-row[group-name="' + groupName + '"]');
            var icon = button.querySelector('.toggle-icon');
            
            for (var i = 0; i < allRows.length; i++) {
                if (allRows[i].classList.contains('parent')) {
                    if (allRows[i].style.display === 'none') {
                        allRows[i].style.display = 'table-row';
                        icon.classList.remove('fa-toggle-off');
                        icon.classList.add('fa-toggle-on');
                    } else {

                        inner_row= nextTr(allRows[i]);
                        if ($(inner_row).hasClass("active")) {
                            $(inner_row).toggleClass("active");
                        }       

                        allRows[i].style.display = 'none';
                        icon.classList.remove('fa-toggle-on');
                        icon.classList.add('fa-toggle-off');
             
                    }
                }
            }
        });
    }

</script>
{% endblock js %}




