{% extends '_layouts/base.html' %}
{% load render_table from django_tables2 %}

{% load static %}


{% block content %}

<div>
    <ul class="breadcrumb">
        <li><a href="{% url 'PIprojects_main' %}">Home</a></li>
        <li><a href="{% url 'PIproject_samples' pk=project_index %}"> project {{project_name}}</a></li>
        <li>sample {{name}}</li>
    </ul>
</div>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4> Runs </h4>
            </div>

        </div>
    </div>


    <table class="center">
        {% render_table runs "django_tables2/semantic.html" %}
    </table>

</body>
{% endblock content %}