{% extends '_layouts/base.html' %}


{% load bootstrap4 %}
{% load querystring from django_tables2 %}
{% load title from django_tables2 %}
{% load trans blocktrans from i18n %}
{% load django_bootstrap_breadcrumbs %}

{%load html_tags%}

{% load static %}
{%load report_colors %}



{% block css %}
	{% load static from staticfiles %}
		<link rel="stylesheet" href="{% static 'css/flu-web-site.css' %}" type="text/css" />
		<link rel="stylesheet" href="{% static 'css/insaphylogeo.css' %}" type="text/css" />
		<link rel="stylesheet" href="{% static 'css/project_sample_show.css' %}" type="text/css" />
		<link rel="stylesheet" href="{% static 'vendor/tablefilter/style/tablefilter.css' %}" type="text/css">
{% endblock css %}

{% block breadcrumbs %}
{{block.super}}

{% breadcrumb "Televir Projects" "PIprojects_main"  %}
{% breadcrumb project "PIproject_samples"  pk=project_index  %}
{% breadcrumb sample "sample_main" project_name=project sample_name=sample %}
{% breadcrumb run_name "sample_detail" project_name=project sample_name=sample run_name=run_name %}
{% endblock %}


{% block content %}


<div id="accordion" role="tablist" aria-multiselectable="true">
    <div class="card">
        <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
                <a class="collapsed"  data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    <strong>Pre-Processing</strong>
                </a>
                </h5>
        </div>
        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
                <div style="padding: 20px">

                {% if run_main.enrichment_performed %}
                <p> Viral enrichment was performed using <strong>{{ run_main.enrichment }}</strong>. </p>
                <p> {{ run_detail.input }} input reads. {{ run_detail.processed }} ({{run_detail.processed_percent}} %)
                    remained. </p>
                {% if run_detail_processed.processed == 0 %}
                <p> Run continued using input reads </p>
                {% endif %}
                {% elif run_main.host_depletion_performed %}
                <br>
                <p> The following table shows the results of the pre-processing. </p>
                <p> The pre-processing is done in the following order: </p>
                <br>
                {% else %}
                <p> No pre-processing step was performed </p>
                {% endif %}
                {% if run_detail.sift_preproc %}
                <p> SIFT was performed on the pre-processed reads, {{run_detail.sift_removed_pprc}} reads were removed.
                </p>
                {% endif %}
                <p> A total of {{run_detail.processing_final}} ({{run_detail.processing_final_percent}} %) reads
                    remained. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingAssembly">
            <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseAssembly" aria-expanded="false" aria-controls="collapseAssembly">
                    <strong>Assembly</strong>
                </a>
                </h5>
        </div>
        <div id="collapseAssembly" class="collapse show" role="tabpanel" aria-labelledby="headingAssembly">
            <div class="card-block">
                {% if assembly.performed %}
                <div style="padding: 20px">
                <p> Assembly was run using the software <strong>{{ assembly.method }}</strong>. </p>
                <p> Assembled contigs were filtered for a minimum size of {{assembly.contig_trim}} bp. </p>
                <p> After filtering, {{assembly.contig_number}} contigs remained. </p>
                {% if assembly.contig_number > 0 %}
                </p> Contig sizes rang between
                    {{assembly.contig_min}} bp and {{assembly.contig_max}} bp (mean {{assembly.contig_mean}}) 
                </p
                {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" role="tab" id="headingRefId">
            <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseRefId" aria-expanded="false" aria-controls="collapseRefId">
                    <strong>Reference Identification</strong>
                </a>
                </h5>
        </div>
        <div id="collapseRefId" class="collapse show" role="tabpanel" aria-labelledby="headingRefId">
            <div class="card-block">
                {% if assembly.performed %}
                <div style="padding: 20px">
                    {% if assembly.contig_number > 0  %}
                    <p> Assembled contigs were classified using the software
                        <strong>{{contig_classification.method}}</strong>. </p>
                    {% if contig_classification.classification_number > 0 %}
                    <p style=padding-left:3em> &bull; {{contig_classification.classification_number}} accessions were
                        identified
                        with
                        at least
                        {{contig_classification.classification_minhit}} hit(s).</p>
                    {% else %}
                    <p style=padding-left:3em> &bull; {{contig_classification.classification_number}} accessions were
                        identified. </p>
                    {% endif %}
                    {% endif %}
                    <p> Reads were classified using the software <strong>{{read_classification.method}}</strong> </p>
                    {% if read_classification.classification_number > 0 %}
        
                    <p style=padding-left:3em> &bull; {{read_classification.classification_number}} accessions were
                        identified
                        with at
                        least
                        {{read_classification.classification_minhit}} hit(s). </p>
                    {% else %}
                    <p style=padding-left:3em> &bull; {{read_classification.classification_number}} accessions were
                        identified.
                    </p>
                    {% endif %}
                    {% if run_main.sift_remap %}

                    <p> SIFT was performed on the classified reads and contigs. </p>
                    {% endif %}
                    {% if run_detail.merged %}
                    <p> After merging, a total of {{run_detail.merged_number}} taxids found in our databases and were selected
                        for remapping against.
                    </p>
                    <p style=padding-left:3em> References were collected from the data bases:
                        <em>{{run_detail.merged_files}}</em>. </p>
                    {% else %}
                    <br>
                    <p> No merging was performed. </p>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingRemap">
            <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseRemap" aria-expanded="false" aria-controls="collapseRemap">
                    <strong>Remapping</strong>
                </a>
                </h5>
        </div>
        <div id="collapseRemap" class="collapse show" role="tabpanel" aria-labelledby="headingRemap">
            <div class="card-block">
                <div style="padding: 20px">
                    <p> Remapping was performed using the software <strong>{{run_remap.method}}</strong>. </p>
                    <p> Of the references identified, {{run_detail.merged_number}} corresponding accession ids were found in
                        our
                        databases. </p>
                    <p style=padding-left:4em> from these, {{run_remap.success}} successful alignments were produced.
                    </p>
                    <p> Results are shown for a minimum coverage of {{run_remap.coverage_minimum}}X and a maximum coverage
                        of
                        {{run_remap.coverage_maximum}}X. </p>
                    <p> The following table shows the results of the remapping onto identified references. </p>
                </div>
            </div>
        </div>
    </div>
</div>


{%endblock content %}


{% block js %}
 
{% load static from staticfiles %}
        <!-- Custom scripts for all pages-->
      
      <!-- <script type="text/javascript" src="https://cdn.rawgit.com/phylocanvas/phylocanvas-quickstart/v2.8.1/phylocanvas-quickstart.js"></script> -->
      <script type="text/javascript" src="{% static 'vendor/phylocanvas/v2.8.1/phylocanvas-quickstart.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/sample-project/show-sample-project.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/sample-project/show-aln2pheno.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/sample-project/gff-parser.js' %}"></script>
      <script type="text/javascript" src="{% static 'vendor/msa/msa.min.1.0.js' %}"></script>
      <!-- <script type="text/javascript" src="{% static 'vendor/msa/msa.min.js' %}"></script> -->
      <script type="text/javascript" src="{% static 'Chart.js/2.7.1/Chart.min.js' %}"></script>
      
      <!-- <script src="https://cdn.bio.sh/msa/latest/msa.min.gz.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>  -->
      
      <!--  Table filter  https://github.com/koalyptus/TableFilter -->
      <script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>
      <script type="text/javascript" src="{% static 'js/sample-project/show-sample-project-table.js' %}"></script>
      <script type="text/javascript" src="{% static 'vendor/tablefilter/tablefilter.js' %}"></script>

<script>	
  $('#id_go_back_button').on('click', function(){
      wait_screen();
  });
</script>	
{% endblock %}



