{% extends '_layouts/base.html' %}

{% load bootstrap4 %}
{% load querystring from django_tables2 %}
{% load title from django_tables2 %}
{% load trans blocktrans from i18n %}
{% load view_breadcrumbs %}
{% load static %}


{% block extra_messages %}
	<!-- set the messages -->
	<div class="container">
		<div id="id_messages_remove"></div>
	</div>
{% endblock %}

{% block content %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/teleflu_main.css' %}">

{% endblock %}

<div class="outer-container">
    <button id="open-modal-button" type="button" class="btn btn-primary" data-toggle="modal" csrf="{{ csrf_token }}"  url-workflows='{% url "load_teleflu_workflows" %}' project-id='{{ teleflu_project_pk }}' data-target="#id_workflow_modal" url-stack="{% url 'stack_igv_teleflu_workflow' %}">
        Add Workflow
    </button>
    {% if insaflu_connection_exists == False %}
    <button id="open-insaflu-modal" type="button" class="btn btn-primary" data-toggle="modal" data-target="#id_insaflu_project_modal">
        <i class="fa fa-external-link-square" aria-hidden="true"></i> INSaFLU
    </button>
    {% endif %}
    <button type="button" class="btn btn-primary dark" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-cog" aria-hidden="true" ></i>
        <a href="{% url "pathogenID_pipeline" level=project_index %}"><span class="hidden-phone" style="color:white"><i>Project Settings</i></span></a>
    </button>

</div>

<div class="outer-container">
    <div class="workflow-table-container">
        <h3 class="title">Mapping Workflows</h3>
        <p class="subtitle">Click on <i class="fa fa-list-alt large-icon" aria-hidden="true" style="margin-left:3px; margin-right: 3px;"></i> to display sample mapping summary</p>
        <div id="workflow-list">
        </div>
    </div>
</div>

{% if insaflu_connection_exists %}

<div class="outer-container">
    <div class="insaflu-table-container">
        <h3 class="title"> INSaFLU Project </h3>
        <p class="subtitle">Reference-based genome assembly</p>
        <div class="table-responsive">
            <table class="table table-hover table-bordered table-striped" {% if insaflu_table.attrs %}z
                {{ insaflu_table.attrs.as_html }}{% endif %}>
                <thead>
                    <tr>
                        {% for column in insaflu_table.columns %}
                        {% if column.orderable %}
                            <th {{ column.attrs.th.as_html }}><a href="{% querystring insaflu_table.prefixed_order_by_field=column.order_by_alias.next %}">{{ column.header|title }}</a></th>
                        {% else %}
                            <th {{ column.attrs.th.as_html }}>{{ column.header|title }}</th>
                        {% endif %}
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in insaflu_table.page.object_list|default:insaflu_table.rows %} {# support pagination #}
                    {% block insaflu_table.tbody.row %}
                    <tr id="row_{{ row.record.id }}" class="{% cycle "odd" "even" %}">
                        {% for column, cell in row.items %}
                        <td {{ column.attrs.td.as_html }}>{{ cell }}</td>
                        {% endfor %}
                    </tr>
                    {% endblock insaflu_table.tbody.row %}
                    {% empty %}
                    {% if insaflu_table.empty_text %}
                    {% block insaflu_table.tbody.empty_text %}
                        <tr><td colspan="{{ insaflu_table.columns|length }}">{{ insaflu_table.empty_text }}</td></tr>
                    {% endblock insaflu_table.tbody.empty_text %}
                    {% endif %}
                    {% endfor %}
                </tbody>
                <tfoot></tfoot>
            </table>
        </div>
    </div>
</div>
{% endif %}


<div>
    <a href="javascript:history.go(0)" class="btn btn-small btn-primary dark"><i class="fa fa-refresh"></i> Refresh</a>

</div>


<!-- The sample submit Modal -->
<div class="modal fade" id="id_workflow_modal">
	<div class="modal-dialog workflow-dialog">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header alert alert-warning">
                <h4 class="modal-title-submit">Available Workflow List</h4>
			</div>

            <div class="modal-body workflow-modal-body">
                <div id="workflow-list">
                    {% if workflows %} 
                        {% for workflow in workflows %}
                            <div class="workflow-container">
                                <button class="add-to-project-button" onclick="addToProject('{{ workflow.pk }}', '{{teleflu_project_pk}}')" url="{% url 'add_workflow_to_project' %}" csrf = "{{ csrf_token }}" >Add to project</button>
                                <div class="workflow-title">
                                    <span class="workflow-name">Workflow {{ workflow.node }}</span>
                                </div>
                                <div class="step-container">

                                {% for step in workflow.modules %}
                                    <span class="step-circle {{ step.available }}" title="{{ step.module }}" data-parameters="{{ step.parameters }}" onclick="showParameters(this)">{{ step.short_name }}</span>
                                    <div class="parameters-container" ></div>
                                {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p class="no-workflows">No new workflows available. Change Televir Project settings to add new workflows.</p>
                    {% endif %}
                </div>
            </div>
			<!-- Modal footer -->
			<div class="modal-footer" id="id-modal-footer-remove">
				<button id="id-cancel-button" type="button" class="btn btn-secondary" data-dismiss="modal"
					aria-hidden="true">Cancel</button>
			</div>
		</div>
	</div>
</div>

<!-- the map workflows modal !-->
<div class="modal fade" id="id_map_workflow_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header alert alert-warning">
                <h4 class="modal-title-submit">Map Workflows</h4>
            </div>
            <!-- Modal body -->
            <div class="modal-body mx-auto mw-100">
                <div id="id-modal-map-workflow-sample" remove-single-value-url="{% url 'remove_consensus_in_dataset' %}">
                    <label id="id-label-map-workflow" class="col-form-label">Folder Name</label>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer" id="id-modal-footer-remove">
                <button id="id-cancel-button" type="button" class="btn btn-secondary" data-dismiss="modal"
                    aria-hidden="true">Cancel</button>
                <button id="id-map-button" type="button" class="btn btn-primary" data-dismiss="modal" utl="{% url 'map_workflow_to_samples' %}"
                    aria-hidden="true">Map</button>
            </div>
        </div>
    </div>
</div>

<!-- the insaflu project modal -->
<div class="modal fade" id="id_insaflu_project_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header alert alert-warning">
                <h4 class="modal-title-submit">Link to INSaFLU</h4>
            </div>
            <!-- Modal body -->
            <div class="modal-body mx-auto mw-100">
                <div id="id-modal-map-workflow-sample">
                    <label id="id-label-map-workflow" class="col-form-label">Create INSaFLU Project?</label>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer" id="id-modal-footer-remove">
                <button id="id-cancel-button" type="button" class="btn btn-secondary" data-dismiss="modal"
                    aria-hidden="true">Cancel</button>
                <button id="id-insaflu-button" type="button" class="btn btn-primary" data-dismiss="modal" utl="{% url 'teleflu_televir_connect' %}"
                    aria-hidden="true" csrf= "{{ csrf_token }}" project-id='{{ teleflu_project_pk }}' >Create</button>
            </div>
        </div>
    </div>
</div>



{% endblock content %}

{% block js %}

{% load static %}

<script type="text/javascript" src="{% static 'js/televir_projects/teleflu_main.js' %}"></script>

<script> 

    $(document).ready(function() {

        load_teleflu_workflows();
        buttons_background();

    });

</script>

{% endblock js %}
