{% extends '_layouts/base.html' %}

{% load bootstrap4 %}
{% load querystring from django_tables2 %}

{% load trans blocktrans from i18n %}
{% load view_breadcrumbs %}
{% load static %}
{% load custom_tags %}


{% block extra_messages %}
<!-- set the messages -->
<div class="container">
	<div id="id_messages_remove"></div>
</div>
{% endblock %}

{% block extra_nav %}
<nav class="nav-style">
    <ul style="list-style-type: none; margin: 0; padding: 0; overflow: hidden;">
        <li style="float: left; margin-right: 20px; margin-left: 15px; padding: 10px 0;" class="tab" ><a href="{% url 'televir_reference_files' %}" style="font-size: 18px;">Files</a></li>
        <li style="float: left; margin-right: 20px; padding: 10px 20px;" class="tab header active" ><a href="{% url 'televir_references' %}" style="font-size: 18px;">References</a></li>
        <li style="float: left; margin-right: 20px; padding: 10px 0;" class="tab" ><a href="{% url 'reference_panels' %}" style="font-size: 18px;">Panels</a></li>
    </ul>
</nav>
{% endblock %}


{% block content %}


<style>

    .summary-section {
        margin-top: 60px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
        margin-bottom: 20px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }
    
    .summary-item {
        display: flex; /* Enables flexbox */
        margin-bottom: 10px; /* Adds space between items */
    }
    
    .summary-item span {
        font-weight: bold;
        margin-right: 5px; /* Adds space between the label and its value */
        min-width: 150px; /* Ensures labels have enough space and are aligned */
    }
    
    .summary-item:last-child {
        margin-bottom: 0; /* Removes bottom margin from the last item */
    }

</style>


{% block extra_head %}

    <link rel="stylesheet" href="{% static 'css/televir_references_nav.css' %}">
{% endblock %}


{% if reference_update_running %}
<div class="alert alert-warning" role="alert">
    <strong>Reference update is currently running.</strong> Please wait until it finishes before deploying pathogen identification
</div>
{% endif %}

<!-- Adjusted Summary Section with Flexbox -->
<div class="container-fluid">
    <div class="row">
        <!-- Summary Section -->
        <div class="col-md-4">
            <div class="summary-section">
                <!-- Flex container for each label-value pair -->
                <div class="summary-item"><span>Total:</span> {{ summary.total }}</div>
                <div class="summary-item"><span>Accession ID:</span> {{ summary.accession_id }}</div>
                <div class="summary-item"><span>TaxID:</span> {{ summary.taxID }}</div>
                <div class="summary-item"><span>Sources:</span> {{ summary.Source }}</div>
            </div>
        </div>

        <!-- Table Section -->
        <div class="col-md-8">
            <div class="table-responsive">
                <table class="table table-hover table-bordered table-striped" {% if files_table.attrs %}z
                        {{ files_table.attrs.as_html }}{% endif %}>
                        {% block table.thead %}
                        <thead>
                        <tr>
                            <th colspan="11">
                                <form method="get" class="form-inline form-search pull-right">
                                    {% csrf_token %}
                                    <input id="search_form_id" name="search_references" type="text" class="form-control col-md-8"
                                        placeholder="Reference Name, Taxid, Accid, Source" {% if search_references %}
                                        value="{{ search_references }}" {% endif %}>
                                    <button type="submit" class="btn btn-small btn-dark"><i class="fa fa-search"></i>
                                        Search</button>
                                </form>
                            </th>
                        </tr>
                        <tr>
                            {% for column in files_table.columns %}
                            {% if column.orderable %}
                                <th {{ column.attrs.th.as_html }}><a href="{% querystring files_table.prefixed_order_by_field=column.order_by_alias.next %}">{{ column.header }}</a></th>
                            {% else %}
                                <th {{ column.attrs.th.as_html }}>{{ column.header }}</th>
                            {% endif %}                    
                            {% endfor %}
                        </tr>
                    </thead>
                    {% endblock table.thead %}
                    {% block table.tbody %}
                    <tbody>
                        {% for row in files_table.page.object_list|default:files_table.rows %} {# support pagination #}
                          {% block table.tbody.row %}
                          <tr id="row_{{ row.record.id }}" class="{% cycle "odd" "even" %}">
                            {% for column, cell in row.items %}
                              <td {{ column.attrs.td.as_html }}>{{ cell }}</td>
                            {% endfor %}
                          </tr>
                          {% endblock table.tbody.row %}
                        {% empty %}
                          {% if files_table.empty_text %}
                          {% block table.tbody.empty_text %}
                              <tr><td colspan="{{ files_table.columns|length }}">{{ files_table.empty_text }}</td></tr>
                          {% endblock table.tbody.empty_text %}
                          {% endif %}
                        {% endfor %}
                    </tbody>
                    {% endblock table.tbody %}
                </table>
            </div>

            {% if files_table.page and show_paginatior %}
                {% block pagination %}
                <label id="id-total-list" class="pull-right"> Total references: {{ query_set_count }}</label>
                {% bootstrap_pagination files_table.page url=request.get_full_path %}
                {% endblock pagination %}

                {% else %}
                <label id="id-total-list" class="pull-right">Total references: {{ query_set_count }}</label>
            {% endif %}



        </div>
    </div>
</div>


<!-- The create insaflu reference -->
<div class="modal fade" id="create_teleflu_reference">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Create INSaFLU Reference</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
			<!-- Modal body -->
			<div class="modal-body mx-auto mw-100">
				<div id="id-modal-body-insaflu-ref" ref-single-value-url="{% url 'create_teleflu_reference' %}">
					<label id="id-label-ref" class="col-form-label">Folder Name</label>
				</div>
			</div>
			<!-- Modal footer -->
			<div class="modal-footer" id="id-modal-footer-insaflu-ref">
				<button id="id-create-button" type="button" class="btn btn-primary" data-dismiss="modal" user-id= "{{ user_id }}">Create</button>
				<button id="id-cancel-button" type="button" class="btn btn-secondary" data-dismiss="modal"
					aria-hidden="true">Cancel</button>
			</div>
		</div>
	</div>
</div>

{% endblock content %}


{% block js %}

<script> 
    $(document).ready(function() {
        $('.add_teleflu_reference').click(function() {
            var ref_id = $(this).attr('ref_id');
            var ref_acc = $(this).attr('ref_accid');

            $('#id-label-ref').text('Create INSaFLU Reference Accession ID: ' + ref_acc + ' ?');
            $('#id-modal-body-insaflu-ref').attr('ref_id', ref_id);
            $('#create_teleflu_reference').modal('show');
        });

        $('#id-create-button').click(function() {
            var ref_id = $('#id-modal-body-insaflu-ref').attr('ref_id');
            var url = $('#id-modal-body-insaflu-ref').attr('ref-single-value-url');
            var user_id = $("#id-create-button").attr('user-id');

            $.ajax({
                url: url,
                type: 'POST',
                data: {
                    'user_id': user_id,
                    'ref_id': ref_id,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(data) {
                    console.log(data);
                    if (data['is_ok'] == true) {
                        if (data['exists'] == true) {
                            alert('Reference already exists');
                        } else {
                            alert('Reference creation submitted');
                            location.reload();
                        } 
                        
                    } else {
                        alert('Error: ' + data['message']);
                    }
                },
                error: function(data) {
                    console.log(data);
                    alert('Error: ' + data['message']);
                }
            });
        });

    });



</script>
{% endblock %}