{% extends '_layouts/base.html' %}

{% load bootstrap4 %}
{% load querystring from django_tables2 %}
{% load title from django_tables2 %}
{% load trans blocktrans from i18n %}
{% load django_bootstrap_breadcrumbs %}
{% load static %}
{% load custom_tags %}


{% block extra_messages %}
<!-- set the messages -->
<div class="container">
	<div id="id_messages_remove"></div>
</div>
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Project Index" "project-index" %}
{% breadcrumb "TELEVIR Projects" "PIprojects_main" %}
{% breadcrumb "Manage References" "" %}
{% endblock %}


{% block extra_nav %}
<nav class="nav-style">
    <ul style="list-style-type: none; margin: 0; padding: 0; overflow: hidden;">
        <li style="float: left; margin-right: 10px;" class="tab active" ><a href="{% url 'televir_reference_files' %}">Files</a></li>
        <li style="float: left; margin-right: 10px;" class="tab" ><a href="{% url 'televir_references' %}">References</a></li>
        <li style="float: left; margin-right: 10px;" class="tab" ><a href="{% url 'reference_panels' %}">Panels</a></li>
    </ul>
</nav>
{% endblock %}


{% block content %}


<style>

    .nav-style {
        border-radius: 5px;
        background-color: #f8f9fa;
        padding: 10px;
        margin-left: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
    }

    .tab {
        border-radius: 5px;
        background-color: #f8f9fa;

    }

 
    ul li.active {
        background-color: #007bff; /* Light, desaturated blue */
        color: white; /* Font color */
       
        padding: 2px; /* Padding */
    }

    ul li.active a {
        background-color: #007bff; /* Light, desaturated blue */
        color: white; /* Font color */
       
        padding: 2px; /* Padding */
    }


    #id_remove_modal .modal-dialog {
        max-width: 800px; /* Or any other value */
    }
</style>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th colspan="11">
                    <a href="{% url 'upload_reference_panel_view' %}" class="btn  btn-small btn-primary dark">Upload Reference Panel</a>
                </th>
            </tr>


           <tr>
                {% for column in files_table.columns %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for file in files_table.page.object_list %}
                <tr>
                    {% for column, value in file.items %}
                        <td class={{column}}> {{ value}} </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% if files_table.page and show_paginatior %}
{% block pagination %}
<label id="id-total-list" class="pull-right"> Total files: {{ query_set_count }}</label>
{% bootstrap_pagination files_table.page url=request.get_full_path %}
{% endblock pagination %}
{% else %}
<label id="id-total-list" class="pull-right">Total files: {{ query_set_count }}</label>
{% endif %}


<!-- The remove Modal -->
<div class="modal fade" id="id_remove_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Remove Reference Panel</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
			<!-- Modal body -->
			<div class="modal-body mx-auto mw-100">
				<div id="id-modal-body-remove-sample" remove-single-value-url="{% url 'remove_televir_project' %}">
					<label id="id-label-remove" class="col-form-label">Folder Name</label>
				</div>
			</div>
			<!-- Modal footer -->
			<div class="modal-footer" id="id-modal-footer-remove">
				<button id="id-remove-button" type="button" class="btn btn-primary" data-dismiss="modal">Remove</button>
				<button id="id-cancel-button" type="button" class="btn btn-secondary" data-dismiss="modal"
					aria-hidden="true">Cancel</button>
			</div>
		</div>
	</div>
</div>

{% endblock content %}


{% block js %}
    {% load static from staticfiles %}
    <script type="text/javascript">

        $(".remove_file").on('click', function(){
            console.log('remove file');
            var file_name = $(this).attr('file-name');
            var file_pk = $(this).attr('pk');
            console.log(file_name);
            var remove_single_value_url = $(this).attr('remove-single-value-url');
            $("#id-modal-body-remove-sample").html('<label id="id-label-remove" class="col-form-label">Remove file: '+file_name+'?</label>');
            $("#id-modal-body-remove-sample").attr('file_pk', file_pk);
            $("#id-remove-button").attr('remove-single-value-url', remove_single_value_url);
            $("#id_remove_modal").modal('show');
        });

        $("#id-remove-button").on('click', function(){
            var remove_single_value_url = $(this).attr('remove-single-value-url');
            var file_pk = $("#id-modal-body-remove-sample").attr('file_pk');
            console.log('remove file');
            console.log(file_pk);
            console.log(remove_single_value_url);
            $.ajax({
                url: remove_single_value_url,
                type: 'POST',
                data: {
                    'file_id': file_pk,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(data){
                    if (data["is_ok"] == true){
                        location.reload();
                    } else {
                        alert(data["message"]);
                    }
                }
            });
        });

    </script>

{% endblock js %}