{% extends '_layouts/base.html' %}

{% load bootstrap4 %}
{% load querystring from django_tables2 %}
{% load title from django_tables2 %}
{% load trans blocktrans from i18n %}
{% load django_bootstrap_breadcrumbs %}
{% load static %}


{% block extra_messages %}
	<!-- set the messages -->
	<div class="container">
		<div id="id_messages_remove"></div>
	</div>
{% endblock %}

{% block breadcrumbs %}
{{block.super}}
{% breadcrumb "Project Index" "project-index" %}
{% breadcrumb "TELEVIR Projects" "PIprojects_main"  %}
{% breadcrumb project_name "PIproject_samples"  pk=project_index  %}
{% breadcrumb focus_teleflu "" %}
{% endblock %}


{% block content %}

<style>
    .modal-title-description {
        font-size: 18px;
        color: #666;
        display: block;
    }

    .workflow-container {
        border: 1px solid #eee; /* Even lighter gray */
        padding: 10px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        border-radius: 5px;
        background-color: #f9f9f9; /* Subtle background color */
    }
    .workflow-name {
        margin-left: 10px;
        margin-right: 20px;
        align-self: center;
    }
    .outer-container {
        margin-bottom: 20px; /* Adjust as needed */
    }
    
    .step-circle {
        display: center;
        float: right;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        line-height: 40px; /* Equal to the height */
        text-align: center;
        background-color: #ccc;
        margin-right: 10px;
        margin-left: 5px;
        cursor: pointer;
        font-weight: bold;
        align-items: center;
    }

    .step-circle-display {
        position: relative;
        display: center;
        float: right;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        line-height: 40px; /* Equal to the height */
        text-align: center;
        background-color: #ccc;
        margin-right: 10px;
        margin-left: 5px;
        cursor: pointer;
        font-weight: bold;
        align-items: center;
    }


    .software_off {
        background-color: #ccc;
    }

    .software_on {
        background-color: #007bff;
        color: white;
    }

    .workflow-title {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background-color: #f5f5f5; /* Light gray background */
        border-radius: 5px;
        margin-bottom: 0px;
        margin-right: 20px;
    }
    
    .workflow-name {
        font-size: 1.2em;
        font-weight: bold;
        width: 120px;

    }
    .step-container {
        display: flex;
        justify-content: flex-start; /* Align items to the start of the container */
        align-items: center;
        padding: 5px;
        border-right: 2px solid #e0e0e0; /* Even lighter gray */
        padding-right: 10px;
        margin-right: 20px;
    }

    .workflow-info {
        border-right: 2px solid #e0e0e0; /* Even lighter gray */
        padding: 5px;
        padding-right: 25px;
        margin-right: 20px;
    }
    
    
    .parameters-container {
        border-radius: 5px;
        background-color: #e0e0e0; /* Light gray background */
        transition: opacity 0.5s ease-in-out, width 0.5s ease-in-out;
        opacity: 0;
        max-width: 0;
        overflow: hidden;
        white-space: nowrap; /* Prevent the text from wrapping */
    }

    .parameters-container.visible {
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 10px; /* Adjust as needed */
        margin-left: 10px; /* Adjust as needed */
    }

    .parameters-container-hover {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        border-radius: 5px;
        border: 2px solid #ccc;
        background-color: #e0e0e0; /* Light gray background */
        transition: opacity 0.5s ease-in-out, width 0.5s ease-in-out;
        overflow: hidden;
        white-space: nowrap; /* Prevent the text from wrapping */
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 10px; /* Adjust as needed */
        margin-left: 10px; /* Adjust as needed */
        top: 50%;
        left: 50%;
        transform: translate(0%, -0%);
        /* other styles... */
        z-index: 1; /* Ensure it appears above the step-circle-display */

    }


    .workflow-dialog {
        max-width: 90%; /* Adjust as needed */
    }

    .workflow-modal-body {
        margin-left: 10px;
    }

    .workflow-mapped {
        align-self: center;
        background-color: #b3b3b3;
        border: none;
        color: #000;
        text-align: center;
        text-decoration: none;
        margin: 0px 5px;
        margin-right: 10px;
        padding: 8px 8px;
        border-radius: 5px;
        font-size: 14px;
        font-weight: bold;
        font-family: Arial, sasns-serif;
    }

    .stackSamplesButton {
        
        justify-content: center;
        margin-right: 5px;
        background-color: #e0e0e0; /* Green background */
        border-radius: 50%; /* Make it circular */
        color: #007bff; /* White icon */
        padding: 10px; /* Space around the icon */
        cursor: pointer; /* Change cursor to pointer when hovering over the icon */
        transition: background-color 0.3s ease; /* Smooth transition */
    }
    
    .stackSamplesButton:hover {
        background-color: #b3b3b3; /* Darker green background when hovering */
    }

    .stackSamplesIGV {
        
        justify-content: center;
        margin-right: 5px;
        background-color: #e0e0e0; /* Green background */
        border-radius: 50%; /* Make it circular */
        color: #007bff; /* White icon */
        padding: 10px; /* Space around the icon */
        cursor: pointer; /* Change cursor to pointer when hovering over the icon */
        transition: background-color 0.3s ease; /* Smooth transition */
    }
    
    .stackSamplesIGV:hover {
        background-color: #b3b3b3; /* Darker green background when hovering */
    }

    
</style>


<div class="outer-container">
    <button id="open-modal-button" type="button" class="btn btn-primary" data-toggle="modal" data-target="#id_workflow_modal">
        Add Workflow
    </button>
    {% if insaflu_connection_exists == False %}
    <button id="open-insaflu-modal" type="button" class="btn btn-primary" data-toggle="modal" data-target="#id_insaflu_project_modal">
        <i class="fa fa-external-link-square" aria-hidden="true"></i> INSaFLU
    </button>
    {% endif %}
    <br>
    <br>
    <h3 class="title">Workflow List</h3>
    <div id="workflow-list">

    </div>
</div>

<div class="table-container">

    {% if insaflu_connection_exists %}
    <h3 class="table-title"> Insaflu  </h3>
    
    <div class="table-responsive">
        <table class="table table-hover table-bordered table-striped" {% if insaflu_table.attrs %}z
            {{ insaflu_table.attrs.as_html }}{% endif %}>
            <thead>
                <tr>
                    {% for column in insaflu_table.columns %}
                    {% if column.orderable %}
                        <th {{ column.attrs.th.as_html }}><a href="{% querystring insaflu_table.prefixed_order_by_field=column.order_by_alias.next %}">{{ column.header|title }}</a></th>
                    {% else %}
                        <th {{ column.attrs.th.as_html }}>{{ column.header|title }}</th>
                    {% endif %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in insaflu_table.page.object_list|default:insaflu_table.rows %} {# support pagination #}
                  {% block insaflu_table.tbody.row %}
                  <tr id="row_{{ row.record.id }}" class="{% cycle "odd" "even" %}">
                    {% for column, cell in row.items %}
                      <td {{ column.attrs.td.as_html }}>{{ cell }}</td>
                    {% endfor %}
                  </tr>
                  {% endblock insaflu_table.tbody.row %}
                {% empty %}
                  {% if insaflu_table.empty_text %}
                  {% block insaflu_table.tbody.empty_text %}
                      <tr><td colspan="{{ insaflu_table.columns|length }}">{{ insaflu_table.empty_text }}</td></tr>
                  {% endblock insaflu_table.tbody.empty_text %}
                  {% endif %}
                {% endfor %}
            </tbody>
            <tfoot></tfoot>
        </table>
    </div>
    {% endif %}

    <a href="javascript:history.go(0)" class="btn btn-small btn-primary dark"><i class="fa fa-refresh"></i> Refresh</a>

</div>


<!-- The sample submit Modal -->
<div class="modal fade" id="id_workflow_modal">
	<div class="modal-dialog workflow-dialog">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header alert alert-warning">
                <h4 class="modal-title-submit">Available Workflow List</h4>
			</div>

            <div class="modal-body workflow-modal-body">
                <div id="workflow-list">
                    {% for workflow in workflows %}
                        <div class="workflow-container">
                            <button class="add-to-project-button" onclick="addToProject('{{ workflow.pk }}', '{{teleflu_project_pk}}')" url="{% url 'add_workflow_to_project' %}" csrf = "{{ csrf_token }}" >Add to project</button>
                            <div class="workflow-title">
                                <span class="workflow-name">Workflow {{ workflow.node }}</span>
                            </div>
                            <div class="step-container">

                            {% for step in workflow.modules %}
                                <span class="step-circle {{ step.available }}" title="{{ step.module }}" data-parameters="{{ step.parameters }}" onclick="showParameters(this)">{{ step.short_name }}</span>
                                <div class="parameters-container" ></div>
                            {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
			<!-- Modal footer -->
			<div class="modal-footer" id="id-modal-footer-remove">
				<button id="id-cancel-button" type="button" class="btn btn-secondary" data-dismiss="modal"
					aria-hidden="true">Cancel</button>
			</div>
		</div>
	</div>
</div>

<!-- the map workflows modal !-->
<div class="modal fade" id="id_map_workflow_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header alert alert-warning">
                <h4 class="modal-title-submit">Map Workflows</h4>
            </div>
            <!-- Modal body -->
            <div class="modal-body mx-auto mw-100">
                <div id="id-modal-map-workflow-sample" remove-single-value-url="{% url 'remove_consensus_in_dataset' %}">
                    <label id="id-label-map-workflow" class="col-form-label">Folder Name</label>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer" id="id-modal-footer-remove">
                <button id="id-cancel-button" type="button" class="btn btn-secondary" data-dismiss="modal"
                    aria-hidden="true">Cancel</button>
                <button id="id-map-button" type="button" class="btn btn-primary" data-dismiss="modal" utl="{% url 'map_workflow_to_samples' %}"
                    aria-hidden="true">Map</button>
            </div>
        </div>
    </div>
</div>

<!-- the insaflu project modal -->
<div class="modal fade" id="id_insaflu_project_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header alert alert-warning">
                <h4 class="modal-title-submit">Link to INSaFLU</h4>
            </div>
            <!-- Modal body -->
            <div class="modal-body mx-auto mw-100">
                <div id="id-modal-map-workflow-sample">
                    <label id="id-label-map-workflow" class="col-form-label">Create INSaFLU Project?</label>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer" id="id-modal-footer-remove">
                <button id="id-cancel-button" type="button" class="btn btn-secondary" data-dismiss="modal"
                    aria-hidden="true">Cancel</button>
                <button id="id-insaflu-button" type="button" class="btn btn-primary" data-dismiss="modal" utl="{% url 'teleflu_televir_connect' %}"
                    aria-hidden="true">Create</button>
            </div>
        </div>
    </div>
</div>



{% endblock content %}

{% block js %}

{% load static from staticfiles %}

<script>

    var load_teleflu_workflows = function() {
        var csrf = '{{ csrf_token }}';
        $.ajax({
            url: '{% url "load_teleflu_workflows" %}',
            type: 'GET',
            data : {
                project_id: '{{ teleflu_project_pk }}',
                csrfmiddlewaretoken: csrf
            },
            success: function(data) {
                data.mapping_workflows.forEach(function(workflow) {
                    var workflowContainer = $('<div>').addClass('workflow-container workflow-main').attr('project_id', data.teleflu_project_pk).attr('csrf', csrf);
    
                    var workflowTitle = $('<div>').addClass('workflow-title');
                    var workflowName = $('<span>').addClass('workflow-name').text('Workflow ' + workflow.node);
                    workflowTitle.append(workflowName);
        
                    var stepContainer = $('<div>').addClass('step-container');
                    workflow.modules.forEach(function(step) {
                        var stepCircleDisplay = $('<div>').addClass('step-circle-display ' + step.available).attr('title', step.module).attr('data-parameters', step.parameters).text(step.short_name);
                        var parametersContainerHover = $('<div>').addClass('parameters-container-hover');
                        stepCircleDisplay.append(parametersContainerHover);
                        stepContainer.append(stepCircleDisplay);
                    });
        
                    var workflowInfo = $('<div>').addClass('workflow-info clearfix');
                    var workflowMapped = $('<span>').addClass('workflow-mapped').text(workflow.samples_mapped + ' / ' + data.project_nsamples);
                    var mapSamplesButton = $('<button>').attr('workflow', workflow.node).attr('workflow-id', workflow.pk).attr('type', 'button').addClass('mapSamplesButton btn btn-primary').attr('data-toggle', 'modal').attr('data-target', '#id_map_workflow_modal').text('Map Samples');
                    workflowInfo.append(workflowMapped, mapSamplesButton);
        
                    var mappingIgv = $('<div>').addClass('mapping-igv');

                    if (workflow.samples_to_stack) {
                        var stackSamplesButton = $('<i>').attr('workflow', workflow.node).attr('workflow-id', workflow.pk).addClass('stackSamplesButton stack-deploy fa fa-flask').attr('data-toggle', 'modal').attr('data-target', '#id_workflow_analysis').attr('url', "{% url 'stack_igv_teleflu_workflow' %}");
                        mappingIgv.append(stackSamplesButton);
                    } else {
                        var stackSamplesButton = $('<i>').addClass('stackSamplesButton fa fa-flask').css('color', '#b3b3b3');
                        mappingIgv.append(stackSamplesButton);
                    }
        
                    if (workflow.stacked_html_exists) {
                        var stackSamplesIgv = $('<a>').attr('href', workflow.stacked_html).addClass('stackSamplesIGV fa fa-eye').attr('target', '_blank').attr('title', 'Stacked IGV');
                        mappingIgv.append(stackSamplesIgv);
                    }
        
        
                    workflowContainer.append(workflowTitle, stepContainer, workflowInfo, mappingIgv);
        
                    $('#workflow-list').append(workflowContainer); // Append the new div to the body
                });

                $(".mapSamplesButton").click(function () {
                    var workflow= $(this).attr('workflow');
                    var workflow_id= $(this).attr('workflow-id');
                    $('#id-label-map-workflow').text('Map Samples to Workflow ' + workflow + '?');
                    $('#id-map-button').attr('workflow', workflow_id);            
                });
        
                $('.stack-deploy').click(function() {
                    var project_id = $('.workflow-main').attr('project_id');
                    var workflow_id = $(this).attr('workflow-id');
                    var url = $(this).attr('url');
        
                    console.log(project_id, workflow_id, url);
        
                    $.ajax({
                        url: url,
                        type: 'POST',
                        data: {
                            project_id: project_id,
                            workflow_id: workflow_id,
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        success: function(data) {
                            if (data['is_ok'] === true) {
                                location.reload();
                            } else if (data['running'] === true) {
                                alert('Stacked Samples creation is running');
                            } else if (data['exists'] === true) {
                                alert('Stacked Samples already exists');
                            } else {
                                alert('Error creating stacked samples');
                            }
                        }
                    });
                });
        


            }
        });
    };


    $(document).ready(function() {

        load_teleflu_workflows();



        $("#id-insaflu-button").click(function () {
            var url = $(this).attr('utl');
            var project_id = $('.workflow-main').attr('project_id');
            var csrf = $('.workflow-main').attr('csrf');
            var data = {
                'project_id': project_id,
                'csrfmiddlewaretoken': csrf,
            };
            $.ajax({
                type: "POST",
                url: url,
                data: data,
                success: function (data) {
                    if (data["is_ok"] === true) {
                        alert('INSaFLU Project linked');
                        location.reload();
                    } else if (data["exists"] === true) {
                        alert('INSaFLU Project already exists');
                    } else {
                        alert('Error linking INSaFLU Project');
                    }
                }
            });
        });

            
        $(".mapSamplesButton").click(function () {
            var workflow= $(this).attr('workflow');
            var workflow_id= $(this).attr('workflow-id');
            $('#id-label-map-workflow').text('Map Samples to Workflow ' + workflow + '?');
            $('#id-map-button').attr('workflow', workflow_id);            
        });

        

        $("#id-map-button").click(function () {

            var workflow= $(this).attr('workflow');
            var url = $(this).attr('utl');
            var project_id = $('.workflow-main').attr('project_id');
            var csrf = $('.workflow-main').attr('csrf');
            var data = {
                'workflow_id': workflow,
                'project_id': project_id,
                'csrfmiddlewaretoken': csrf,
            };
            $.ajax({
                type: "POST",
                url: url,
                data: data,
                success: function (data) {
                    if (data["is_ok"] === true) {
                        alert('Workflow mapped to project');
                        location.reload();
                    } else if (data["is_empty"] === true) {
                        alert('All Samples Mapped.');
                    } else {
                        alert('Error mapping workflow to project');
                    }
                }
            });
        });
    });

    function showParametersHover(element) {
        var parameters = element.getAttribute('data-parameters');
        var parametersContainer = element.querySelector('.parameters-container-hover');
    
        parametersContainer.innerHTML = parameters;
    
        // Toggle visibility
        if (parametersContainer.style.display === 'none' || parametersContainer.style.display === '') {
            parametersContainer.style.display = 'block';
        } else {
            parametersContainer.style.display = 'none';
        }
    }

    function showParameters(element) {
        var parameters = element.getAttribute('data-parameters');
        var parametersContainer = element.nextElementSibling;
    
        // If the parameters are already displayed, hide them
        if (parametersContainer.style.opacity == 1) {
            parametersContainer.style.opacity = 0;
            parametersContainer.style.maxWidth = '0';
            parametersContainer.classList.remove('visible');
        }
        // Otherwise, display the parameters
        else {
            parametersContainer.innerHTML = parameters;
            parametersContainer.style.opacity = 1;
            parametersContainer.style.maxWidth = '1000px'; // Adjust this value as needed
            parametersContainer.classList.add('visible');
        }
    }

    var addToProject = function (workflow, project_id) {
        var url = $('.add-to-project-button').attr('url');
        var csrf= $('.add-to-project-button').attr('csrf');

        var data = {
            'leaf_id': workflow,
            'project_id': project_id,
            'csrfmiddlewaretoken': csrf,
        };
        console.log(url, csrf)
        $.ajax({
            type: "POST",
            url: url,
            data: data,
            success: function (data) {
                if (data["is_ok"] === true) {
                    alert('Workflow added to project');
                    location.reload();
                } else if (data["exists"] === true) {
                    alert('Workflow already exists in project');
                } else {
                    alert('Error adding workflow to project');
                }
            }
        });
    }

</script>

{% endblock js %}
