{% extends '_layouts/base.html' %}

{% load crispy_forms_tags %}

{% block css %}

	{% load static from staticfiles %}
		<link rel="stylesheet" href="{% static 'django_modalview/css/modal.css' %}" type="text/css" />
		<link rel="stylesheet" href="{% static 'css/flu-web-site.css' %}" type="text/css" />
{% endblock css %}

{% block header %}
	<div class="page-header rounded-header">
    	<h1>Create new sample</h1>
	</div>
{% endblock  %}

{% block content %}
	{% crispy form %} 
{% endblock %}

 {% block js %}
 	 {% load static from staticfiles %}
 	 		<!-- Custom scripts for all pages-->
	    	<script type="text/javascript" src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
	    	<script type="text/javascript" src="{% static 'js/flu-web-site.js' %}"></script>
     		<script type="text/javascript" src="{% static 'django_modalview/js/django_modal_view.js' %}"></script>
     		<script type="text/javascript" src="{% static 'django_modalview/js/jquery.form.js' %}></script>
 {% endblock %}

