{% extends '_layouts/base.html' %}

{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block css %}
{% endblock css %}

<!-- Breadcrumbs-->
{% block breadcrumbs %}
	{{ block.super }}
	{% breadcrumb "Samples" "samples" %}
	{% breadcrumb "Sample details" "sample-description" %}
{% endblock %}

<!-- https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Generic_views -->
{% block content %}
	{% if error_cant_see %}
		<hr>
		<p><strong>Sample not available</strong></p>
	{% else %}
		<div class="container-fluid">
			<hr>
			<div class="row">
				<div class="col-lg-3"><strong>Name:</strong> {{ sample.name }}</div>
			  	<div class="col-lg-3"><strong>Onset Date:</strong> {{ sample.date_of_onset|date }}</div>
			  	<div class="col-lg-3"><strong>Collection Date:</strong> {{ sample.date_of_collection|date }}</div>
			  	<div class="col-lg-3"><strong>Reception Date:</strong> {{ sample.date_of_receipt_lab|date }}</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-lg-3"><strong>Week:</strong> {{ sample.week }}</div> <!-- author detail link not yet defined -->
			  	<div class="col-lg-3"><strong>Vaccine status:</strong> {{ sample.vaccine_status.name }}</div>
			  	<div class="col-lg-3"><strong>Data set:</strong> {{ sample.data_set.name }}</div>
			  	<div class="col-lg-3"><strong>Is obsolete:</strong> {{ sample.is_obsolete }}</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-lg-3"><strong>Upload date:</strong> {{ sample.creation_date|date }}</div>
			  	<div class="col-lg-3"><strong>Geolocation pos.(Lat, Lng):</strong> {{ sample.geo_local.coords }}</div>
			  	<div class="col-lg-3"><strong>Type and subtype/lineage:</strong> {{ sample.type_subtype }}</div>
			  	<div class="col-lg-3"><strong>Owner:</strong> {{ sample.owner.username }}</div>
			</div>
			<hr>
			
			<!-- NAV tabs -->
			<div class="container">
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item active"><a class="nav-link fa fa-align-justify" href="#original_fastq" role="tab" data-toggle="tab" > Original fastq</a></li>
					<li class="nav-item"><a class="nav-link fa fa-align-center" href="#trimmomatic" role="tab" data-toggle="tab"> Quality processed reads</a></li>
					<li class="nav-item"><a class="nav-link fa fa-list" href="#virus_identification" role="tab" data-toggle="tab"> Type and subtype/lineage detection</a></li>
				</ul>
	
				<div class="tab-content">
					<div id="original_fastq" role="tabpanel" class="tab-pane fade active box-blue">
						<p class="title-box">Original fastq files and quality result</p>
						{% if candidate_file_name_1 %}
							<div class="row">
								<div class="col-lg-6"><strong>Candidate fastq 1:</strong> {{ candidate_file_name_1 }}</div>
					  			<div class="col-lg-6"><strong>Candidate fastq 2:</strong> {{ candidate_file_name_2 }}</div>
					  		</div>
					  		<hr>
						{% endif %}
						<div class="row">
							<div class="col-lg-6"><strong>Original fastq 1:</strong> {{ href_fastq_1 }}</div>
				  			<div class="col-lg-6"><strong>Original fastq 2:</strong> {{ href_fastq_2 }}</div>
				  		</div>
				  		<hr>
				  		<div class="row">
							<div class="col-lg-6"><strong>Original fastq quality 1:</strong> {{ href_fastq_quality_1 }}</div> 
				  			<div class="col-lg-6"><strong>Original fastq quality 2:</strong> {{ href_fastq_quality_2 }}</div>
				  		</div>
				  		<hr>
				  		<p class="software"><strong>Software version: </strong>{{ fastq_software }}</p>
					</div>
					<div id="trimmomatic" role="tabpanel" class="tab-pane fade box-blue">
			    		<p class="title-box">Trimmomatic result and quality resul</p>
			    		<div class="row">
							<div class="col-lg-6"><strong>Trimmomatic fastq 1:</strong> {{ href_trimmonatic_1 }}</div>
				  			<div class="col-lg-6"><strong>Trimmomatic fastq 2:</strong> {{ href_trimmonatic_2 }}</div>
				  		</div>
				  		<hr>
				  		<div class="row">
							<div class="col-lg-6"><strong>Trimmomatic fastq quality 1:</strong> {{ href_trimmonatic_quality_1 }}</div>
							<hr>
				  			<div class="col-lg-6"><strong>Trimmomatic fastq quality 2:</strong> {{ href_trimmonatic_quality_2 }}</div>
				  		</div>
				  		<hr>
				  		<p class="software"><strong>Software version: </strong> {% if trimmomatic_software %} {{ trimmomatic_software }}/{{ fastq_software }} {% endif %}</p>
			  		</div>
					<div id="virus_identification" role="tabpanel" class="tab-pane fade box-blue">
						<p class="title-box">Identifying virus with Sapdes and Abricate</p>
						
						{% for identify_virus in sample.identify_virus.all %}
							<div class="row">
								<div class="col-lg-2"><strong>Type:</strong> {{ identify_virus.seq_virus.kind_type.name }}</div>
				  				<div class="col-lg-2"><strong>Name:</strong> {{ identify_virus.seq_virus.name }}</div>
				  				<!-- <div class="col-lg-2"><strong>Coverage:</strong> {{ identify_virus.coverage }}</div>
				  				<div class="col-lg-2"><strong>Identity:</strong> {{ identify_virus.identity }}</div>
				  				<div class="col-lg-3"><strong>Accession:</strong> {{ identify_virus.seq_virus.accession }}</div> -->
				  			</div>
				  			<hr>
						{% endfor %}
						<p class="software"><strong>Software version: </strong> {% if spades_software %} {{ spades_software }}/{{ abricate_software }} {% endif %}</p>
					</div>
				</div>
			</div>
		</div>
		  
		<a href="{% url 'samples' %}" class="btn btn-small btn-primary dark"><span class="hidden-phone"><i class="fa fa-arrow-left"></i> Go back</span></a>
	{% endif %}
	
{% endblock %}

