{% extends '_layouts/base.html' %}

{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block css %}
	{% load static from staticfiles %}
		<link rel="stylesheet" href="{% static 'css/gijgo_1.6.1.css' %}" type="text/css" />
		<link rel="stylesheet" href="{% static 'css/error_add_html.css' %}" type="text/css" />
		<link rel="stylesheet" href="{% static 'css/sample-add.css' %}" type="text/css" />
{% endblock css %}

{% block extra_messages %}
	<!-- set the messages -->
	<div class="container">
		<div id="id_messages_remove"></div>
	</div>
{% endblock extra_messages %}

<!-- Breadcrumbs-->
{% block breadcrumbs %}
	{{ block.super }}
	{% breadcrumb "Samples" "samples" %}
	{% breadcrumb "Add a single sample" "sample-add" %}
{% endblock %}

<!-- Main content-->
{% block content %}
	
	{% crispy form %} 
	
	<!-- The remove Modal -->
	<div class="modal fade" id="modal_remove_data_database" >
		<div class="modal-dialog">
			<div class="modal-content">
   
  					<!-- Modal Header -->
  					<div class="modal-header alert alert-warning">
    					<h4 class="modal-title-remove">Remove</h4>
    					<button type="button" class="close" data-dismiss="modal">&times;</button>
  					</div>
  
  					<!-- Modal body -->
  					<div class="modal-body mx-auto mw-100">
  						<div id="modal-body-remove-sample" remove-single-value-url="{% url 'remove_single_value_database' %}">
  							<label id="id-label-remove" class="col-form-label">Folder Name</label>
   						</div>
  					</div>
  					<!-- Modal footer -->
  					<div class="modal-footer" id="id-modal-footer-remove">
    					<button id="id-remove-button" type="button" class="btn btn-primary" data-dismiss="modal">Remove</button>
    					<button type="button" class="btn btn-secondary" data-dismiss="modal" aria-hidden="true">Cancel</button>
  					</div>
			</div>
 		</div>
	</div>
	
	<!-- The add Modal -->
	<div class="modal fade" id="modal_add_data_database" >
		<div class="modal-dialog">
			<div class="modal-content">
   
  					<!-- Modal Header -->
  					<div class="modal-header alert alert-primary">
    					<h4 class="modal-title">Coverage</h4>
    					<button type="button" class="close" data-dismiss="modal">&times;</button>
  					</div>
  
  					<!-- Modal body -->
  					<div class="modal-body mx-auto mw-100">
  						<div id="modal-body-add-sample" add-single-value-url="{% url 'add_single_value_database' %}">
  							<div class="form-group row">
  								<label id="id-label-replace" class="col-6 col-form-label">Folder Name</label>
 								<div class="col-10">
         							<input class="form-control" id="id_name_to_insert" placeholder="" type="text" autocomplete="off"/>
       							</div>
       						</div>
  						</div>
  					</div>
  					<!-- Modal footer -->
  					<div class="modal-footer">
    					<button type="button" class="btn btn-secondary" data-dismiss="modal" aria-hidden="true">Cancel</button>
    					<button id="id-save-button" type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
  					</div>
			</div>
 		</div>
	</div>
	
{% endblock %}

 {% block js %}
 
 	 {% load static from staticfiles %}
 	 		<!-- Custom scripts for all pages-->
	    	<script type="text/javascript" src="{% static 'js/gijgo_1.6.1.js' %}"></script>
	    	<script type="text/javascript" src="{% static 'js/sample_add.js' %}"></script>
     		<script type="text/javascript" src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

 	<script>
		/* wait button */
		$(document).ready(function() { 
		    $('#submit-id-save').click(function() { 
		        $.blockUI({ css: { 
		            border: 'none', 
		            padding: '15px', 
		            backgroundColor: '#000', 
		            '-webkit-border-radius': '10px', 
		            '-moz-border-radius': '10px', 
		            opacity: .5, 
		            color: '#fff' 
		        } }); 
		    }); 
		});
	</script>
		    	
 {% endblock %}

