django==1.11.29
django-ipware==2.1.0
django-crequest==2018.5.11
django-embed-video==1.2.0
django-bootstrap-breadcrumbs==0.9.1
django-user-agents==0.3.2
django-crispy-forms==1.7.2
django-braces==1.13.0
django-tables2==1.16
django-nose==1.4.6
django-bootstrap4==0.0.8
pyyaml==5.4
ua-parser==0.8.0
user-agents==2.0
scipy==1.2.0
crispy-forms-foundation==0.7.0
NumPy==1.16.1
biopython==1.78
plotly==3.9.0
Pillow==8.1.2
psycopg2-binary
pysam
portalocker==1.4.0
python-decouple==3.1
bcbio-gff==0.6.6
python-dateutil==2.7.3
nanostat==1.4.0
nanofilt==2.6.0
chardet==3.0.4
ete3==3.1.2
