django==1.11.29
django-ipware==2.1.0
django-crequest
django-embed-video
django-bootstrap-breadcrumbs
django-user-agents
django-crispy-forms==1.7.2
django-braces
django-tables2==1.16
django-nose
django-bootstrap4==0.0.8
pyyaml
ua-parser
user-agents
scipy
crispy-forms-foundation
NumPy
biopython==1.78
plotly
Pillow
psycopg2
pysam
portalocker
python-decouple
bcbio-gff
humanfriendly
python-dateutil