django==1.11.20
django-ipware
django-crequest
django-embed-video
django-bootstrap-breadcrumbs
django-user-agents
django-crispy-forms
django-braces
django-tables2==1.16
django-nose
django-bootstrap4
pyyaml
ua-parser
user-agents
scipy
crispy-forms-foundation
NumPy
biopython
plotly
Pillow
psycopg2
pysam
portalocker
python-decouple
bcbio-gff