{% extends '_layouts/base.html' %}

{% block header %}
	<div class="page-header rounded-header">
    	<h2>Login, please.</h2>
	</div>
{% endblock  %}

{% block content %}
{% load crispy_forms_tags %}
<form class="form-horizontal" action="{% url 'login' %}" method="post">
    {% crispy form %}
</form>
<p></p>
<a href='{% url "get_message_confirm_email" %}'>Get another confirmation e-mail (check your spam first)</a>
{% endblock %}


{% block js %}

	{% load static from staticfiles %}
		<script type="text/javascript" src="{% static 'js/login.js' %}"></script>

{% endblock js %}
