{% extends '_layouts/base.html' %}

{% block css %}

{% endblock css %}

{% block header %}
	<div class="page-header rounded-header">
    	<h2>Reseting password.</h2>
	</div>
{% endblock  %}

{% block content %}
{% load crispy_forms_tags %}
<form class="form-horizontal" action="{% url 'reset_password' %}" method="post">
    {% crispy form %}
</form>
{% endblock %}

{% block js %}
	{% if use_recaptcha %}
		<script src='https://www.google.com/recaptcha/api.js'></script>
	{% endif %}
{% endblock js %}