{% extends '_layouts/base.html' %}

{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}

<!-- Breadcrumbs-->
{% block breadcrumbs %}
	{{ block.super }}
	{% breadcrumb "References" "references" %}
	{% breadcrumb "Add reference" "reference-add" %}
{% endblock %}

<!-- Main content-->
{% block content %}
	{% crispy form %}
{% endblock %}

{% block js %}
 	 {% load static from staticfiles %}
 	 		<!-- Custom scripts for all pages-->
	    	<script type="text/javascript" src="{% static 'js/flu-web-site.js' %}"></script>
 {% endblock %}