{% extends '_layouts/base.html' %}

{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block css %}

	{% load static from staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/flu-web-site.css' %}"/>
		<link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css"/>
		<!-- <link rel="stylesheet" type="text/css" href="https://igv.org/web/release/1.0.1/igv-1.0.1.css"> -->
		<link rel="stylesheet" type="text/css" href="https://igv.org/web/beta/igv.css">
{% endblock css %}

<!-- Breadcrumbs-->
{% block breadcrumbs %}
	{{ block.super }}
	{% breadcrumb "Projects" "projects" %}
	{% breadcrumb "Show project results" "show-sample-project-results" project_sample.project.id %}
	{% breadcrumb "Show sample detail results" "show-sample-project-single-detail" %}
{% endblock %}

{% block content %}
	{% if error_cant_see %}
		<hr>
		<p><strong>Sample not available</strong></p>
	{% else %}
		<div class="container-fluid">
			<hr>
			<div class="row">
				<div class="col-lg-3"><strong>Project Name:</strong> {{ project_sample.project.name }}</div>
				<div class="col-lg-3"><strong>Reference Name:</strong> {{ project_sample.project.reference.display_name }}</div>
				<div class="col-lg-3"><strong>Sample Name:</strong> {{ project_sample.sample.name }}</div>
				<div class="col-lg-3"><strong>#Alerts:</strong> {{ num_alerts }}</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-lg-3"><strong>Onset Date:</strong> {{ project_sample.sample.date_of_onset|date }}</div>
			  	<div class="col-lg-3"><strong>Collection Date:</strong> {{ project_sample.sample.date_of_collection|date }}</div>
			  	<div class="col-lg-3"><strong>Reception Date:</strong> {{ project_sample.sample.date_of_receipt_lab|date }}</div>
				<div class="col-lg-3"><strong>Week:</strong> {{ project_sample.sample.week }}</div> <!-- author detail link not yet defined -->
			</div>
			<hr>
			<div class="row">
				<div class="col-lg-3"><strong>Vaccine status:</strong> {{ project_sample.sample.vaccine_status.name }}</div>
			  	<div class="col-lg-3"><strong>Data set:</strong> {{ project_sample.sample.data_set.name }}</div>
			  	<div class="col-lg-3"><strong>Is obsolete:</strong> {{ project_sample.sample.is_obsolete }}</div>
			  	<div class="col-lg-3"><strong>Upload date:</strong> {{ project_sample.sample.creation_date|date }}</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-lg-3"><strong>Geolocation pos.(Lat, Lng):</strong> {{ project_sample.sample.geo_local.coords }}</div>
			  	<div class="col-lg-3"><strong>Type and subtype/lineage:</strong> {{ project_sample.sample.type_subtype }}</div>
			  	<div class="col-lg-3"><strong>Owner:</strong> {{ project_sample.sample.owner.username }}</div>
			</div>
			
			{% if extra_data_sample_expand %}
				<hr>
				<p class="insa-center-text"><a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Extra sample tags</a></p>
				<div class="collapse" id="collapseExample">
			{% endif %}
			
				{% for group in extra_data_sample %}
						<hr>
						<div class="row">
							{% for tag_names in group %}
								<div class="col-lg-3"><strong>{{ tag_names.tag_name.name }}:</strong> {{ tag_names.value }}</div>
							{% endfor %}	
						</div>
				{% endfor %}	
			
			{% if extra_data_sample_expand %}
				</div>
			{% endif %}
			<hr>
			
			<div id="accordion" role="tablist" aria-multiselectable="true">
				<!-- Card overall project-->
				<div class="card">
					<div class="card-header" role="tab" id="headingOne">
						<h5 class="mb-0">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
								<strong>Mapping file by IGV</strong> (explore '{{ project_sample.sample.name }}' bam file)
		        			</a>
		      			</h5>
		    		</div>
		
		    		<div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
		      			<div class="card-block">
		      				<div class="container-fluid">
		      					<br>
		      					<div class="regular_info_box form-inline">
							  		<div id="bam_file_id" class="col-lg-4"></div>
							  		<div id="bai_file_id" class="col-lg-4"></div>
							  		<div id="vcf_file_id" class="col-lg-4"></div>
		      					</div>
		      					<br>
		      					
		      					<!-- Show files to download, trees -->
		      					<div id='loader_igv_id'><img src="{{ spinner_url }}"/></div>
		        				<div id="show_igv_id" project_sample_id="{{ project_sample.id }}" show-igv-url="{% url 'show_igv' %}"></div>
		        			</div>
		      			</div>
		    		</div>
		  		</div>
		  	</div>
		  	<br>
	  	
			<!-- NAV tabs -->
			<div class="container">
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item active"><a class="nav-link fa fa-download" href="#download_files" role="tab" data-toggle="tab" > Download files</a></li>
					<li class="nav-item"><a class="nav-link fa fa-warning" href="#alerts" role="tab" data-toggle="tab"> Alerts</a></li>
				</ul>
	
				<div class="tab-content">
					<div id="download_files" role="tabpanel" class="tab-pane fade active box-blue">
						<p class="title-box">Files available to download</p>
						<!--   Download consensus for each element   -->	
						<div class="row">
							<div class="col-lg-4"><strong>Consensus:</strong> {{ consensus_file }}</div>
				  			<div class="col-lg-4"><strong>Snippy variants:</strong> {{ snippy_variants_file }}</div>
				  			<div class="col-lg-4"><strong>Freebayes variants:</strong> {{ freebayes_variants_file }}</div>
				  		</div>
				  		<hr>
					</div>
					<div id="alerts" role="tabpanel" class="tab-pane fade box-blue">
			    		<p class="title-box">Alerts for sample {{ project_sample.sample.name }}</p>
			    		{% if alerts  %}
				    		{% for alert in alerts  %}
				    			<div class="row">
									<div class="col-lg-12">{{ alert }}</div>
					  			</div>
					  			<hr>
					  		{% endfor %}
					  	{% else %}
					  		<p class="software">There's no alerts.</p>
						{% endif %}
			  		</div>
				</div>
			</div>
		</div>
		
  		<br>
		<a href="{% url 'show-sample-project-results' pk=project_sample.project.id %}" class="btn btn-small btn-primary dark"><span class="hidden-phone"><i class="fa fa-arrow-left"></i> Go back</span></a>
	{% endif %}
	
{% endblock %}

{% block js %}
 	 {% load static from staticfiles %}
 	 		<!-- Custom scripts for all pages-->
	    	<script type="text/javascript" src="{% static 'js/show-sample-project-single.js' %}"></script>
	    	<script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.7/es5-shim.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.3/es6-shim.js"></script>
			
			<!-- <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script> -->
			<!-- <script src="https://igv.org/web/release/1.0.1/igv-1.0.1.js"></script> -->
			<script type="text/javascript" src="https://igv.org/web/beta/igv-beta.min.js"></script>
{% endblock %}
