
/**
* used in header forms
*/
.rounded-header {
	border-radius: 10px;
	background: #246bce;
	border-color: #246bce;
	border-width: 115px;
	color: #ffffff;
	padding: 15px;
	margin-bottom: 30px;
}

.rounded-group-box {
    border-radius: 25px;
    border: 2px solid #246bce;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
}

/**
*	Increase size of container-fluid
*/
@media only screen and (min-width : 1000px) {
    .container { width: 1500px; } 
}

.box_tooltip_flu
{
	color: #ffc107;
}
