

.insaphylo_style_item_menu{
	margin: auto;
	display: block;
	padding: 3px;
	cursor: pointer;
	width: 130px;
}

.insaphylo_style_item_menu_text{
	margin-top: 13px;
	margin-bottom: 3px;
	text-align: center;
	color: white;
	line-height: 5px;
	font-size: 14px;
	padding: 5px;
}

.insaphylo_style_buttons_top_menu{
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
	cursor: pointer;
	width: 38px;
}

.insaphylo_style_buttons_left{
	display: block;
	padding: 5px 10px;
	padding-bottom: 10px;
	cursor: pointer;
	width: 45px;
}