
/*
 * Blog name and description
 */

/* Important part */
.disclaimer_main_page{
	font-size: 1.0rem;
	padding-left: 10px;
	padding-top: 15px;
}

.draft_assembly{
	font-size: 1.0rem;
}

/* modal dialog scroll */
.modal-dialog-disclaimer {
    overflow-y: initial !important;
}

.modal-body-disclaimer{
    height: 500px  !important;
    overflow-y: auto !important;
}
/* END modal dialog scroll */

.container {
  max-width: 60rem;
}

.insa-header {
  padding-bottom: 1.25rem;
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
}
.insa-title {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
  color: #006fc0;
  text-align: center;
}

.insa-post-title-news{
	margin-bottom: 0;
  	font-size: 1.2rem;
  	font-weight: normal;
  	color: #006fc0;
  	text-align: left;
}

.insa-description {
  font-size: 1.5rem;
  text-align: justify;
  padding:10px
}

.insa-description-process {
  background-color: #F6F6FF !important;
  color: #05264c !important;
  font-size: 1.6rem;
  text-align: center;
  padding:10px
}

.insa-description-read-more-header {
	font-size: 1.3rem;
	padding-left: 12px;
	padding-top: 12px;
	padding-bottom: 0px;
}

.login-demo-account {
	font-size: 1.4rem;
	padding-top: 12px;
	padding-bottom: 0px;
}

.insa-description-read-more {
	font-size: 1.2rem;
	text-align: justify;
	padding-left: 12px;
	padding-right: 12px;
}

.insa-description-read-more-first {
	font-size: 1.2rem;
	text-align: justify;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
}
.insa-description-read-more-last {
	font-size: 1.2rem;
	text-align: justify;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 12px;
}


.text-align-justify{
	text-align: justify;
}
.text-align-center{
	text-align: center;
}
.text-align-right{
	text-align: right;
}
.text-align-left{
	text-align: left;
}

.insa-h4 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #006fc0;
  text-align: left;
}

.insa-authors{
	font-size: 0.8rem;
	margin-top: 7px;
	margin-bottom: 0;
}
.insa-post-meta{
	font-size: 0.9rem;
}

.card{
	border: 0px
}
.card-text{
	margin-top: 7px;
	margin-bottom: 0;
}
.card-link{
	margin-top: 7px;
	margin-bottom: 0;
}

.card_paragraph{
	margin-top: 7px;
	margin-bottom: 0;
}
/*
 * Main column and sidebar layout
 */

/* Sidebar modules for boxing content */
.sidebar-module {
  padding-left: 1rem;
  padding-rigth: 1rem;
  padding-bottom: 0.4rem;
  padding-top: 0.2rem;
  /*margin: 0 -1rem 1rem;*/
}
.sidebar-module-inset {
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: .25rem;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

.remove_box_sizing{
	box-sizing: content-box;
}

.imagesMain {
   margin-left: auto;
   margin-right: auto;
   margin-top: 5px;
   text-align: center;
}
.imagesMain img {
   width: 300px;
   vertical-align: middle;
}
