{% extends '_layouts/base.html' %}

{% load django_bootstrap_breadcrumbs %}
{% load static %}

{% block css %}
	{% load static from staticfiles %}
		<link rel="stylesheet" href="{% static 'css/settings-index.css' %}" type="text/css" />
{% endblock css %}

{% block breadcrumbs %}
	{{ block.super }}
    {% breadcrumb "Settings Index" "settings-index"%}
{% endblock %}

{% block content %}
	
<h1>Settings</h1>
<div class="row">
    <div class="col-md-2">
        <div class="card mb-2">
            <img class="img-index" src="{% static "img/QC.jpg" %}">
            <div class="card-body">
                <h5 class="card-title">{{ 'QC' }}</h5>
                <p class="card-text">{{ 'Global Quality Control' }}</p>
                <a href="{% url 'settings_qc' %}"
                   class="btn btn-primary">
                    Settings
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card mb-2">
            <img class="img-index" src="{% static "img/typing.jpg" %}">
            <div class="card-body">
                <h5 class="card-title">{{ 'RefMap' }}</h5>
                <p class="card-text">{{ 'Sample profiling' }}</p>
                <a href="{% url 'settings' %}"
                   class="btn btn-primary">
                    Settings
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card mb-2">
            <img class="img-index" src="{% static "img/patho.jpg" %}">
            <div class="card-body">
                <h5 class="card-title">{{ "PathoFinder"}}</h5>
                <p class="card-text">{{ "Viral Pathogen identification" }}</p>
                <a href="{% url 'pathogenID_pipeline' %}"
                   class="btn btn-primary">
                   Settings
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card mb-2">
            <img class="img-index" src="{% static "img/phylo.jpg" %}">
            <div class="card-body">
                <h5 class="card-title">{{ "PhyloTree" }}</h5>
                <p class="card-text">{{ "Perform phylogenetic analysis" }}</p>
                <a href="{% url 'under_construction' %}"
                   class="btn btn-primary">
                    Go to page
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}