{% extends '_layouts/base.html' %}

{% load django_bootstrap_breadcrumbs %}
{% load static %}

{% block css %}
	{% load static from staticfiles %}
		<link rel="stylesheet" href="{% static 'css/settings-index.css' %}" type="text/css" />
{% endblock css %}

{% block breadcrumbs %}
	{{ block.super }}
    {% breadcrumb "Settings Index" "settings-index"%}
{% endblock %}

{% block content %}


<style>

    .img-index {
        width: 100%;
        object-fit: cover;
        border: 1px solid #ddd;
    }

    .col-md {
        max-width : 250px;
    }

    .card {
        height: 100%;
    }

</style>

<div class="containter-fluid">
    <div class="row">
        <div class="col-md">
            <div class="card mb-2">
                <img class="img-index" src="{% static "img/Logo_QC_INSaFlu.png" %}">
                <div class="card-body">
                    <h5 class="card-title">{{ 'Reads QC, improvement and classification' }}</h5>
                    <p class="card-text">{{ 'From reads to quality-processed reads and rapid classification' }}</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'settings_qc' %}"
                        class="btn btn-primary">
                        Settings
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card mb-2">
                <img class="img-index" src="{% static "img/Logo_TELEVIR_INSaFlu.png" %}">
                <div class="card-body">
                    <h5 class="card-title">{{ "Virus Detection"}}</h5>
                    <p class="card-text">{{ "From Reads to viral detection" }}</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'pathogenID_pipeline' level=0 %}"
                    class="btn btn-primary">
                        Settings
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card mb-2">
                <img class="img-index" src="{% static "img/Logo_insaflu.png" %}">
                <div class="card-body">
                    <h5 class="card-title">{{ 'Reference-based genome assembly' }}</h5>
                    <p class="card-text">{{ 'From reads to consensus sequence, mutations list, alignments, Pango lineage classification, etc' }}</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'settings' %}"
                    class="btn btn-primary">
                        Settings
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card mb-2">
                <img class="img-index" src="{% static "img/Logo_NEXTSTRAIN_INSaFlu.png" %}">
                <div class="card-body">
                    <h5 class="card-title">{{ "Nextstrain" }}</h5>
                    <p class="card-text">{{ "From consensus sequences to phylogeographic and temporal analysis and metadatada navigation" }}</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'under_construction' %}"
                    class="btn btn-primary">
                        Settings
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}