{% extends '_layouts/base.html' %}

{% load bootstrap4 %}
{% load querystring from django_tables2 %}
{% load title from django_tables2 %}
{% load trans blocktrans from i18n %}
{% load django_bootstrap_breadcrumbs %}
{% load define_action %}

{% block css %}
	{% load static from staticfiles %}
		<link rel="stylesheet" href="{% static 'css/flu-web-site.css' %}" type="text/css" />
		<link rel="stylesheet" href="{% static 'css/main-page.css' %}" type="text/css" />
{% endblock css %}

{% block extra_messages %}
	<!-- set the messages -->
	<div class="container">
		<div id="id_messages_set_default"></div>
	</div>
{% endblock extra_messages %}

{% block breadcrumbs %}
	{{ block.super }}
	
	<!-- can edit settings in project sample or to overall projects -->
	{% if project_settings %}
		{% breadcrumb "Projects" "projects" %}
		{% breadcrumb "Project settings" "project-settings" %}
	{% elif dataset_settings %}
		{% breadcrumb "Datasets" "datasets" %}
		{% breadcrumb "Dataset settings" "dataset-settings" %}		
	{% elif project_sample_settings %}
		{% breadcrumb "Projects" "projects" %}
		{% breadcrumb "Show project results" "show-sample-project-results" project_sample.project.pk %}
		{% breadcrumb "Project sample settings" "sample-project-settings" %}
	{% elif sample_settings %}
		{% breadcrumb "Samples" "samples" %}
		{% breadcrumb "Samples settings" "sample-settings" sample.pk %}
	{% elif qc_settings %}	<!-- Default settings QC -->
		{% breadcrumb "Settings Index" "settings-index" %}
		{% breadcrumb "Settings QC" "settings_qc" %}
	{% elif settings_pathogenid %}	<!-- Default settings QC -->
		{% breadcrumb "Settings Index" "settings-index" %}
		{% breadcrumb "Settings Pathogen Identification" "pathogenID_pipeline" %}	
    {% elif settings_pathid_project %}	<!-- Default settings QC -->
        {% breadcrumb "Project Index" "project-index" %}
        {% breadcrumb "TELEVIR Projects" "PIprojects_main" %}
		{% breadcrumb project_name "pathogenID_pipeline" project_id %}		
    {% else %}	<!-- Default settings -->
		{% breadcrumb "Settings Index" "settings-index" %}
		{% breadcrumb "Settings RefMap" "settings" %}
	{% endif %}
{% endblock %}

{% block content %}

	{% if error_cant_see %}
		<hr>
		<p><strong>Project sample settings not available</strong></p>
	{% else %}
		
		<!-- test if there's any software -->
		{% if all_softwares|length == 0 %}
			<hr>
			<p class="insa-description-process" style="text-align: center;">There's no software to show</p>
		{% else %}
			<!-- Info settings -->
			<hr>
			{% if main_settings %}
				<p class="insa-description-process" style="text-align: center;">Please choose <strong>your software settings</strong> 
					before uploading new samples to your account.</p>
			{% else %}
				<p class="insa-description-process" style="text-align: center;">Please choose <strong>your software settings</strong></p>
			{% endif %}
		
			<!-- NAV tabs -->
			<div >
				<ul id="main_tab" class="nav nav-tabs p-0 justify-content-end justify-content-md-center" role="tablist">
					{% for unique_software_id, software, vect_pipeline in all_softwares %}
						<li class="nav-item"><a class="nav-link fa fa-align-justify"
							href="#{{unique_software_id}}" role="tab" data-toggle="tab"
							index_main="{{forloop.counter0}}" number_indexes="{{all_softwares|length}}"> {{ software }}</a></li>
	                {% endfor %}
				</ul>
				
				<div class="tab-content">
					{% for unique_software_id, software, vect_pipeline in all_softwares %}
						<div id="{{unique_software_id}}" role="tabpanel" class="tab-pane fade box-blue">
							<hr>
							<div >
								<ul id="second_tab_{{forloop.counter0}}" number_pipelines="{{vect_pipeline|length}}"
									class="nav nav-tabs p-0 justify-content-end justify-content-md-center" role="tablist">
									{% for unique_pipeline_id, pipeline_name, table in vect_pipeline %}
										<li class="nav-item"><a class="nav-link fa fa-align-justify" 
											href="#{{unique_pipeline_id}}" role="tab" data-toggle="tab" > {{ pipeline_name }}</a></li>
					                {% endfor %}
								</ul>
								
								<div class="tab-content">
									<!--  for each pipeline -->
									{% for unique_pipeline_id, pipeline_name, table in vect_pipeline %}
										<div id="{{unique_pipeline_id}}" role="tabpanel" class="tab-pane fade box-blue">
											<hr>
											<div class="table-responsive">  <!-- start table -->
									        	<table class="table table-hover table-bordered table-striped"{% if table.attrs %} {{ table.attrs.as_html }} {% endif %}>
										            {% block table.thead %}
										            <thead>                 
										                <tr class="alert alert-primary">
										                    <th colspan="7">
										                    	{% if project_settings %}
										                    		<div class="header-software-settings">Software parameters for project: '{{project.name}}'</div>
													{% elif dataset_settings %}
										                    		<div class="header-software-settings">Software parameters for dataset: '{{dataset.name}}'</div>	
										                    	{% elif project_sample_settings %}
										                    		<div class="header-software-settings">Software parameters for project: '{{project_sample.project.name}}' and sample: '{{project_sample.sample.name}}'</div>
										                    	{% elif sample_settings %}
										                    		<div class="header-software-settings">Software parameters for sample: '{{sample.name}}'</div>
										                    	{% else %}
										                    		<div class="header-software-settings">Global software parameters</div>
										                    	{% endif %}
										                    </th>                  
										                </tr>
										             
										              	<tr>
										                	{% for column in table.columns %}
										                    	<th {{ column.attrs.th.as_html }}>{{ column.header|title }}</th>
										               	 	{% endfor %}
										              	</tr>
										            </thead>
										            {% endblock table.thead %}
										            {% block table.tbody %}
										            <tbody>
										                {% for row in table.page.object_list|default:table.rows %} {# support pagination #}
										                  	{% block table.tbody.row %}
										                  	<tr id="row_{{ row.record.id }}" class="{% cycle "odd" "even" %}">
										                      	{% for column, cell in row.items %}
										                          	<td {{ column.attrs.td.as_html }}>{{ cell }}</td>
										                      	{% endfor %}
										                  	</tr>
										                  	{% endblock table.tbody.row %}
										                		{% empty %}
										                  		{% if table.empty_text %}
											                		{% block table.tbody.empty_text %}
											                  			<tr><td colspan="{{ table.columns|length }}">{{ table.empty_text }}</td></tr>
											                  		{% endblock table.tbody.empty_text %}
										                  		{% endif %}
										                {% endfor %}
										            </tbody>
										            {% endblock table.tbody %}
										            {% block table.tfoot %}
										            	<tfoot></tfoot>
										            {% endblock table.tfoot %}
										        </table>
											</div>	<!-- end table -->
									    </div>	<!-- end tabpanel -->
										
									{% endfor %}
								</div>
							</div>	
						</div>	<!-- robpanel -->
					{% endfor %}
				</div>	<!-- tab-content -->
			</div> <!-- container -->
			
			<br>
			<p class="insa-description bg-insa-fixed-top" style=""><strong>Note:</strong> you should fit the parameters
				to the conditions you are working with, e.g., default end’s trimming size for ONT may be
				too restrictive depending on design of your tiling amplicon multiplex PCR method and on
				your sequencing protocol (if reads are or not already trimmed/clipped).</p>
		{% endif %}
		<!-- End length softwares to show -->
		
		<!--  Go back  function -->	
		{% if project_settings %}
			<br>
			<a id="id_go_back_button" href="{% url 'projects' %}" class="btn btn-small btn-primary dark"><i class="fa fa-arrow-left"></i> Go back</a>
		{% elif dataset_settings %}
			<br>
			<a id="id_go_back_button" href="{% url 'datasets' %}" class="btn btn-small btn-primary dark"><i class="fa fa-arrow-left"></i> Go back</a>			
		{% elif project_sample_settings %}
			<br>
			<a id="id_go_back_button" href="{% url 'show-sample-project-results' project_sample.project.pk %}" class="btn btn-small btn-primary dark"><i class="fa fa-arrow-left"></i> Go back</a>
		{% elif sample_settings %}
			<br>
			<a id="id_go_back_button" href="{% url 'samples' %}" class="btn btn-small btn-primary dark"><i class="fa fa-arrow-left"></i> Go back</a>
		{% elif settings_pathogenid %}
            <br> 
            <a id="id_go_back_button" href="{% url 'settings-index' %}" class="btn btn-small btn-primary dark"><i class="fa fa-arrow-left"></i> Go back</a>
        {% elif settings_pathid_project %}
        <br> 
        <a id="id_go_back_button" href="{% url 'PIprojects_main' %}" class="btn btn-small btn-primary dark"><i class="fa fa-arrow-left"></i> Go back</a>
        {% endif %}
		
		<!-- Set default Modal -->
		<div class="modal fade" id="id_set_default_modal" >
			<div class="modal-dialog">
				<div class="modal-content">
	   
	  					<!-- Modal Header -->
	  					<div class="modal-header alert alert-warning">
	    					<h4 id="id-modal-title-remove" class="modal-title-remove">Set default parameters</h4>
	    					<button type="button" class="close" data-dismiss="modal">&times;</button>
	  					</div>
	  
	  					<!-- Modal body -->
	  					<div class="modal-body mx-auto mw-100">
	  						<div id="id-modal-body-set-default" remove-single-value-url="{% url 'default_parameters' %}">
	  							<label id="id-label-set-default" class="col-form-label">Folder Name</label>
	   						</div>
	  					</div>
	  					<!-- Modal footer -->
	  					<div class="modal-footer" id="id-modal-footer-remove">
	    					<button id="id-set-default-button" type="button" class="btn btn-primary" data-dismiss="modal">Set default</button>
	    					<button type="button" class="btn btn-secondary" data-dismiss="modal" aria-hidden="true">Cancel</button>
	  					</div>
				</div>
	 		</div>
		</div>
		
		<!-- Set default Modal -->
		<div class="modal fade" id="id_turn_software_on_off" >
			<div class="modal-dialog">
				<div class="modal-content">
	   
  					<!-- Modal Header -->
  					<div class="modal-header alert alert-warning">
    					<h4 class="modal-title-turn-on-off">Turn ON/OFF software</h4>
    					<button type="button" class="close" data-dismiss="modal">&times;</button>
  					</div>
  
  					<!-- Modal body -->
  					<div class="modal-body mx-auto mw-100">
  						<div id="id-modal-body-turn-software-on-off">
  							<label id="id-label-turn-on-off" class="col-form-label">Folder Name</label>
   						</div>
  					</div>
  					<!-- Modal footer -->
  					<div class="modal-footer">
    					<button type="button" id="id-set-turn-on-off-button" class="btn btn-primary" data-dismiss="modal">Apply</button>
    					<button type="button" class="btn btn-secondary" data-dismiss="modal" aria-hidden="true">Cancel</button>
  					</div>
				</div>
	 		</div>
		</div>
		
		<!-- Define limits to mask sequences -->
		<div class="modal fade" id="id_set_positions_to_mask_regions" mask-consensus-url="{% url 'mask_consensus' %}" \
					mask-consensus-actual-values-url="{% url 'mask_consensus_actual_values' %}" >
			<div class="modal-dialog">
				<div class="modal-content">
   
					<!-- Modal Header -->
					<div class="modal-header alert alert-primary">
						<h4 id="id_tile_mask_consensus" class="modal-title-remove">Set positions to mask consensus</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
  
					<!-- Modal body -->
					<div class="modal-body mx-auto mw-100">
						<!-- Warning -->
						<div class="row"> 
	  						<div class="col-sm-12">
	  							<div id="id_message_warning_project"></div>
	  						</div>
	  					</div>
						<div class="row"> 
	  						<div class="col-sm-12">
	  							<label id="id-label-name" class="col-form-label extra_info">Reference</label>
	  						</div>
	  					</div>
	  					<div class="row"> 
	  						<div class="col-sm-12">
	  							<label id="id_select_sites" class="col-form-label"> Element: </label>
	  							<select id="combo_select_elements_mask_id" class="custom-select mx-sm-3">
			      				</select>
			      				<label id="id_select_length" class="col-form-label"> </label>
	  						</div>
	  					</div>
	  					<div class="row"> 
	  						<div class="col-sm-6"> 
	  							<div id="div_id_mask_sites" class="form-group"> 
	  								<label for="id_mask_sites" class="col-form-label"> Mask sites </label>
	  								<div class=""> <input type="text" name="mask sites" maxlength="200" class="textinput textInput form-control"
	  									id="id_mask_sites"  value="" placeholder="34,67,4" > <!--  value="3232,23,23" pattern="([0-9]{1,},){1,}"--> 
	  									<small id="hint_id_mask_sites" class="form-text text-muted">Mask consensus in a specific positions. Positions separated by comma. Positions are 1-indexed. Ex: 34,67,4</small> 
	  								</div> 
	  								<div id="id_mask_sites_error"></div>
	  							</div> 
	  						</div>
							<div class="col-sm-6">
								<div id="div_id_mask_regions" class="form-group">
									<label for="id_mask_regions" class="col-form-label "> Mask regions </label>
									<div class=""> <input type="text" name="mask_regions" maxlength="200" class="textinput textInput form-control"
										id="id_mask_regions" value="" placeholder="30-60,100-453"> 
										<small id="hint_id_mask_regions" class="form-text text-muted">Mask consensus by regions. Region limits separated by dash. More than one region separated by comma. Positions are 1-indexed. Ex: 30-60,100-453</small>
									</div>
									<div id="id_mask_regions_error"></div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div id="div_id_mask_from_beginning" class="form-group">
									<label for="id_mask_from_beginning" class="col-form-label "> Mask from beginning </label>
									<div class=""> <input type="text" name="mask_from_beginning" maxlength="200" class="textinput textInput form-control"
										id="id_mask_from_beginning" value="" placeholder="110"> 
										<small id="hint_id_mask_from_beginning" class="form-text text-muted">Mask consensus from beginning till this position. Positions are 1-indexed.</small>
									</div>
									<div id="id_mask_from_beginning_error"></div>
								</div>
							</div> 
	  						<div class="col-sm-6"> 
	  							<div id="div_id_mask_till_ends" class="form-group"> 
	  								<label for="id_mask_till_ends" class="col-form-label"> Mask from end </label>
	  								<div class=""> <input type="text" name="mask from ends" maxlength="200" class="textinput textInput form-control"
	  									id="id_mask_till_ends" value="" placeholder="453"> 
	  									<small id="hint_id_mask_from_ends" class="form-text text-muted">Mask consensus from end to this position. Positions are 1-indexed.</small> 
	  								</div> 
	  								<div id="id_mask_from_till_error"></div>
	  							</div> 
	  						</div>
						</div>
  					</div>
  					<!-- Modal footer -->
  					<div class="modal-footer" id="id-modal-footer-remove">
    					<button id="id-mask-consensus" type="button" class="btn btn-primary" data-dismiss="modal">Mask Consensus</button>
    					<button type="button" class="btn btn-secondary" data-dismiss="modal" aria-hidden="true">Cancel</button>
  					</div>
				</div>
	 		</div>
		</div>
	{% endif %}   <!-- error_cant_see -->
{% endblock content %}

{% block js %}
	{% load static %}
		<script type="text/javascript" src="{% static 'js/settings/set-default-parameters.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/settings/turn-on-off-software.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/settings/mask_consensus.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/settings/set_nav_tab.js' %}"></script>
	
	<script>
		
		/// set wait screen
		$('#id_go_back_button').on('click', function(){
			wait_screen();
		});
	</script>
	
{% endblock %}
