{% extends '_layouts/base.html' %}

{% load view_breadcrumbs %}
{% load crispy_forms_tags %}

{% block css %}
	{% load static %}
		<link rel="stylesheet" href="{% static 'css/error_add_html.css' %}" type="text/css" />
{% endblock css %}

{% block extra_messages %}
	<!-- set the messages -->
	<div class="container">
		<div id="id_messages_remove"></div>
	</div>
{% endblock extra_messages %}


{% block content %}
	
	{% if error_cant_see %}
		<div class="alert alert-danger ">Your credentials don't allow you to access this page.</div>
	{% else %}
		{% crispy form %} 
	{% endif %}

{% endblock content%}


{% block js %}
	{% load static %}
	
	<script>	
		/// set wait screen 
		$(document).ready(function() { 
			$.unblockUI();
		});
	</script>
    
	
{% endblock %}



