

.container table 

    tbody td {
    font-size: 12px;
    }
    .table thead,tfoot{
    font-weight: bold;
    font-size: 14px;
    }

    .table .max {
    background: rgb(255, 210, 112);
    color: white;
    }


.container .styled-table {
    border: none;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
}

.container .styled-table thead tr {
    background-color: #0689c5;
    color: #ffffff;
    text-align: left;
}

.container .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.container .styled-table tbody tr:nth-of-type(even) {
    background-color: white;
}

.container .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #0689c5;
}
