<!DOCTYPE>
<html>
<head>
    <title>{% block title %}PyCon Survival Guide{% endblock title %}</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <style>
        body {
            padding-bottom: 20px;
            padding-top: 70px;
        }
        .messages {
            list-style: none;
        }
    </style>
    {% block css %}{% endblock css %}
</head>

<!-- https://stackoverflow.com/questions/21544636/bootstrap-floating-navbar-button-right -->
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="{% url 'home' %}">PyCon Survival Guide</a>
	        {% if not user.is_authenticated %}
				<a href="{% url 'signup' %}" class="btn btn-default navbar-btn">Register</a>
				<a href="{% url 'login' %}" class="btn btn-default navbar-btn">Login</a>
			{% else %}
				<span class="text-success">  {{ user.username }}  </span>
				<a href="{% url 'logout' %}" class="btn btn-default navbar-btn pull-right">Logout</a>
			{% endif %}
        </div>
        <div class="navbar-collapse collapse">
	        <ul class="nav navbar-nav">
	          <li class="active"><a href="#">Home</a></li>
	          <li><a href="#about">About</a></li>
	
	        </ul>
	        <ul class="nav navbar-nav navbar-right">
	          <li><a href="#contact">Contact</a></li>
	        </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
    
    {% if messages %}
		<ul class="messages">
    		{% for message in messages %}
    			<li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
    		{% endfor %}
		</ul>
	{% endif %}

    <div class="jumbotron">
        <div class="container">{% block headline %}{% endblock headline %}</div>
    </div>
    <div class="container">
        {% block content %}{% endblock content %}
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    {% block js %}{% endblock js %}
</body>
</html>