{% extends '_layouts/base.html' %}

{% load static from staticfiles %}

{% block css %}
	{% load static from staticfiles %}
		<!-- pre-define in-house css for main page-->
		<link rel="stylesheet" href="{% static 'css/main-page.css' %}" type="text/css" />
{% endblock css %}

{% block headline %}
{% endblock headline %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-8">
				<div class="insa-header">
			        	<h1 class="insa-title" style="margin:10px">From “reads” to WGS-based first-line influenza laboratory surveillance</h1>
			        	<p class="insa-description bg-insa-fixed-top" style="padding:10px">INSaFLU (“INSide the FLU”) is an influenza-specific bioinformatics free web-based suite that deals
								  with primary data (reads) towards the automatic generation of the output data that are actually the core first-line 
								  “genetic requests” for effective and timely influenza laboratory surveillance (e.g., type and sub-type, gene and 
								  whole-genome consensus sequences, variants annotation, alignments and phylogenetic trees). Data integration is continuously 
								  scalable, fitting the need for a real-time epidemiological surveillance during the flu epidemics.</p>
			    </div>
			    
			    <div class="card">
					<div class="card-block">
						<h4 class="card-title">Future Directions</h4>
						<p class="card-text">INSaFLU is under active development in order to have additional features, such as modules to automatically 
						detect virus reassortment and to perform temporal and geographical data integration and visualization.</p>
					<!-- 	<a href="#" class="card-link">Card link</a>
						<a href="#" class="card-link">Another link</a> -->
					</div>
				</div>
				<p> </p>
				<div class="card">
					<div class="card-block">
						<h4 class="card-title">How to cite</h4>
						<p class="card-text">If you use INSaFLU in your work, please cite this publication:</p>
					 	<a href="#" class="card-link">Borges V, Pinheiro M et al. 2018, bioRxiv</a>
					</div>
				</div>
				<p> </p>
				<div class="card">
					<div class="card-block">
						<h4 class="card-title">Contacts</h4>
						<p class="card-text">If you have any questions, comments or suggestions, please contact us:</p>
					 	<a href="mailto:vitor.borges@insa.min-saude.pt?subject=InsaFlu" class="card-link">vitor.borges at insa.min-saude.pt</a>
					 	<a href="mailto:j.paulo.gomes@insa.min-saude.pt?subject=InsaFlu" class="card-link">j.paulo.gomes at insa.min-saude.pt</a>
					</div>
				</div>
				
				<p> </p>
				<div class="row">
					<img src="{% static 'insa/Republica_Portuguesa_logo.svg' %}" style="width:180px; padding-right:30px; padding-top:15px" id='rep_portuguese_logo_id'>
					<img src="{% static 'insa/SNS_logo.svg' %}" style="width:180px; padding-right:10px" id='sns_logo_id'>
					<img src="{% static 'insa/insa_logo.png' %}" style="width:230px; height:80px; padding-right:12px; padding-top:35px" id='insa_logo_id'>
				</div>
			</div>
			
			<div class="col-sm-3 offset-sm-1 insa-sidebar">
				<img src="{% static 'insa/insaflu_logo.png' %}" style="width:250px; padding-right:25px; padding-top:15px; padding-bottom:15px" id='main_logo_id'>
				<div class="sidebar-module">
					<ol class="list-unstyled" style="font-size: 1.3rem;">
						<li><a href="#" target="_blank">Find here a pre-NGS wet-lab protocol</a></li>
						<li><a href="#" target="_blank">Find here how to design a NGS run</a></li>
					</ol>
          		</div>
				<div class="sidebar-module">
					<h4 class="insa-h4">News</h4>
					<div class="insa-post">
		            	<h2 class="insa-post-title-news">INSaFLU 1.0.0 was launched.</h2>
		            	<p class="insa-post-meta">January 15, 2018 by <a href="#" target="_blank">Vitor Borges</a></p>
		            	<p class="insa-news">The first release of INSaFLU was available for the flu community. This platform supplies public health laboratories
							and influenza researchers with an open “one size fits all” bioinformatics framework that potentiates a global WGS-based
							flu surveillance.</p>
		            	<hr>
		            </div>
          		</div>
				<div class="sidebar-module">
					<h4 class="insa-h4">Useful links</h4>
					<ol class="list-unstyled">
					<li><a href="https://www.fludb.org" target="_blank">Influenza Research Database/Fludb</a></li>
					<li><a href="https://nextflu.org" target="_blank">Nextflu</a></li>
					<li><a href="https://www.gisaid.org/" target="_blank">EpiFLU/GISAID</a></li>
					<li><a href="https://www.ncbi.nlm.nih.gov/genomes/FLU/Database/nph-select.cgi?go=database" target="_blank">NCBI Influenza Virus Resource</a></li>
					<li><a href="http://openflu.vital-it.ch/browse.php" target="_blank">OpenFluDB</a></li>
					<li><a href="https://ecdc.europa.eu/en/seasonal-influenza" target="_blank">ECDC</a></li>
					<li><a href="https://www.cdc.gov/flu/index.htm" target="_blank">CDC</a></li>
					<li><a href="https://microreact.org/showcase" target="_blank">Microreact</a></li>
					<li><a href="https://jameshadfield.github.io/phandango/#/" target="_blank">Phandango</a></li>
					<li><a href="http://www.phyloviz.net/" target="_blank">PHYLOViZ</a></li>
					</ol>
				</div>
				
				<div class="sidebar-module sidebar-module-inset">
					<h6>INSaFLU version 1.0.0</h6>
					<p class="insa-authors">Pipeline developed by Vítor Borges and Miguel Pinheiro.</p>
					<p class="insa-authors">Website by Miguel Pinheiro.</p>
				</div>
				<p> </p>
			</div><!-- /.blog-sidebar -->
		</div> <!-- row -->
	</div>
{% endblock %}