{% extends '_layouts/base.html' %}

{% load bootstrap4 %}
{% load querystring from django_tables2 %}
{% load title from django_tables2 %}
{% load trans blocktrans from i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block css %}
{% endblock css %}

{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Projects" "projects" %}
{% breadcrumb "Create a project" "project-add" %}
{% endblock %}

{% block content %}

<br>
<form id="id_form_table_project_reference" action=""
	data-validate-project-reference-url="{% url 'validate-project-reference' %}" method="post">{% csrf_token %}
	<div>
		<div class="row">
			<div class="col-sm-2">
				<label for="id_name" class="form-control-label requiredField">Project Name<span
						class="asteriskField">*</span> </label>
			</div>
			<div class="col-sm-4">
				<div id="div_id_name" class="form-group">
					<input type="text" {% if project_name %} value="{{ project_name }}" {% endif %} name="name"
						class="textinput textInput form-control js-validate-project-reference-name" id="id_project_name"
						required="" maxlength="100" placeholder="Project name">
					<div id='id_project_name_error'>
						{% if error_project_name %} <span id="error_1_id_name" class="fields_error">
							{{ error_project_name }} </span> {% endif %}
					</div>
					<small id="hint_id_name" class="text-muted">Unique identifier for this project</small>
				</div>
			</div>
		</div>
	</div>

	{% if table.page and show_paginatior %}
	<div class="table-container">
		{% endif %}

		{% block table %}
		<div class="table-responsive">
			<div id='id_reference_error'>
				{% if error_reference %} <span id="error_1_reference" class="fields_error"> {{ error_reference }}
				</span> {% endif %}
			</div>
			<table id="table_with_check_id" class="table table-hover table-bordered table-striped"
				set-check-box-values-url="{% url 'set-check-box-values' %}" {% if table.attrs %}
				{{ table.attrs.as_html }}{% endif %}>
				{% block table.thead %}
				<thead>
					<tr>
						<th colspan="6">
							<form method="get" class="form-inline form-search pull-left">
								<label>Select a reference, please</label>
							</form>
							<form method="get" class="form-inline form-search pull-right">
								{% csrf_token %}
								<input id="search_form_id" name="search_references" type="text"
									class="form-control col-sm-7" placeholder="Name, Owner, Isolate name"
									{% if search_references %} value="{{ search_references }}" {% endif %}>
								<button type="submit" class="btn btn-small btn-dark"><i class="fa fa-search"></i>
									Search</button>
							</form>
						</th>
					</tr>

					<tr>
						{% for column in table.columns %}
						{% if column.orderable %}
						<th {{ column.attrs.th.as_html }}><a
								href="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}">{{ column.header|title }}</a>
						</th>
						{% else %}
						<th {{ column.attrs.th.as_html }}>{{ column.header|title }}</th>
						{% endif %}
						{% endfor %}
					</tr>
				</thead>
				{% endblock table.thead %}
				{% block table.tbody %}
				<tbody>
					{% for row in table.page.object_list|default:table.rows %} {# support pagination #}
					{% block table.tbody.row %}
					<tr class="{% cycle "odd" "even" %}">
						{% for column, cell in row.items %}
						<td {{ column.attrs.td.as_html }}>{{ cell }}</td>
						{% endfor %}
					</tr>
					{% endblock table.tbody.row %}
					{% empty %}
					{% if table.empty_text %}
					{% block table.tbody.empty_text %}
					<tr>
						<td colspan="{{ table.columns|length }}">{{ table.empty_text }}</td>
					</tr>
					{% endblock table.tbody.empty_text %}
					{% endif %}
					{% endfor %}
				</tbody>
				{% endblock table.tbody %}
				{% block table.tfoot %}
				<tfoot></tfoot>
				{% endblock table.tfoot %}
			</table>
		</div>
		{% endblock table %}

		{% if table.page and show_paginatior %}
		{% block pagination %}
		{% bootstrap_pagination table.page url=request.get_full_path %}
		{% endblock pagination %}
	</div>
	{% endif %}

	<input type="submit" name="save" value="Save" class="btn btn-primary btn-primary" id="submit-id-save" />
	<input type="button" name="cancel" value="Cancel" class="btn btn-secondary" id="button-id-cancel"
		onclick="window.location.href='/managing_files/project/projects'">
</form>
{% endblock %}

{% block js %}
{% load static from staticfiles %}
<!-- Custom scripts for all pages-->
<script type="text/javascript" src="{% static 'js/project/project-add.js' %}"></script>

<script>
	$(document).ready(function () {
		$('#submit-id-save').click(function () {
			wait_screen();
		});
	});
</script>
{% endblock %}