{% extends '_layouts/base.html' %}

{% load django_bootstrap_breadcrumbs %}
{% load static %}

{% block css %}
{% load static from staticfiles %}
<link rel="stylesheet" href="{% static 'css/settings-index.css' %}" type="text/css" />
{% endblock css %}

{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Project Index" "project-index"%}
{% endblock %}

{% block content %}



<h1>Projects</h1>
<div class="row">
    <div class="col-md-3">
        <div class="card mb-2">
            <img class="img-index" src="{% static "img/insa.jpg" %}">
            <div class="card-body">
                <h5 class="card-title">{{ 'INSAFLU' }}</h5>
                <p class="card-text">{{ 'old projects' }}</p>
                <a href="{% url 'projects' %}" class="btn btn-primary">
                    Projects
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-2">
            <img class="img-index" src="{% static "img/televir.jpg" %}">
            <div class="card-body">
                <h5 class="card-title">{{ 'TELEVIR' }}</h5>
                <p class="card-text">{{ 'new projects' }}</p>
                <a href="{% url 'PIprojects_main' %}" class="btn btn-primary">
                    Projects
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-2">
            <img class="img-index" src="{% static "img/nextrain.jpg" %}">
            <div class="card-body">
                <h5 class="card-title">{{ 'phylogeny' }}</h5>
                <p class="card-text">{{ 'PHYLOGENY' }}</p>
                <a href="{% url 'PIprojects_main' %}" class="btn btn-primary">
                    Projects
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}